[2020-04-28 17:35] jlewi opened #1 "Setup triage action workflow"
I have configured the triage workflow but I think we are missing the required secrets. I think we need a GitHub token to modify the repo

[2020-04-28 17:37] jlewi commented on #1
Instructions
https://github.com/kubeflow/code-intelligence/tree/master/Issue_Triage/action#installing-the-action-on-a-repository

[2020-04-28 17:38] jlewi commented on #1
I created the secret which is stored in Google's internal secrets manager.
Can close this issue as soon as we verify the action can run.

[2020-04-30 19:38] jlewi opened #3 "Bug in README for management setup"
https://github.com/kubeflow/gcp-blueprints/tree/master/management

Environment variables aren't properly escaped.

[code]

is wrong

should be

[code]

[2020-05-01 01:06] jlewi opened #4 "Add instructions for deploying with ConfigSync/ACM"
We should add instructions for deploying with ConfigSync/ACM.

ConfigSync can install KCC so we don't have to do that piece.

However, the current version of KCC is too old and incompatible with some of our specs. So we need to wait for the next version.

[2020-05-04 19:27] jlewi opened #5 "Setup autodeploy for GCP blueprints"
We should setup the auto-deploy infrastructure to autodeploy from blueprints.

This way we ensure that our GCP blueprint is up to date and working.

[2020-05-04 19:49] jlewi opened #6 "Make regional deployments work; what to do about the disks for metadata"
We would like to support regional deployments of Kubeflow; i.e. use a regional cluster. Ideally this would be the default deployment since regional clusters are more reliable and there is minimal cost savings to using a zonal cluster.

One issue we need to resolve is what to do about the disks backing up the metadata DB.

We should be able to use regional PDs.
https://cloud.google.com/compute/docs

[2020-05-05 19:52] jlewi commented on #5
auto-deploy is running on cluster `kf-ci-v1`.

I made the service account `kf-ci-v1-user@kubeflow-ci.iam.gserviceaccount.com` an owner of projects in folder `ci-projects` so that it would be able to deploy in project kubeflow-ci-deployment.

[2020-05-05 21:11] jlewi opened #8 "Get rid of dependency on yq"
Right now the Makefile uses `yq` to extract the value of various kpt setters.

I filed GoogleContainerTools/kpt#542 to support this natively in kpt.

[2020-05-05 23:08] jlewi opened #9 "Make "hack" its own package that is fetched with kpt"
Right now we are duplicating scripts like "create_context.sh" in `manifests/hack` and `kubeflow/hack`.

Instead we could make `hack` its own kpt package and then fetch it into `upstream` so we reuse
the same scripts across the blueprints.

[2020-05-05 23:44] jlewi opened #10 "Remove dependency on istioctl"
Currently we need to use istioctl to install ASM.

AnthosCLI wasn't working to install ASM on an existing cluster. I think the problem is that AnthosCLI doesn't have an option to just hydrate the ASM manifests. AnthosCLI with try to hydrate and apply.

[2020-05-08 21:24] jtfogarty commented on #6
/kind feature
priority p2

[2020-05-15 15:30] jlewi opened #12 "Management cluster should use stable channel"
https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels

Currently we are using the RAPID channel.  This is the most unstable and you can't change this on
a cluster.

We should start with stable as that can be promoted.

[2020-05-15 15:51] jlewi opened #13 "Management cluster should not use CNRM in namespaced mode"
We are currently recommending installing CNRM in namespaced mode.

I'm not sure thats what we should recommend.

* Namespace mode is inconvenient when managing multiple projects as we end up having to create
  multiple deployments of the CNRM system

* Using ACM to install CNRM doesn't appear to install it in namespaced mode.

[2020-05-15 21:23] jlewi opened #14 "ACM and iap enabler will conflict - switch to using RCToken"
The IAP enabler pod will try to patch the policy with the backend service id which is the audience.  This has been a source of problems because the backend can change.

With ASM we should be able to use a configurable audience (RCTOKEN).
https://cloud.google.com/service-mesh/docs/iap-integration#configure_the_iap_access_list

This should allow us to pick and use a deterministic audience so we won'

[2020-05-15 21:27] jlewi commented on #4
Here are some issues I'm running into as I try this out.

#14 - ACM and the iap-enabler pod will conflict trying to set the ingress policy

We will need to create namespace directories in the ACM repo for
  * kube-system (some cert-manager resources) get installed there
  * istio-system
  * kubeflow
  * cert-manager

[2020-05-15 21:31] jlewi commented on #4
It looks like we need a tool to chop up the K8s configs and lay them out in the format ACM expects.

[2020-05-16 23:30] jlewi opened #15 "Recipe and documentation for using kpt to pull in updates"
We need to document how to use kpt to pull in updates to manifests and then apply those changes.

[2020-05-16 23:35] jlewi commented on #15
When I tried an update I got an error that local files had been modified.
Logs attached.

It looks like its complaining about the tests which we delete.
[log.txt](https://github.com/kubeflow/gcp-blueprints/files/4639414/log.txt)

[2020-05-18 14:16] jlewi commented on #5
This was working so I'm closing this issue.
It recently broke and kubeflow/testing#668 is tracking that.

[2020-05-18 14:16] #5 closed

[2020-05-18 20:21] jlewi commented on #15
Latest issue.

[code]

git seems to work.

[code]

I think I might need to run kpt in a debugger to try to figure out what the issue could be.

[2020-05-18 20:34] jlewi opened #16 "Error: resources must be annotated with config.kubernetes.io/index to be written to files"
When we pull packages with Kpt we get the error.

[code]

This is an issue with kpt GoogleContainerTools/kpt#541 not handling the case where the annotations field is present but empty on resources.

We could also cleanup our manifests and add a validation test to prevent the field annotations from being present and set to null/empty (it should just not be present).

[2020-05-19 03:57] jlewi commented on #12
Fixed by #1172

[2020-05-19 03:57] #12 closed

[2020-05-19 04:31] jlewi commented on #4
I'm hitting various problems with Kubeflow manifests violating ACM validation requirements.

[code]

* This appears to be coming from the manifests generated by ASM; the istio-ingressgateway service in particular appears to be in violation

I'm also seeing errors like the following.

[code]

This appears to be due to kustomize applying the namespace transform even to instances of cluster scoped cu

[2020-05-19 04:32] jlewi commented on #4
Another alternative would be a kpt transform to fix the resources.

[2020-05-19 14:03] jlewi commented on #4
I didn't see a way to do this with kustomize. I filed
/kubernetes-sigs/kustomize#2498

[2020-05-19 16:39] jlewi opened #22 "Avoid duplicating the ISTIO Ingressgateway service when using ASM"
When we hydrate the manifests for istio from the ISTIOControl Plane operator
https://github.com/kubeflow/manifests/blob/master/gcp/v2/asm/istio-operator.yaml

We end up generating the following IngressGateway.yaml file
[IngressGateway.yaml.txt](https://github.com/kubeflow/gcp-blueprints/files/4651832/IngressGateway.yaml.txt)

This defines the service "istio-ingressgateway".

The problem is this K8

[2020-05-20 03:01] Bobgy opened #23 "apply-services doesn't exist in Makefile"
The one mentioned in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/README.md#common-problems

[2020-05-20 03:48] Bobgy opened #24 "Profile deployment: configmap kubeflow-config not found"
There are usages of the configmap like
[code]

However, kubeflow-config is generated by configmap-generator, it should have a suffix. Not sure exact why, but kustomize didn't append the suffix to profile deployment.

Reproduced with kustomize version 3.1.0. (I cannot use kustomize 3.5.4 to test, there were another error)

[2020-05-20 03:48] Bobgy commented on #24
https://github.com/kubernetes-sigs/kustomize/issues/1301 seems like the upstream bug

[2020-05-20 03:54] Bobgy commented on #24
After some quick attempts, I figured out for kustomize manifests using `namePrefix`, configmap will not be updated with suffix. (The only manifest that didn't use namePrefix was central dashboard, it had correct configmap name suffix. I tried updating profile kustomization.yaml to not use namePrefix, it has correct name now too.)

[2020-05-20 21:08] jlewi opened #25 "Can we use kpt live to solve ordering issues of apply?"
Currently we have to manually apply the applications in a certain order to avoid issues caused by trying to create resources in a namespace before the resource exists.
https://github.com/kubeflow/gcp-blueprints/blob/541432cd52ff57b2ef3711b800aec5236338d3f9/kubeflow/Makefile#L69

https://googlecontainertools.github.io/kpt/reference/live/apply/

kpt live also supports pruning which we need for updat

[2020-05-20 23:06] jlewi opened #26 "ISTIO Ingressgateway 503s; /healthz/ready is 404s"
When I deployed with ACM the endpoint is returning 503s.
The loadbalancer reports the backend as unhealthy failing healthy checks.

[2020-05-20 23:06] jlewi commented on #26
I tried port-forwarding to the istio-ingressgateway

[code]
curl -I http://localhost:9080/healthz/ready
HTTP/1.1 404 Not Found
location: http://localhost:9080/healthz/ready
date: Wed, 20 May 2020 23:03:28 GMT
server: istio-envoy
transfer-encoding: chunked
[code]

[2020-05-20 23:08] jlewi commented on #26
The readiness probe for the deployment is

[code]

[2020-05-20 23:10] jlewi commented on #26
[code]
So this works.

[code]

[2020-05-20 23:19] jlewi commented on #26
I manually edited the problem health check in the cloud console to change the status port.
That fixed the failing health check.

So the issue here is that I disabled the IAP enabler pod because I didn't want it to patch the audience because that would conflict with ACM.

That deployment however also updates the health check status port and URL.
https://github.com/kubeflow/manifests/blob/b3f5b41780

[2020-05-20 23:20] jlewi commented on #26
Related to #14 ACM and IAP Enabler pod will conflict.

[2020-05-20 23:20] #26 closed

[2020-05-20 23:28] jlewi commented on #14
The IAP enabler pod is also configuring the health check.
https://github.com/kubeflow/manifests/blob/b3f5b41780a01845619884e638f4f6c9183d8fef/gcp/iap-ingress/base/config-map.yaml#L185

So we need to keep that bit even though we don't want to patch the audience

[2020-05-20 23:36] jlewi commented on #14
It looks like with RC Tokens a different header is used.
https://cloud.google.com/service-mesh/docs/iap-integration#enable_rctoken_support_on_the_service_mesh

[2020-05-21 00:32] jlewi opened #27 "[ACM] Create a kustomize function to remove namespace from cluster scoped CRs"
As described in kubernetes-sigs/kustomize#2498 a problem right now is that kustomize will apply the namespace transform to cluster scoped custom resources. As a result we end up setting namespace on certain cluster scoped resources. ACM doesn't allow this.

Related to kubernetes-sigs/kustomize#2498
Related to #4  Deploy with ACM

[2020-05-21 00:38] jlewi commented on #27
Prototype in kubeflow/kfctl#335

[2020-05-21 14:18] jlewi opened #29 "[ACM] Support structured repository"
Currently our ACM story doesn't use a structured repository. The main reason was because
we would need to refactor the manifests; e.g. put ClusterScoped resources in one directory and namespace resources in a different directory.

Could we reorganize the files using a kustomize function?

Using a flat repository will get pretty unmanageable.

Can we use subdirectories with an unstructured reposito

[2020-05-28 01:21] jlewi opened #30 "get-pkg doesn't delete tests dir"
When a user runs

[code]

The directory `$(MANIFESTS_DIR)/tests` isn't deleted. It looks like the problem is that `kpt pkg get` is returning an error so the subsequent `rm` commands aren't running.

[2020-05-28 02:14] jlewi commented on #23
Its there now.
https://github.com/kubeflow/gcp-blueprints/blob/e76d92c1a6e33610dea98d897fff87856536526c/kubeflow/Makefile#L56

[2020-05-28 02:14] #23 closed

[2020-05-28 02:16] jlewi opened #31 "Use CNRM (not AnthosCLI) to enable services"
Currently we are using the AnthosCLI to enable services
https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/README.md#common-problems

Would it be better to instead create CNRM resources in the management cluster?

[2020-05-28 02:18] jlewi commented on #31
CNRM seems to use the slightly newer CNRM service resource.
https://cloud.google.com/config-connector/docs/reference/resources#service

[2020-05-28 02:24] jlewi commented on #31
Here's the YAML I used to enable the services using CNRM

[code]

[2020-05-28 13:24] jlewi opened #32 "CNRM containercluster missing ipAllocationPolicy fields needed to create private GKE clusters"
It looks like in CNRM 1.9.1 the CRD for container cluster is missing ipAllocationPolicy fields needed to
create a private GKE cluster.

To work around that; get the CRD and change the schema to be

[code]

[2020-05-28 13:28] jlewi commented on #32
To edit the CRD:

1. Fetch the CRD

[code]

1. Open `/tmp/container.crd.yaml` and edit the schema to set ipallocationpolicy as mentioned in the previous comment.

1. Apply it

[code]

[2020-05-28 13:41] jlewi commented on #32
Spoke to soon; doesn't look like this actually worked. The cluster ended up getting created on the default network; no subnetwork was created automatically.
https://gist.github.com/jlewi/29edc43a2b9cf7329f5274e7e35ad609

[2020-05-28 14:13] jlewi opened #33 "GCP Blueprint for KF on private GKE"
Uber issue for creating a blueprint for installing Kubeflow on private GKE

[2020-05-30 00:22] jlewi opened #34 "Best way to whitelist DockerHub firewall rules"
On private deployments we want to deny all external traffic by default. One of the exceptions is to
allow traffic to DockerHub so we can pull docker images stored there.

Right now we do this just by creating a firewall rule that whitelists traffic to the dockerhub site. We get the ips just by testing the domains e.g.

[code]

I don't think there is any guarantee that these IP addresses are static

[2020-05-30 00:28] jlewi commented on #34
See: https://support.sonatype.com/hc/en-us/articles/115015442847-Whitelisting-Docker-Hub-Hosts-for-Firewalls-and-HTTP-Proxy-Servers

[2020-05-30 02:05] pingsutw commented on #3
/assign

[2020-05-30 02:09] pingsutw commented on #3
I think we could close it. it's has been fixed

[2020-05-31 23:22] jlewi opened #35 "Cluster stuck in non-ready state because channel update rejected"
While deploying GCP private clusters I encountered a problem where the command

[code]
would timeout. It turned out the problem was that the last state for the cluster

was

[code]

gcloud describe however shows the cluster to be in the stable channel. So not sure why the update would fail.

[code]

[2020-05-31 23:25] jlewi commented on #35
It doesn't seem like kubectl wait supports waiting for multiple conditions.

[2020-05-31 23:28] jlewi commented on #35
The easiest work around for no is just to comment out the `kubectl wait` command in the Makefile so that it will keep going.

[2020-05-31 23:44] jlewi commented on #34
Ran into the same problem with quay. For quay looks like domains are

[code]

[2020-06-01 00:08] jlewi commented on #34
I was able to get dockerhub.io to work but unsuccessful with quay.io.

[2020-06-01 01:10] jlewi opened #36 "CLI (kfctl)? to apply CloudEndpoints resources"
Service management API is not available via restricted VIP yet
https://cloud.google.com/vpc-service-controls/docs/restricted-vip-services

As a result the CloudEndpoints controller won't work when the GKE cluster is configured to use the restricted VIP.

A simple solution is to have the user run the commands on their machine to create the endpoint to create the DNS entry.

I created a CLI version

[2020-06-01 01:14] jlewi commented on #33
I've run into a couple issues getting this to work

* kubeflow/kfctl#340 - The way kfctl mirror works today won't work with the directory structure
   used by blueprints so we will need to fix that.

* kubeflow/gcp-blueprints#36 - Cloud Endpoints Controller won't work with the restricted VIP APIS.

* Per kubeflow/gcp-blueprints#34 I tried setting up Cloud Nat and Firewall rules to allow pulling im

[2020-06-01 21:41] jlewi opened #37 "kpt fn throws error directory not empty"
The first time I apply my kpt function I get the error

[code]

However, the transform appears to be applied correctly and I rerun the kpt function the error is not reported.

The contents of the .build directory is checked in here.

https://github.com/jlewi/kubeflow-dev/tree/3e117b0afd66e77649a5f6f675dd188faaa2c9cb/kubeflow-deployments/gcp-private-0527/.build

[2020-06-01 23:09] jlewi commented on #35
I tried a fresh deployment and I got the same error so I think it might be an issue with CNRM.
Filed
GoogleCloudPlatform/k8s-config-connector#194

[2020-06-02 03:50] phanimarupaka commented on #37
@jlewi @frankfarzan I tried the steps you mentioned and I see the same error. From the first guess, it looks like output of os.Remove() command to clean empty directory. But as the dir has files, so it is not removed. This is harmless error. But I will dig deeper to find the root cause and suppress the error message.

[2020-06-02 22:37] phanimarupaka commented on #37
@jlewi @frankfarzan I found the root cause. It is due to the nil annotation [here](https://github.com/jlewi/kubeflow-dev/blob/3e117b0afd66e77649a5f6f675dd188faaa2c9cb/kubeflow-deployments/gcp-private-0527/.build/istio/Base/IngressGateway/IngressGateway.yaml#L351). You should get rid of it and it should fix the issue.

Related issue for fix in the backlog : https://github.com/GoogleContainerTools/k

[2020-06-02 23:23] jlewi commented on #37
Thanks @phanimarupaka !

[2020-06-02 23:26] jlewi commented on #27
Following: https://googlecontainertools.github.io/kpt/reference/fn/run/#declaratively-run-one-or-more-functions

The next steps are to make this configurable using a "client side" CRD resource. This way we can just list whatever resources we need to strip the namespace from.

[2020-06-03 17:39] jlewi commented on #33
I have various PRs in progress to fix the mirror pipelines:

* kubeflow/kfctl#345 - kustomize function to transform images
* kubeflow/kfctl#342 - kfctl isn't recoursing over dependencies correctly figure out all images to be replicated

[2020-06-04 01:57] jlewi opened #38 "Verify that all CNRM resources are in a ready and healthy state"
A lot of common problems could be surfaced just by checking if all the CNRM resources are in a ready state.

For example, a common failure mode is a CNRM resource (e.g. a firewall rule) which is not in a ready state because it refers to an invalid resource.

We should write a simple go binary (maybe kfctl subcommand) to check that all resources are in a health state to help identify any problems.

[2020-06-04 12:53] jlewi opened #39 "Use KptFile and not settings.yaml file to read back in setters"
Right now our Makefile uses a bit of a hack to get back the values of various kpt setters.
We set them in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/instance/settings.yaml
using kpt setters and then read them back in.

But the KptFile is also a YAML file. If we use substitutions do the values get stored there and can we read them from it?

[2020-06-08 14:32] jlewi opened #42 "Setup CI against blueprint deployments"
We should run the example tests continuously against the blueprint deployments

[2020-06-08 16:23] jlewi opened #43 "Kubeflow deployment fails "webhook.cert-manager.io" unavailable"
Deploying Kubeflow fails the first time you run it with the error

[code]

The problem is its trying to create the certificate for the Kubeflow admission controller and failing because certmanager isn't available yet.

Simply waiting and retrying fixes the problem. Is there a better solution though?

[2020-06-08 17:05] jlewi commented on #43
Waiting for the deployments to be ready is insufficient.

[code]

It looks like the cert-manager may not have any readiness or health probes which could be the problem.

[2020-06-08 18:02] jlewi commented on #43
The upstream deployment appears to have probes
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/webhook-deployment.yaml#L68

Ours do not.
https://github.com/kubeflow/manifests/blob/master/cert-manager/cert-manager/base/deployment.yaml

[2020-06-08 18:23] jlewi commented on #43
It looks like this might have been the PR that added the liveness and readiness probes.
https://github.com/jetstack/cert-manager/pull/2245

It looks like the first cert-manager release for that was 0.12. It looks like we are currently on 0.11.

[2020-06-08 18:31] jlewi commented on #43
Filed: kubeflow/manifests#1234 it looks like we have to fix the manifest upstream.
Short term fix would be to add retries to the blueprint. I'll leave this issue open to track

1. Adding retries to fix this
1. Removing retries once the upstream fix is available.

[2020-06-09 00:56] jlewi commented on #42
I have start working on

kubeflow/testing#676 - This should setup ACM on the kf-ci-v1 cluster so we can use it to synchronize the tekton resources we will use. It will also include some fixes to the tekton resources.

[2020-06-09 01:02] jlewi commented on #33
So I got this working; a couple follow on pieces:

kubeflow/kfctl#342  - Still need to get this reviewed and merged
#44 - Updates the Makefile to use kfctl to apply the blueprint.

After the above are merged only remaining step would be to update the docs:
https://www.kubeflow.org/docs/gke/private-clusters/

[2020-06-09 12:16] jlewi opened #46 "[KF 1.1] GCP Blueprints Release"
Tracking bug for release of KF for GCP on 1.1

To release blueprints we need to do the following

1. Cut a 1.1 branch for gcp-blueprints
    * Pin kubeflow/manifests to a particular commit of kubeflow/manifests
1. Update docs on www.kubeflow.org to use blueprints

[2020-06-09 13:38] jlewi commented on #35
Should be fixed by /kubeflow/manifests#1230

[2020-06-09 13:38] #35 closed

[2020-06-09 13:39] jlewi commented on #30
This should have been fixed in the Makefile.

[2020-06-09 13:39] #30 closed

[2020-06-09 13:46] jlewi commented on #24
Thanks @Bobgy can we close this or is there more work to be done?

[2020-06-09 13:47] #3 closed

[2020-06-09 13:55] kunmingg opened #47 "GCP IAP: kfctl should create OAuth clients for IAP programmatically"
Currently GCP users need to setup IAP client manually: https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

Since IAP API is now GA: https://cloud.google.com/iap/docs/programmatic-oauth-clients
kfctl should create OAuth clients for IAP programmatically when env var like `CLIENT_ID` is not set.

[2020-06-09 13:56] jlewi commented on #47
I think the issue here is that we use GKE's BackendConfig to enable IAP. Currently, that requires a client id/client secret in order to setup IAP.

So I think we need GKE's BackendConfig to support setting up IAP using programmatic OAuth clients

[2020-06-10 10:43] jlewi commented on #42
With kubeflow/testing#679 and kubeflow/examples#803 I'm able to run the tekton pipeline to run mnist.
https://github.com/kubeflow/testing/blob/master/tekton/testing/nb-test-run.yaml

Running mnist is currently failing

* It looks like the example notebook is installing a version of fairing that has a dependency on the Azure SDK that is broken
    * This looks like a related issue with the examples

[2020-06-10 14:11] jlewi opened #48 "Secure blueprint for the management cluster"
Per #33  &
https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/deploy_private.md

We now have a recipe for deploying KF on private GKE.

One of the gaps though is that our blueprint for the management cluster isn't using private GKE. Making the KF clusters more secure then the management clusters doesn't make sense.

So we probably want to provide a recipe for setting up the blueprint

[2020-06-11 04:04] Bobgy commented on #9
Totally agree, also I think we need to move scripts in Makefile into hack as much as possible.
Otherwise, boilerplate in `Makefile` will be hard to upgrade.

[2020-06-15 17:45] jlewi commented on #36
Fixed by kubeflow/kfctl#351

[2020-06-15 17:45] #36 closed

[2020-06-16 20:13] jlewi opened #51 "Periodically run IAP endpoint ready test against auto deployments"
Follow on to #42

We should setup a periodic test that runs the IAP endpoint is ready test against the auto deployments.

[2020-06-16 20:14] jlewi opened #52 "Periodically run KF ready tests against auto deployments"
Follow on to #42

We should setup a periodic test that runs the tests that the kubeflow applications were correctly deployed.

[2020-06-16 23:49] jlewi commented on #51
Needed to grant workload identity the serviceAccountTokenCreator

[code]

[2020-06-16 23:55] jlewi commented on #51
The endpoit_ready_test.py is still failing when using workload identity with error

[code]

[2020-06-17 13:14] jlewi commented on #33
Only remaining step is getting the docs updated.

[2020-06-17 13:18] jlewi opened #53 "Docs for installing on existing cluster"
A lot of users have requested help installing Kubeflow on existing clusters
opening this issue to track documenting how you would do that.

At a high level I think you would want to do something like the following

* When you configure the blueprint - point it at your existing cluster
   * e.g. set the cluster and location to the existing name of your cluster and location

* Remove CNRM resources

[2020-06-17 13:19] jlewi commented on #53
@thesuperzapper You said you were trying to install on existing clusters reccently; were you using the blueprints or kfctl?

[2020-06-17 14:27] jlewi opened #55 "GCP Blueprint autodeployments failing - problems with pipelines"
GCP autodeployments; IAP isn't enabled.

Looks like the `kubeflow-oauth` secret is missing.

[2020-06-17 15:28] jlewi commented on #52
Getting a weird kubernetes client issue when running the tests.

[code]

[2020-06-17 16:12] jlewi commented on #52
Here's the full stacktrace

[code]

It looks like the version of `kubernetes` lib in the container is "11.0.0" locally I have "9.0.0".

[2020-06-18 21:52] jlewi opened #56 "junit files not being uploaded from Tekton pipelines"
junit files don't appear to be uploaded from or tests as a result results aren't showing up in test grid.
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master/1273551281704669185/

[2020-06-18 22:24] jlewi commented on #56
Here's an example periodic run of go unittests
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/go-test-2v2v2

[2020-06-18 22:29] jlewi commented on #56
Logs aren't very helpful

[code]

Do we have the wrong binary?

[2020-06-19 00:45] jlewi commented on #55
It looks like the problem is the deployment pipelines are failing.

Looking at the logs the problem is

[code]

Looking higher in the logs it looks like we already created the PVC.

[code]

@Bobgy My guess is this is an issue with recent changes related to the pipeline manifest.

My guess is you are duplicating the PVC resource.

[2020-06-19 00:45] jlewi commented on #55
/assign @Bobgy

[2020-06-19 00:55] thesuperzapper commented on #53
@jlewi I was:
1. using `kfctl` to generate kustomize folders
2. modifying the kustomize YAML
3. placing those folders into a git repo
4. targeting that each folder in that repo with an argo-cd kustomize app

[2020-06-19 01:09] Bobgy commented on #55
Yes, that's right. I think we still need a gcp stack  in kubeflow/manifests to compose resources without duplication.

I'll send a PR for that

[2020-06-19 03:49] Bobgy commented on #55
@jlewi Can you take a look at the two PRs above as a whole?
what do you think?

[2020-06-19 11:35] #56 closed

[2020-06-19 13:14] jlewi commented on #55
The PRs have been merged but it doesn't look like a new auto-deployment got triggered.

[2020-06-19 13:17] jlewi commented on #55
https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy#quick-links
Looking at the logs pipelines are being fired off but failing.

[2020-06-19 13:18] jlewi commented on #55
Looks like the problem is

[code]

/cc @Bobgy

[2020-06-19 13:35] jlewi commented on #55
Looks like the bug is in the upstream manifests; the gcp stack doesn't build.

[code]

[2020-06-19 17:14] jlewi commented on #55
Auto-deployments are still failing but now with a different error.

[code]

[2020-06-22 08:13] Bobgy commented on #55
@jlewi Is there any blocking issues from pipelines now?

[2020-06-22 13:09] jlewi commented on #55
@Bobgy I'm hitting kubeflow/manifests#1294 when I tried to run locally to reproduce.

[2020-06-22 22:05] jlewi commented on #55
Looks like autodeployments are succeeding again.
https://kf-vbp-0622-7df.endpoints.kubeflow-ci-deployment.cloud.goog/?ns=jlewi

[2020-06-22 22:39] jlewi commented on #55
Not all the tests are passing:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master

The endpoint does appear to be ready though.

[2020-06-22 23:31] jlewi commented on #55
The auto-deployed clusters were deleted out from underneath me: "kf-vbp-0622-7df"

Look at the audit logs

logName="projects/kubeflow-ci-deployment/logs/cloudaudit.googleapis.com%2Factivity"
protoPayload.serviceName="container.googleapis.com"

It looks like the request was sent by `ci-projects-manager@kubeflow-ci.iam.gserviceaccount.com`

But the blueprints are still listed here
https://kf-ci-v1.e

[2020-06-22 23:32] jlewi commented on #55
[code]

[2020-06-22 23:36] jlewi commented on #55
I suspect the reason the deleted deployments showed up in
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/auto_deploy/
is because the reconciler hadn't run yet to update the list of deployments

[2020-06-23 01:59] jlewi commented on #52
Dashboard:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic

Tests are running regularly but some of the tests are failing.

[2020-06-23 02:00] jlewi opened #59 "pipelines is ready test is failing"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic

@Bobgy could you please take a look? It could be the case that the test needs to be updated.

[2020-06-23 02:01] jlewi opened #60 "endpoint ready test is failing"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic

[2020-06-23 02:04] jlewi commented on #46
The 1.1 branch of manifests has been cut.

We still need to cut a 1.1 branch of blueprints and point it at the 1.1. branch of manifests.

However, the tests for the blueprints are still failing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic

We should probably fix that before cutting a 1.1 branch and pinning things

[2020-06-23 02:08] jlewi commented on #60
The request URL is incorrect

[code]

The test is missing the actual endpoint name.

[2020-06-23 02:13] jlewi commented on #60
The problem is that we aren't setting app-name
https://github.com/kubeflow/kfctl/blob/21e797701e9363c4145c5eca088221a861f3ea5c/py/kubeflow/kfctl/testing/pytests/endpoint_ready_test.py#L23

We need get-credentials to spit out the name of the endpoint so we can use it in subsequent steps

[2020-06-23 02:17] jlewi commented on #60
Related issue: kubeflow/testing#701

[2020-06-23 02:28] Bobgy commented on #59
@jlewi Is this the entrypoint of the test? https://github.com/kubeflow/kfctl/blob/7bfe692bdfb42002073c0ea196c5942e606ed48c/py/kubeflow/kfctl/testing/pytests/kf_is_ready_test.py#L96

[2020-06-23 08:46] Bobgy commented on #24
No longer reproducible.

[2020-06-23 08:46] #24 closed

[2020-06-23 09:00] Bobgy opened #61 "Default workload identity bindings for deployments that need GCP permissions"
I've found quite a few deployments don't work properly due to lack of GCP permissions, including:
* profiles manager
[code]
* pipelines ui, visualization server deployments
* default-editor (and default-viewer, maybe later) KSA in user namespace (needed by pipeline runs, tensorboard instances)

/cc @jlewi

I think we should bind workload identity with these KSAs by default.

### Proposal

Add work

[2020-06-23 09:00] Bobgy commented on #61
/assign @Bobgy

[2020-06-23 13:09] jlewi commented on #59
@Bobgy yes; if you set your current kubectl context to point at a cluster you should be able to run that test locally which may help debug it.

[2020-06-23 13:29] jlewi commented on #33
Initial docs are in the markdown
https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/deploy_private.md

[2020-06-23 13:34] jlewi commented on #61
@Bobgy Isn't the profiles-manager already bound to a GSA?

[2020-06-23 13:40] jlewi commented on #61
I looked at one of the auto deployments

It looks like profiles manager is using KSA: serviceAccount: profiles-controller-service-account

Which doesn't have a GSA

[code]

I think this is a bug. If the profiles manager isn't bound to any GSA it won't be able to attach GSA's to KSAs in newly provisioned namespaces.

Looking at a v1 deployment it looks like it is bound to the admin account

[code]

[2020-06-23 14:52] jlewi commented on #55
Closing this issue; I have filed more specific issues to deal with the current issues.

[2020-06-23 14:52] #55 closed

[2020-06-23 15:51] Bobgy commented on #61
that's true, It was originaly bound by kfctl

We need to bind It by kcc now

[2020-06-23 21:28] jlewi commented on #61
Thanks @Bobgy that makes sense; thanks for reporting and fixing this

[2020-06-24 04:54] Bobgy commented on #59
@jlewi I looked at auto deployed clusters and found the root cause is:
persistence disks were created in us-central1-f zone, while nodes were in us-central1-{a,b,c} zones, so PVs cannot be mounted to pods.

Do you have any ideas why they are deployed to different zones?

[2020-06-26 15:21] jlewi commented on #59
@Bobgy Its because we are using a regional cluster so it has nodes it multiple zones. It looks like kubeflow/gcp-blueprints#6 we still have some work to do to make this work with regional clusters.

The short term fix would be to change the autodeployments to use a zonal cluster.
I think we could change the defaults here
https://github.com/kubeflow/testing/blob/637d1cd5fe33d03ee5646380d960fabe8a23

[2020-06-26 15:21] jlewi commented on #59
@Bobgy Would you mind submitting a PR to try to change the auto-deployer to use a zonal cluster?

[2020-06-26 16:08] Bobgy commented on #59
It's been Chinese holidays for three days, I will return to work on Sunday (a working day).

[2020-06-26 20:56] jlewi commented on #61
@Bobgy Lets not close this issue until

1. kubeflow/manifests#1317 has been cherry-picked onto the 1.1 branch
1. We have verified in the auto-deployments that the issue is fixed.

[2020-06-26 20:59] jlewi commented on #61
@Bobgy Are we going to have to apply the same change as #64 to the auto-deploy script.

https://github.com/kubeflow/testing/blob/637d1cd5fe33d03ee5646380d960fabe8a230d0a/py/kubeflow/testing/create_kf_from_gcp_blueprint.py#L130

[2020-06-26 21:11] jlewi opened #65 "Get the mnist notebook tests to pass"
Split off from #42

#63 added the notebook tests. The Tekton workflows are being fired off

https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-22vjq

The copy buckets step is failing though and that is causing the task to abort before running the step to copy the test a

[2020-06-26 21:36] jlewi commented on #42
CI is largely setup. Follow on work is being covered by the more specific issues that have been linked to this issue.

[2020-06-26 21:36] #42 closed

[2020-06-26 21:50] jlewi commented on #59
@Bobgy thanks for the heads up; I've been OOO as well; enjoy the holiday; we can fix this next week.

[2020-06-29 08:18] Bobgy commented on #61
The most recent deploy "kf-vbp-0629-571" runs pipelines successfully, but workload identity binding is still not properly setup.

[code]

[2020-06-29 08:18] Bobgy commented on #61
I'm guessing the change https://github.com/kubeflow/testing/pull/705 didn't make it into the auto deploy. Is there a way we can trigger a manual deploy?

[2020-06-29 08:20] Bobgy commented on #61
Looked at the tekton task https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/auto-deploy/pipelineruns/deploy-kf-master-p5sb2, it's using
[code]

@jlewi Can you fix this?

[2020-06-29 21:34] jlewi commented on #61
This is currently coming from here:
https://github.com/kubeflow/testing/blob/88c153fb7ab84ea08c5ea7cf21fbf0a30b7814d3/test-infra/auto-deploy/manifest/config/pipeline-run-deploy-blueprint-master.yaml#L35

[2020-06-29 23:11] jlewi commented on #59
e

[2020-06-29 23:11] jlewi commented on #59
Lets not close this until we have a passing green.

[2020-06-29 23:33] jlewi commented on #46
Update:

* Doc updates have started
  * kubeflow/website#2023 - initial docs for blueprints; marked some other pages as out of date

*  Still working on getting a passing green https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic
    * A number of PRs are out to fix things

* Still need to setup a 1.1 branch and tests as well.

[2020-06-30 02:04] jlewi commented on #51
Latest test still failed
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1277776211300323329
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/gcp-kf-ready-6vlzk

The task executed command:

[code]

It looks like its not running the new version
https://github.com/kubeflow/testing/blob/master/acm-repos/kf-ci-v1/name

[2020-06-30 02:05] jlewi commented on #51
Config management isn't syncing master.

[code]

[2020-06-30 02:28] jlewi commented on #51
Nomos sync is still failing

[code]

Looks like its: kubeflow/testing#708

[2020-06-30 02:43] jlewi commented on #51
It should be sync'd now

[code]

[2020-06-30 02:45] jlewi commented on #61
The current auto-deployment was deployed before kubeflow/testing#707 was merged.

[code]

The next auto-deployment will hopefully have the fix.

[2020-06-30 02:48] jlewi commented on #65
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-wc6fq
copy-artifacts is failing

[2020-06-30 02:53] Bobgy commented on #61
Thanks for the heads up! I'll wait for the next one then

[2020-06-30 02:56] jlewi commented on #65
Error is:

[code]

[2020-06-30 02:57] jlewi commented on #65
Python path is wrong
https://github.com/kubeflow/testing/blob/28a61500231cc14f26ac5ea64f17daac9f94f9ee/acm-repos/kf-ci-v1/namespaces/kf-ci/tekton.dev_v1alpha1_task_nb-tests.yaml#L97

Should be /srcCache

[2020-06-30 10:15] Bobgy commented on #61
This is working properly now. I verified in https://kf-vbp-0630-8f5.endpoints.kubeflow-ci-deployment.cloud.goog/_/pipeline/#/runs/details/c7af3e03-87ab-4a6b-b30c-20d8b9a5a8ea, the tfx taxi sample ran successfully.

[2020-06-30 10:28] Bobgy commented on #59
@jlewi The test is still failing, I looked at the log and found that the test script no longer matches current deployment name.
https://github.com/kubeflow/kfctl/blob/baf59c2692f45847bbd042c78a751a761b2b7eaa/py/kubeflow/kfctl/testing/pytests/kf_is_ready_test.py#L96-L106

`ml-pipeline-viewer-controller-deployment` is now called `ml-pipeline-viewer-crd`. Can I go ahead and update that test? Why is i

[2020-06-30 10:28] Bobgy commented on #59
Also we should probably update that list with new deployments in KFP service.

[2020-06-30 18:34] jlewi opened #67 "Switch to regular from stable channel -"
We should switch to using the regular channel over the stable channel by default.

Regular is on 1.16: https://cloud.google.com/kubernetes-engine/docs/release-notes-regular
Stable is still on 1.14 https://cloud.google.com/kubernetes-engine/docs/release-notes-stable

[2020-06-30 20:01] jlewi commented on #60
get credentials is failing

[code]

[2020-06-30 20:05] jlewi commented on #60
Is the code in the docker image outdated?
gcr.io/kubeflow-ci/test-worker-py3@sha256:4a766d6f5cc6cbcb00dbc96205f7a5b2816bc5f2b6d516fd67124d4a3e6508ea

[2020-06-30 20:32] jlewi commented on #60
confirmed image is outdated
gcr.io/kubeflow-ci/test-worker-py3@sha256:4a766d6f5cc6cbcb00dbc96205f7a5b2816bc5f2b6d516fd67124d4a3e6508ea

[2020-06-30 22:40] jlewi opened #69 "Load secrets from secret manager"
Right now users supply secrets like OAuth ID and Secret via environment variables.

A better approach would be to store the secrets in GCP secret manager. We can then run a process in cluster which creates K8s secrets from secret manager.

[2020-07-01 01:45] jlewi commented on #51
Latest run:
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/gcp-kf-ready-mzpcs

Get credential failed for the iap-ready test.

[code]

It used docker image: gcr.io/kubeflow-ci/test-worker-py3@sha256:804c6cc8a73face69d79c60bcd85b93fa04218db9ee31127fb529b41fcab43ac

The kf ready test which worked used it correctly as well
gcr.io/kubeflow-ci/test-worker-py3@sh

[2020-07-01 01:46] jlewi commented on #51
That is the write image sha
https://github.com/kubeflow/testing/blob/master/images/latest_image.json

[2020-07-01 01:48] jlewi commented on #51
kf-ready is using the old style format
https://github.com/kubeflow/testing/blob/master/acm-repos/kf-ci-v1/namespaces/kf-ci/tekton.dev_v1alpha1_task_kf-ready.yaml#L37

[2020-07-01 01:48] jlewi commented on #51
The flag name is wrong it should be pattern not location.

[2020-07-01 01:54] jlewi commented on #65
The latest run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1278139102348185600
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-x7jtk

The copy buckets command ends up being

[code]

* So there's a bug there.

Copy artifacts step is also failing

[code]

[2020-07-01 01:57] jlewi commented on #65
Logs for the papermill job
https://console.cloud.google.com/logs/viewer?project=kubeflow-ci-deployment&interval=P7D&advancedFilter=resource.type%3D%22k8s_container%22%0Alabels.%22k8s-pod%2Fjob-name%22+%3D+%22mnist-gcp-013506-929%22%0A

Running the notebook fails with an import error

[code]

[2020-07-01 02:01] jlewi commented on #65
The path to upload the notebook to GCS doesn't look wrong and there is an exception trying to upload it

[code]

[2020-07-01 02:11] jlewi commented on #51
kubeflow/testing#712 seems to fix the get-credentials issue. Now the test is timing out with.

[code]

[2020-07-01 02:17] jlewi commented on #51
I suspect this is the offending line:
https://github.com/kubeflow/kfctl/blob/baf59c2692f45847bbd042c78a751a761b2b7eaa/py/kubeflow/kfctl/testing/util/gcp_util.py#L85

[2020-07-01 03:54] Bobgy commented on #59
@jlewi friendly ping

[2020-07-01 20:33] jlewi commented on #51
Test is passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1278420908561666048

[2020-07-01 20:34] jlewi commented on #60
Test is passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1278420908561666048

Duplicate of #51

[2020-07-01 20:34] #60 closed

[2020-07-01 20:34] #51 closed

[2020-07-01 20:37] jlewi commented on #59
@Bobgy Yes please go ahead and update the tests is necessary to work with the current version of KFP. You can consider the code location to be a historical accident. So feel free to move the pipelines code somewhere else if it makes more sense.

[2020-07-02 01:17] jlewi commented on #65
Latest run
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-f878t

Latest failure

[code]

[2020-07-02 01:18] jlewi commented on #65
Here was the command executed

[code]

So looks like a bug in the command.

[2020-07-02 01:29] Bobgy commented on #59
I'm not very familiar with how to move tests so I'm going to send a PR to fix tests first.

[2020-07-02 14:43] jlewi commented on #65
Latest run
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1278686481346465793
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-np5kn

https://console.cloud.google.com/logs/viewer?project=kubeflow-ci-deployment&interval=P7D&advancedFilter=resource.type%3D%22k8s_container%22%0Alabels.%22k8s-pod%2Fjob-name%22+

[2020-07-02 15:08] jlewi commented on #65
Filed kubeflow/examples#806 about the actual error in the notebook

[2020-07-02 20:37] NikeNano commented on #65
I did some small attempts to also test this on the mpi-operator repo, just triggering the minist notebook but it seems to fail as well. I don't fully understand if it is due to the same issue since I dont get any results at all or logs. Keeping track on this to fix it.

[2020-07-02 21:00] jlewi commented on #65
kubeflow/testing#716 fixed the issue with the junit file not being copied to GCS.
https://testgrid.k8s.io/sig-big-data#kubeflow-gcp-blueprints-master-periodic

[2020-07-04 14:38] NikeNano commented on #65
I have tried it out and get some issues with Junit as I understand the logs: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_mpi-operator/244/kubeflow-mpi-operator-presubmit/1279419183024574464/ . Currently test with a dummy notebook just which only prints "Done".

[2020-07-06 07:50] Bobgy commented on #61
I found a problem, I used `IAMPolicy` for workload identity bindings for `kf-user` GSA.
However, in multi user mode, profile controller also tries to add additional workload identity bindings to `kf-user` GSA.
Then, profile controller and KCC controller will periodically overwrite each other's IAM policies.

We should use `IAMPolicyMember` instead.

[2020-07-06 09:34] jlewi commented on #61
@Bobgy Thanks; we will need to cherry-pick this into the 1.0 branch of manifests.

[2020-07-06 10:14] Bobgy commented on #61
We should verify permissions of notebooks whether this is good.

[2020-07-06 10:39] Bobgy opened #70 "istio proxy sidecars have repeated warning messages: wasm log stackdriver_inbound: Stackdriver logging api call error: 13"
## Reproduce steps

1. create a jupyter notebook instance
2. kubectl logs <instance-name> istio-proxy -n <user-namespace>
3. Found error logs below

## Description

I initially found these error logs when developing KFP multi user mode, found these logs and then realized they show up in every istio sidecar container.
I'm not seeing any issues as of now, but this is probably sth we need to take a l

[2020-07-06 10:39] Bobgy commented on #70
/cc @jlewi

[2020-07-06 14:14] jlewi commented on #65
kubeflow/examples#807 should fix  the KFServing error.
The notebook still doesn't run. IT fails trying to launch Kaniko pods with

[code]

This is most likely due to problems with workload identity. Which is being tracked in  #61

[2020-07-06 14:18] jlewi opened #71 "Pin manifests commit in blueprint and create auto-update pipeline"
Right now the blueprint is tracking the head of master rather than pinning to a specific commit
https://github.com/kubeflow/gcp-blueprints/blob/09077334e2fb3417e1875be3cde8b160ec42297d/kubeflow/Makefile#L29

A better approach would be to pin to a particular commit and then automate opening up PRs whenever there is a change to kubeflow/manifests.

This would have the added benefit of causing auto-d

[2020-07-06 14:38] jlewi commented on #65
@NikeNano Your logs indicate that your test harness was unable to find the HTML file on GCS containing the rendered notebook. I suspect its because the job running on the KF cluster didn't have permission to write the  rendered notebook to GCS. As of right now the test infra for the notebooks appears to be working. If you are having additional problems with your notebook test please file a separat

[2020-07-06 14:52] NikeNano commented on #65
Thanks for the help @jlewi.

[2020-07-08 03:15] jbottum commented on #70
area/pipelines

[2020-07-08 03:23] jlewi commented on #65
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1280696285153726467
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci/pipelineruns/mnist-r88kk

Looks like a 404 reading image file

[code]

The image file doesn't exist
[code]

[2020-07-08 03:24] jlewi commented on #65
get-credential is writing cluster info to `Writing cluster information to /workspace/cluster.info.yaml`

[2020-07-08 03:29] jlewi commented on #65
So artifacts-gcs isn't set consistently across the steps.

[2020-07-08 14:12] jlewi commented on #65
Success!
Test is passing
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1280857598203006977
Rendered notebook:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1280857598203006977/artifacts/junit_mnist-notebook/mnist_test

Still need to fix: kubeflow/testing#715 otherwise we will clobber the HTML file.
Also

[2020-07-08 14:12] #65 closed

[2020-07-08 14:19] jlewi commented on #59
@Bobgy moving the tests just means

1. Moving the python code to where every you want it to live
1. Update the appropriate Tekton task e.g. https://github.com/kubeflow/testing/blob/c37f4bb06e268022f41214d5995df7e738e9800b/tekton/templates/tasks/kf-ready-task.yaml#L67

Updating the tekton task might mean

1. Adding/updating the resources to include the repository where the code now lives
1. Updatin

[2020-07-08 14:19] jlewi commented on #52
@Bobgy The test is passing can we close this?
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-master-periodic&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B

[2020-07-08 14:20] jlewi opened #72 "metadata is ready test is failing"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1280857598203006977

Looks like the deployment is ready

[2020-07-08 14:22] jlewi commented on #72
metadata is crashlooping with

[code]

[2020-07-08 14:44] jlewi opened #73 "kf ready test is failing - missing deployment istio-egressgateway"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-master-periodic/1280857598203006977

[code]

[2020-07-08 14:47] jlewi commented on #73
Here's the test
https://github.com/kubeflow/kfctl/blob/12318dd5cf36f2d7e85c5ce9f2ee0da62f4a12ae/py/kubeflow/kfctl/testing/pytests/kf_is_ready_test.py#L170

The deployment doesn't exist.

Looking at our hydrated manifests it looks like the egressgateway component is disabled

[code]

[2020-07-08 14:50] jlewi commented on #73
It looks like the egressgateway isn't required for out bound internet access; our notebook tests are passing. I also tried it manually.

[2020-07-08 15:03] Bobgy commented on #52
looks like kf_is_ready and metadata_is_ready tests are not passing yet, did you see them?

[2020-07-08 15:03] Bobgy commented on #52
Or is this issue just for setting up the test, then I have no objection

[2020-07-08 15:13] Bobgy commented on #59
let me leave the issue open to try moving that python code.
This seems a good issue for me to get better idea of the test infra.

[2020-07-08 15:14] Bobgy commented on #59
actually, I've tracked the task in https://github.com/kubeflow/pipelines/projects/5.

I think we can close this.
/close

[2020-07-08 15:14] #59 closed

[2020-07-09 00:42] jlewi commented on #72
Passing in the latest deployments.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-periodic-master/1281020489434664960

[2020-07-09 00:42] #72 closed

[2020-07-09 00:43] jlewi commented on #73
Test has been refactored into a separate istio_test which is still failing

Looks like telemetry service might be missing.

[2020-07-09 00:45] jlewi opened #74 "knative and kfserving is missing from GCP Blueprint"
test knative is deployed is failing.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-periodic-master/1281020489434664960

[2020-07-10 03:57] jlewi commented on #46
Branch is cut.

[2020-07-10 04:12] jlewi opened #77 "Document the release process for GCP blueprints"
Here's a preliminary list of steps

* Cut a branch
* Update the branch to point to the specific commit of manifests
* Update The auto-deployer to deploy from the branch
* Update the tests on the branch to select the appropriate auto-deployed cluster

[2020-07-10 13:39] jlewi commented on #67
This is on master but not the 1.1 branch.
Things look pretty good on master:
https://kf-vbp-0710-7fc.endpoints.kubeflow-ci-deployment.cloud.goog/
Looks healthy.

Tests are failing because the tests need to be updated to use v1 APIs

[2020-07-10 14:54] jlewi opened #78 "Run xgboost notebook tests"
Need to setup the notebook tests for xgboost

[2020-07-10 16:15] jlewi commented on #46
Status qualification of master branch (testing against kubeflow/manifests @ master)
* test grid https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-master
* mnist is passing
* There are PRs out to fix the tests
   * kubeflow/testing#727
   * kubeflow/kfctl#375
* We should add xgboost kubeflow/gcp-blueprints#78
* master branch should be running on GKE regular (kubernetes

[2020-07-10 16:31] jlewi commented on #46
Auto deployment on 1.1 branch is failing GCLB health checks because backend-updater couldn't update healthchecks

[code]

[2020-07-10 16:38] jlewi commented on #46
backend-updater is using kf-admin SA and that service account has GCP IAM annotation for admin GSA

https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-1-1 shows the workload identity test is failing
Looks like a bug in the test

[code]

It looks like the IAMPolicyMember bindings might be missing

[code]

[2020-07-10 16:40] jlewi commented on #46
No that's wrong; looks like IAMPolicyMember might not show up in either because its not in the group or because its missing labels

Here are the bindings:

[code]

[2020-07-10 16:50] jlewi commented on #46
IAMPolicy has error because SA doesn't exist

[code]

The error is complaining about unrelated missing service accounts. I suspect they are from other deployments. Since IAM Policy needs to be updated in its entirety CNRM probably gathers all the policymember bindings and so other broken bindings are blocking the successful apply.

[2020-07-10 16:51] jlewi commented on #46
It looks like the policy just got applied and `iampolicymembers/kf-v1-1-0710-084-admin-network` is now up todate (about 55 minutes after creation).

[2020-07-10 16:55] jlewi commented on #46
I had to kick the backend-updater pod to make it update the health check

[2020-07-10 17:46] jlewi commented on #46
v1-1 cluster came up
All but 2 tests are passing
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-1-1

* WI test
* knative test

[2020-07-10 21:04] jlewi commented on #78
Runs are failing looks like a bug is failing we are missing a trailing "\"

[code]

[2020-07-13 05:27] Bobgy commented on #70
I took a look at asm documentation,

  --header "Authorization: Bearer $(gcloud auth print-access-token)" \
  --data '' \
  https://meshconfig.googleapis.com/v1alpha1/projects/${PROJECT_ID}:initialize

This step seems missing when installing.

https://cloud.google.com/service-mesh/docs/gke-install-new-cluster#setting_credentials_and_permissions
/cc @jlewi

I'm testing if this solves the error logs

[2020-07-13 22:49] jlewi commented on #78
The test is running on master:
Its being reported as a success but an exception is actually occuring.
If you look at the notebook there is a problem submitting pipelines
https://storage.googleapis.com/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-periodic-master/1282789521116631041/artifacts/junit_xgboost-notebook/xgboost_test

[2020-07-13 22:53] jlewi commented on #67
Deployment on master is failing.

[code]

Looks like it should be apps/v1

[2020-07-13 22:59] jlewi commented on #67
This should be fixed by kubeflow/manifests#1374 which changed it from apps/v1beta1 to apps/v1

[2020-07-13 23:05] jlewi opened #82 "Fix workload identity tests"
Workload identity tests are failing for both 1.1 and master branch. The error is

[code]

This is a bug in the test. We aren't passing in the correct name for the service account.

related to: 46

[2020-07-13 23:21] jlewi commented on #74
This on the master branch of kubeflow/manifests. I want to verify it is working on the master auto deployment before cherry-picking to the 1.1. branch.

Once we verify on master we will need to do the following

1. Cherry-pick it into kubeflow/manifests 1.1 branch
1. Create a kubeflow/manifests rc
1. Update the blueprint to the new RC.

[2020-07-14 01:29] jlewi commented on #67
Tests are still failing on master.

[code]

This is coming from:
/srcCache/kubeflow/testing/py/kubeflow/testing/util.py:437:

[2020-07-14 01:31] jlewi commented on #67
This was fixed in kubeflow/testing#727 but the test image wasn't rebuilt.

[2020-07-14 01:42] jlewi opened #83 "kubeflow-auto-deployments should redeploy if in error state"
Right now if there is a failed deployment e.g. because of a transient issue we won't redeploy for 12 hours.

We should probably detect this. If deploying fails the tekton task should be marked as a failure. We should probably detect and report that.

[2020-07-14 03:39] jlewi commented on #82
Here's a passing manual run
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/kf-ci-dev/pipelineruns/gcp-kf-ready-j5zz7

Requires changes in kubeflow/testing#732 we may need to rehydrate and commit because of changes in conflicting PRs.

[2020-07-14 03:45] jlewi commented on #74
Test is failing against master.

Looking at one of the auto-deployed clusters the knative namespace is empty.

[code]

[2020-07-14 03:51] jlewi commented on #74
#1376 had a bug; it would end up installing knative in the kubeflow namespace which isn't what we want.

[2020-07-14 03:52] jlewi commented on #74
We will need to update the blueprint Makefile to install knative

[2020-07-14 08:37] Bobgy commented on #70
@jlewi Can you help me confirm if we should do this step automatically to users or document it in README?

[2020-07-14 13:55] jlewi opened #86 "Auto-deployments are unreliable - periodic tests are flaky"
Filing this as an uber issue for why the auto-deployments are unreliable leading to flaky periodic tests.

[2020-07-14 14:06] jlewi commented on #86
https://kf-v1-1-0714-295.endpoints.kubeflow-ci-deployment.cloud.goog/

The deploy step failed.

Looks like it timed out waiting for the cluster to be ready.

The clusters are ready now; so maybe we just need to bump the timeouts?

[2020-07-14 17:53] jlewi commented on #74
knative deployment is failing on master.

[code]

It looks like the knative package includes the namespace resource

[code]

But we need to apply it in order

[2020-07-15 04:08] jlewi opened #89 "Master auto-deployment is failing"
Here are the logs

[code]

I think we might have picked up an updated worker image which might have a newer version of kpt.

[2020-07-15 04:09] jlewi commented on #89
Locally I'm running.

[code]

[2020-07-15 04:13] jlewi commented on #89
It looks like we are running the kpt command twice

[code]

And it succeeds the first time.

[2020-07-15 04:15] jlewi commented on #89
I take that back looks like its two different directories.

[2020-07-15 08:40] Bobgy commented on #89
I was also seeing this error message locally.

I installed kpt as part of gcloud cli component, it recently upgraded to 0.30.1~.
After downgrading kpt version back to the previous one -- 0.24.0, the error message disappears.

So I think we need to report it to kpt, something broke between the two versions.

[2020-07-15 09:53] Bobgy commented on #89
FYI, working version
[code]

Failing version, 301.0.0 which had kpt 0.30+

[2020-07-16 20:54] parthmishra commented on #32
Is this still something that needs to be done? I wasn't sure if this was resolved already

[2020-07-16 22:23] jlewi commented on #89
@Bobgy that makes sense thanks. The other possibility would potentially to add a KptFile.

[2020-07-17 01:14] jlewi commented on #89
It looks like the old setter behavior is deleted so we will need to upgrade our Kptfiles.
In the meantime we can pin to the old version in order to unblock the tests.

[2020-07-17 13:35] jlewi commented on #70
@Bobgy We should probably do it

[2020-07-17 14:30] jlewi opened #90 "Better support for upgrading the deployment process - use Tekton and Kfctl instead of (in addition to) Make"
When we transitioned to blueprints for GCP we stopped using kfctl. There were a bunch of reasons that I won't go into here. A big one was that it was faster to iterate just by using a Makefile to script the various kustomize, kpt, and kubectl commands needed to describe the deployment process. The resulting Makefile's are also fairly readable and users can easily customize them.

An unresolved que

[2020-07-17 14:31] jlewi commented on #90
@animeshsingh FYI an idea for how we might re-integrate kfctl into the GCP process.

[2020-07-17 14:51] jlewi opened #91 "Move instance resources upstream"
All of the resources in
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow/instance/gcp_config

Could probably move to manifests upstream. `kpt setters` and substitutions now give us a really good way to easily sure everything
is set correctly.

This would also be more consistent as opposed to having the resources spread out in multiple places.

[2020-07-17 17:42] jlewi opened #92 "Do we need to set projectNumber in ASM operator"
We have a setter for project number here:
https://github.com/kubeflow/manifests/blob/430b4d0f172f849369e18002ca075a37301d6470/gcp/v2/asm/istio-operator.yaml#L35

But it doesn't look like we actually set the value anywhere

[2020-07-17 22:25] jlewi opened #93 "Split/Refactor gcp manifests into separate kpt packages"
Right now we have one giant kpt package for the management and instance packages
https://github.com/kubeflow/manifests/tree/master/gcp/v2/management
https://github.com/kubeflow/manifests/tree/master/gcp/v2/cnrm

We should probably split these into separate kpt packages (e.g each one should have their own kpt file)

[2020-07-17 23:13] jlewi commented on #89
Running `kpt cfg` commands has become very slow after refactoring into setters and substitutions.

[2020-07-17 23:25] jlewi commented on #89
Seems like it might be an issue with my system. even version is taking a long time.

[code]

[2020-07-17 23:39] jlewi commented on #89
Looks like the problem is that kpt tries to contact the current master of the current context. My current context was pointing at a cluster that wasn't responsive. Once I switched the context it worked.

[code]

[2020-07-18 00:01] jlewi commented on #89
Filed GoogleContainerTools/kpt#834

It looks like we need to update  gcp-blueprints/kubeflow/instance to use the new setters otherwise it will be broken as well.

[2020-07-18 19:21] jlewi opened #94 "Move patches in instance into kubeflow/manifests stacks"
Right now we have a bunch of patches in the instance directory; e.g.
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow/instance/kustomize/iap-ingress
https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow/instance/kustomize/kubeflow-apps

Is there a reason to store these in the instance directory? As opposed to moving into the package that gets stored in upstream
and using k

[2020-07-21 13:09] jlewi commented on #89
This is deploying on master:
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-master&show-stale-tests=

Need to get this cherry-picked onto the 1.1 branch.

[2020-07-21 13:12] jlewi commented on #82
Test is still failing.

[code]

Do we need to rehydrate?

The mnist notebook is running successfully; so downgrading to P1 and saying this isn't release blocking.

[2020-07-21 13:14] jlewi commented on #74
The test is still failing but it looks like knative is now installed on master

[code]

Downgrading to P1 since this looks like an issue with the test.

[2020-07-21 13:19] #70 closed

[2020-07-24 02:08] Bobgy commented on #94
From my understanding, the things in `instance` are those we expect users may want to customize by themselves and they should keep them during upgrade.

e.g. https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/instance/kustomize/kubeflow-apps/pipeline-minio-install-config.yaml and https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/instance/kustomize/kubeflow-apps/pipeline-

[2020-07-24 02:11] Bobgy commented on #92
I did see project number being set when I deploy my own instance.

[2020-07-24 02:24] Bobgy commented on #90
I worry that may be complicating things more than necessary. A local executor for tekton steps is also something new and we'd need documentation for which features we support and which not.

Did we consider just writing bash scripts for each make target and put those bash scripts in upstream?

[2020-07-24 02:27] Bobgy commented on #90
For needed information, we can set up a convention of using env vars to pass to these arguments or a config.yaml in a conventional location.
I think both works, I'd probably prefer a config.yaml.

[2020-07-24 04:10] Bobgy commented on #90
Or maybe another approach: https://www.gnu.org/software/make/manual/html_node/Recursion.html

[2020-07-24 05:19] animeshsingh commented on #90
a quick kubernetes local cluster can be created with kind.(this takes 30s) - kind create cluster. haven't tried Tekton on it, but no reason it shouldn't work ( have used kfserving tests in past)
https://github.com/kubernetes-sigs/kind#installation-and-usage

[2020-07-26 17:38] jlewi opened #102 "Fix the management blueprint"
The management blueprint is currently broken because of the KptFile refactor.

[2020-07-26 18:15] jlewi commented on #102
Instance needs a KptFile
https://github.com/kubeflow/gcp-blueprints/blob/master/management/instance/cluster/cluster.yaml

[2020-07-28 00:40] jlewi commented on #90
Running a local K8s cluster is too much complexity.

That's one option;

[2020-07-28 00:51] jlewi opened #103 "Upgrade from KF 1.0 to 1.1"
We should figure out the process for upgrading from KF 1.0 to 1.1

My initial guess is the process would look something like the following

1. Delete the existing Deployment Manager Deployments **without** deleting the underlying resources
1. Use the new GCP blueprint to hydrate but not deploy the manifests
1. Compare the manifests to your existing manifests and port over any customizations you ma

[2020-07-28 01:05] Bobgy commented on #103
/assign @Bobgy
and I also need to compile pipeline upgrade process -- especially whether existing user data can be kept.

[2020-07-28 09:53] subodh101 opened #104 "Deploy kubeflow error: Unable to recognize "---", no matches for kind "---""
What?
[Deploy Kubeflow](https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/README.md#deploy-kubeflow) is throwing effectively three errors:
1. no matches for kind "ContainerCluster" in version "container.cnrm.cloud.google.com/v1beta1"
2. no matches for kind "IAMPolicyMember" in version "iam.cnrm.cloud.google.com/v1beta1"
3. no matches for kind "Service" in version "serviceusage.cnrm.c

[2020-07-28 10:25] Bobgy commented on #104
Looks like your management cluster wasn't properly set up.

Can you retry steps in https://github.com/kubeflow/gcp-blueprints/tree/master/management?
and verify KCC is properly installed (the missing kinds are CRDs installed by KCC).

[2020-07-29 03:01] subodh101 commented on #104
In the [management](https://github.com/kubeflow/gcp-blueprints/tree/master/management), 5th step is creating an error.

5. Set the name for the management resources in the upstream kustomize package

    `kpt cfg set ./upstream name ${MGMT_NAME}`

I edited some changes in the ./upstream to get `make apply` working. Definitely did something wrong there.

### The error without manual changes:
1. `5t

[2020-07-29 03:09] subodh101 commented on #104
Are we going to maintain two clusters? Management cluster like a parent one and deploying kubeflow applications using management cluster.

[2020-07-29 10:42] Bobgy commented on #104
Not sure if related, can you try updated instruction after https://github.com/kubeflow/gcp-blueprints/pull/105 PR? Or probably looks like there's more changes coming in, you might want to wait a few days before all fixes are ready.

@jlewi can you confirm whether current state in this repo works?

Yes, we'll have two clusters, the management cluster is meant to provide declarative GCP resource man

[2020-07-30 03:09] jlewi commented on #104
@Bobgy @subodh101 The management cluster is broken per #102 and needs #105 as well as the related PR in kubeflow/manifests ; the pending fixes are needed.

[2020-07-30 03:21] jlewi opened #106 "Continuous Testing For Management Blueprint"
We should setup continuous testing of the management blueprint

[2020-07-30 21:08] melihsqsp opened #108 "anthoscli error creating management cluster - problem with workloadmetadata config for the nodepool"
Instructions at https://master.kubeflow.org/docs/gke/deploy/management-setup/ fail when running `make apply` with error `W0730 16:41:44.602361   64639 nodepool.go:441] unsupported change: {Path:Config.WorkloadMetadataConfig.Mode Actual:GKE_METADATA Expected:}` due to `./.build/cluster/container.cnrm.cloud.google.com_v1beta1_containernodepool_kubeflow-manage-pool.yaml` with entry
[code]

[2020-07-31 00:56] jlewi commented on #27
I'm getting the error:

[code]

When trying to apply the latest manifests for Kubeflow using ACM.

[2020-07-31 01:05] jlewi commented on #4
Running

[code]

Shows the files that have errors. Looks like we have a bunch of empty files corresponding to ISTIO components that aren't being installed. Apparently this causes ACM to choke.

[2020-07-31 02:35] jlewi commented on #4
It looks like the problem might have been I was using an older version of nomos and config sync.

When I upgraded to

[code]

That appeared to fix the problem.

[2020-07-31 21:26] jlewi commented on #37
The fix isn't in kpt 0.31.0.
It should be in 0.32.0

I think we can close this once gcloud installs 0.32.0 or later.

[2020-08-02 17:45] jlewi commented on #14
The IAP docs are now referring to ISTIO RequestAuthentication resources which are introduced in ISTIO 1.5.
https://istio.io/latest/news/releases/1.5.x/announcing-1.5/upgrade-notes/#authentication-policy

I think we are currently on ISTIO 1.4.

[2020-08-02 18:23] jlewi commented on #13
We should cherry pick the fixes onto the 1.1 branch and then we can close this.

[2020-08-02 18:26] jlewi commented on #22
We should go with the kpt transform. We have started using kpt functions with ACM in order to remove the namespace.

A quick hack would be to use yq to change the gateway value; but its probably just a bit more work to get a kpt transform to change the namespce.

[2020-08-02 18:46] jlewi commented on #4
I have a bunch of PRs pending that will make a bunch of fixes to using ACM to deploy Kubeflow

* kubeflow/manifests#1446 - Adds a kpt transform to remove the namespace
* kubeflow/manifests#1451 - Add control plane label to cert-manager namespace
* kubeflow/gcp-blueprints#109 - Has updated instructions and a bunch of fixes.

We are still having an issue with the reverse proxy routes as described in

[2020-08-02 18:51] jlewi commented on #108
@melihsqsp can you try changing it to nodeMetadata as specified in the spec
https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containernodepool

[2020-08-03 05:33] melihsqsp commented on #108
I noticed that the top of file `./.build/cluster/container.cnrm.cloud.google.com_v1beta1_containernodepool_kubeflow-manage-pool.yaml` file looks like this:
[code]
the clusterName was set to `clusterName: mgmt-project-id/mgmt-location/mgmt-name` without values being replaced.

Running this manually with ` anthoscli apply --project=<prof_name> -f ./.build/cluster/container.cnrm.cloud.google.com_v1be

[2020-08-03 15:19] jlewi commented on #22
See: kubeflow/manifests#1169 for information about which gateway we should be using.

[2020-08-03 15:26] jlewi commented on #108
@melihsqsp What commit did you use for the management cluster and manifests?

You should be using at least
https://github.com/kubeflow/gcp-blueprints/commit/0654b2d8f0c63f01417f03baab55d01c2320857e#diff-d10af457daa1deed54e2c36b5f295e7e

https://github.com/kubeflow/manifests/commit/4c1221c1d6b900be0f231e39edd737da6e524d1a

If your YAML files don't have proper values substituted in then it will not

[2020-08-03 16:32] melihsqsp commented on #108
I used the instructions on `https://master.kubeflow.org/docs/gke/deploy/management-setup/ ` on a fresh project, and latest sources. It pulled from master `https://github.com/kubeflow/gcp-blueprints.git/management@master`. Inside the Makefile under ./management I see `MANIFESTS_URL=https://github.com/kubeflow/manifests.git/gcp/v2/management@master` which matches with the commit you pasted. Anthos c

[2020-08-03 21:21] melihsqsp commented on #108
as far as the manifests repo goes, this error happens during 2nd step at management cluster before manifests are needed or fetched

[2020-08-04 14:22] #27 closed

[2020-08-04 21:35] jlewi commented on #108
Not sure what's happening. We'll have to try to reproduce. In the interim, you could create a cluster without using the anthos CLI; e.g. using gcloud and then just continue on to the next steps.

[2020-08-04 21:38] jlewi opened #110 "Auto deployments are failing - problem curling the meshconfig endpoint"
[code]

It looks like this was added in #99

@Bobgy Should we revert #99 from the 1.1 branch until we can figure out what the problem is?

[2020-08-04 21:39] jlewi commented on #110
/assign @Bobgy

[2020-08-04 22:55] jlewi commented on #29
Fixed by #109

[2020-08-04 22:58] jlewi opened #111 "ACM: Need to configure gateway for jupyter controller to be istio-system/ingressgateway"
With ACM we need to configure the jupyter controller to set the ISTIO gateway
to be istio-system/ingress-gateway.

This is because with ACM we stopped using the gateway "kubeflow-gateway" and instead use the istio-system gateway kubeflow/manifests#1169.

Related to: #4

[2020-08-04 23:00] jlewi opened #112 "Synchronize ACM and non-ACM instructions"
The way we configure Kubeflow when deployed with ACM has diverged a bit from non-ACM instructions.

For example, with ACM instructions we

* Run kpt functions to remove the namespace for non namespace resources
* Use istio-system/ingressgateway (to address kubeflow/manifests#1169)
* Structure the manifests according to ACM structured repo

There's no reason we couldn't do all of the same steps eve

[2020-08-05 01:29] Bobgy commented on #110
I have no idea why it got 409, can it be lack of permission?

According to the documentation, it should be a one time setup per project. So shall we move that step to documentation instead?

[2020-08-05 01:32] jlewi commented on #110
@Bobgy yes; moving to documentation sounds good at least until we figure it out.

[2020-08-06 14:01] jlewi opened #115 "Add VirtualService to allow GCLB health checks and get rid of backend updater statefulset"
We currently use this stateful set as a hack to set the health check for the GCLB
https://github.com/kubeflow/manifests/tree/b3f5b41780a01845619884e638f4f6c9183d8fef/gcp/iap-ingress/base

It looks like there is now a better approach based on creating a virtual service which will just match the health check requests and reroute them to the readiness probe.
https://cloud.google.com/solutions/integra

[2020-08-06 14:01] jlewi commented on #14
I think I misspoke above regarding the health check. It is a separate statefulset
https://github.com/kubeflow/manifests/tree/b3f5b41780a01845619884e638f4f6c9183d8fef/gcp/iap-ingress/base

That is updating the health check.  There is now a better approach for correctly setting the health check:
kubeflow/gcp-blueprints#115

[2020-08-06 22:51] jlewi commented on #115
To make this work we will also need to figure out how to exclude the health checks from the JWT checking.

It looks like JwtTriggerRule only allows matching paths.
https://istio.io/v1.1/docs/reference/config/istio.authentication.v1alpha1/#Jwt-TriggerRule

One option would be to exclude "/"  and then add JWT validation on the centraldashboard service.

Perhaps when we upgrade to ISTIO 1.6 we will h

[2020-08-06 23:02] jlewi opened #116 "Remove http from the ingress"
I think if we add the annotation

[code]

We could disallow http on the ingress. IAP also forces an automatic http to https redirect but it might be nice to disallow http traffic altogether.

[2020-08-06 23:10] jlewi commented on #115
Actually looks like BackendConfig will allow us to explicitly set the health check path.
https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features

Although it looks like that is beta in 1.17.6-gke.11 . Regular channel is still on 1.16

[2020-08-10 14:46] #110 closed

[2020-08-11 01:40] jlewi opened #117 "ASM Mesh Id should be - proj-${PROJECTNUMBER}"
According to the latest ASM instructions
https://cloud.google.com/service-mesh/docs/gke-install-asm#validating_the_installation

the mesh id should be "proj-${PROJECTNUMBER}" it looks like this changed in a recent release.

In my case no services showed up in the ASM dashboard until I

* Upgraded to ASM 1.4.10 from 1.4.7
* Set the mesh id to "proj-${PROJECTNUMBER}"

I'm not sure which or both of t

[2020-08-12 07:59] subodh101 commented on #104
@Bobgy @jlewi
Thanks, it is fixed now.
I was able to successfully deploy it.
Closing the issue.

[2020-08-12 07:59] #104 closed

[2020-08-12 08:46] Bobgy opened #118 "Tag a v1.1.0 release"
Hi @jlewi, we haven't been tagging a v1.1.0 release tag and instructions on https://www.kubeflow.org/docs/gke/deploy/management-setup/ are still pointing to master.

[2020-08-12 10:00] jal06 opened #121 "Constraint constraints/compute.vmExternalIpAccess violated for project"
I'd like to deploy a Kubeflow instance version 1.1 following instructions[ here](https://www.kubeflow.org/docs/gke/deploy/management-setup/)

When applying the manifests for creation of the management cluster, I get an error :

`make apply`

[code]

I don't know if it can help, but below is the anthoscli version used

`anthoscli version`
`Version: version.Version{AnthosCLIVersion:"beta", GitCommit

[2020-08-12 13:56] jlewi commented on #118
Thanks @Bobgy I sent you #122 with some mixing fixes to the blueprint cluster that was preventing us from switching to the management cluster to the 1.1 branch.

I'm on the fence about whether our docs should refer to a branch or a specific/commit tag. WDYT?

[2020-08-12 15:36] jal06 commented on #121
The solution is described in this issue [2123](https://github.com/kubeflow/website/issues/2123)
I run make set-values before running make apply and it works

However I had to modify Makefile for removing the 1rst line ( set-values: ) in the set-values def.

At the end, there is also a warning :
[code]
I don't know what means this warning and if it is important

[2020-08-12 16:06] jal06 commented on #121
The cluster is not started. I see this error in the console
`Not all instances running in IGM after 30.687239058s. Expect 1. Current errors: [CONDITION_NOT_MET]: Instance 'gke-xxxxxx-xxxxxx-pool-aaaaaaaa-bbbb' creation failed: Constraint constraints/compute.vmExternalIpAccess violated for project 123456789012. Add instance projects/xxxxxxx/zones/europe-west1-b/instances/gke-xxxxxx-xxxxxx-pool-aaaa

[2020-08-12 20:32] jal06 commented on #121
removing the 1rst line ( set-values: ) in the set-values def is solved by PR [120](https://github.com/kubeflow/gcp-blueprints/pull/120)

But cluster doesn't start due to error above

[2020-08-13 08:21] Bobgy opened #123 "Documentation - we need an KF 1.1 on GCP overview page"
I've been getting quite some questions from different channels asking about various questions.

I think current documentation only explained how to deploy Kubeflow 1.1, but it doesn't touch topics below:
* Where is kfctl?
* Why did we stop using kfctl?
* What is Anthos Service Mesh? Can we replace it with istio? How much does it cost? (I couldn't find related documentation)

These are pretty much

[2020-08-13 08:21] Bobgy commented on #123
/cc @jlewi @8bitmp3
What do you think?

[2020-08-13 09:42] Bobgy commented on #118
I think we should always be referring to a commit tag, that's the only way to make user errors reproducible.

What concerns do you have? Do you worry management cluster might not change much, but we may need to update its version in doc each time?

[2020-08-13 09:47] Bobgy commented on #118
Comparing to tag vs branch, I was actually more confused by release branch process in gcp blueprints repo.
I don't think we are going to work on any PRs not meant to be fixing issues for KF 1.1 right now, but we have to cherry pick every PR (a lot of manual effort).

I'd want to propose a lazy procedure for cutting release branch:
[code]

[2020-08-13 09:57] Bobgy commented on #118
Was the reason for 1.1 branch as a way to release? e.g. we document to let users to use the branch.

Then if we switch to tag for release, we can save the cherrypick process of maintaining two branches for now.

[2020-08-13 13:05] jlewi commented on #118
@Bobgy The lazy approach you mention sounds like a great idea. I only cut a branch because I was replicating what we already do for the kubeflow repos.

[2020-08-13 13:21] jlewi commented on #123
Overview or FAQ?

[2020-08-13 15:08] 8bitmp3 commented on #123
💯👍!

@Bobgy

I can share some of my writing ([from May 2020](https://raw.githubusercontent.com/8bitmp3/Google-Cloud-Tutorial-Setting-Up-Istio-Powered-Anthos-Service-Mesh-on-Google-Kubernetes-Engine/master/Google-Cloud-Tutorial-Setting-Up-Istio-Powered-Anthos-Service-Mesh-on-Google-Kubernetes-Engine.md)) that we can shorten and include in the @Bobgy @jlewi 's proposed **KF 1.1 on GCP Overview/FAQ**

[2020-08-13 20:29] connorlwilkes commented on #123
I think it's a very valid question as to why with GCP there appears to be a slow tie in with Anthos with these GCP blueprints. It would make sense to offer Istio as an alternative if possible as there are costs I understand with the Anthos route and many users may not want to pay for this.

[2020-08-13 22:07] dwatrous opened #125 "Kubeflow manifests not compatible with kustomize 3.8.1; unknown field env"
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/

During the `make apply` step, I get the following error

[code]

[2020-08-13 22:24] dwatrous commented on #125
I was using
ustomize version
{Version:kustomize/v3.8.1 GitCommit:0b359d0ef0272e6545eda0e99aacd63aef99c4d0 BuildDate:2020-07-16T00:58:46Z GoOs:linux GoArch:amd64}

Using 3.2.1 works.

[2020-08-13 22:33] dwatrous opened #126 "Deploy using kubectl and kpt; no matches for kind "Application""
https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
During the make apply step, I get the following error

[code]

These continue for many resources... I double checked and can confirm that the context I provided

[code]

[2020-08-13 23:02] Bobgy commented on #126
There is a missing step in the guide about creating the namespace and configuring context.
I added them in
https://github.com/kubeflow/website/pull/2118

[2020-08-14 01:16] Bobgy commented on #123
@jlewi Do you have context why we chose Anthos Service Mesh as builtin support for Kubeflow?

My understanding is an open source istio 1.4 should be functioning the same if users prefer istio.

[2020-08-14 01:18] Bobgy commented on #123
For cloud config connector and management cluster,
my answer is, that's the Google Cloud opinionated way of declarative cloud resources management. You can use yaml files that can be processed by kustomize to define GCP resources.

Things like providing built-in workload identity bindings as manifest are powered by this new ability.

[2020-08-14 02:54] Bobgy commented on #117
Let me send a PR for the fix, I tried to use ASM dashboard but couldn't find anything useful there. It would be a waste of ASM if the dashboard doesn't work.

[2020-08-14 09:22] Bobgy commented on #118
Great, I'll see how we can switch the process, so far it looks like master and v1.1 is almost the same, with really minor diffs.

I guess one thing we need to handle is, we need to change autodeploy process to use the same branch, but parameterize where manifests should be get, one should use master manifests and one should use v1.1.0 branch.

Another question is: how do we tag a release for a rep

[2020-08-14 09:28] Bobgy commented on #121
@jal06 looks like your org has a policy to not allow cluster with external ip

Would you mind creating Kustomize overlays in the `instance` folder for the cluster instance, so that it works for your org?
The resource specs are consumed by https://cloud.google.com/config-connector/docs/overview service.
You may refer to cluster spec reference in https://cloud.google.com/config-connector/docs/refere

[2020-08-14 14:00] dwatrous commented on #126
Creating the namespace did work, but then part way through the install I get this error

[code]

[2020-08-14 14:28] jlewi commented on #118
kubeflow/internal-acls#311 should address this; although you could also create a specific team with permissions on the repo.

Yeah I didn't think of that. Would it make sense to still cut branches for the v1.X.Y releases so that we can change the manifests on that release branch to point to the correct manifests release?

We could just cut a new release branch off the latest master for each v1.X.Y

[2020-08-14 14:28] Bobgy commented on #126
@dwatrous I've never seen this error message before.
Some guesses: can you try apply again?

Maybe the CRD wasn't initialized

[2020-08-14 14:30] Bobgy commented on #126
If that doesn't work, can you try to verify whether Application CRD is applied, and why it wasn't applied

[2020-08-14 15:24] jal06 commented on #121
@Bobgy thanks for your answer.

I will ask my admin team to have more infos about our policy.

I guess I must enable the ContainerCluster.networkPolicy and set a value in ContainerCluster.networkPolicy.provider .
Am I right ?

[code]

Please, could you elaborate why we need to allow external IP here ?

[2020-08-14 17:32] devoftheweb commented on #123
I too don't understand the _requirement_ for adding in the Anthos Service Mesh as an abstraction layer over istio -- when the user is looking to **deploy Kubeflow solely on GCP** (not multi-cloud or on-prem).

@8bitmp3

Yes, that explains what the Anthos Service Mesh _is_ but it doesn't explain a) why its explicitly needed in a default Kubeflow GCP deployment and b) the transition to the Anthos ab

[2020-08-14 17:44] devoftheweb commented on #123
I agree with @connorlwilkes.

@Bobgy

I'd say Kustomize is increasing in popularity across Kubernetes deployments (vs Helm). Definable YAML files isn't something unique to GCP resource management.

The concerns here are:

1. The decision to include Anthos Service Mesh as the default deployment for Kubeflow on GCP -- without having provided context or an explanation.
2. Should Anthos Service Mesh r

[2020-08-14 23:38] Bobgy commented on #123
For clarification, Anthos Service Mesh is literally managed istio. It's not an abstraction on top.

Therefore, you can replace it with istio, if you got that working, we'd welcome contribution to provide istio as an option.

[2020-08-17 13:45] jlewi commented on #123
On GCP we use ACM because it is the recommended way of running ISTIO on GCP. If you want to deploy and run OSS ISTiO instead you are welcome to do so.

[2020-08-18 07:35] Bobgy commented on #118
Great idea, sounds like both works, let me try merging master first because it's less intrusive (no need to delete the existing v1.1 branch).

[2020-08-18 07:36] Bobgy commented on #118
I'll cut a 1.1.0 release tag just to archive current status.

[2020-08-18 08:17] Bobgy opened #128 "8.18 - Presubmit tests failing - KCC stuck at creating clusters"
I found presubmit tests are failing completely:
e.g. https://github.com/kubeflow/gcp-blueprints/pull/127

I did the following things to troubleshoot:
* I took a look at the tekton task, it failed waiting for the containercluster to be provisioned.
* I started taking a look at the kubeflow-ci-management cluster.
* The containercluster doesn't have a status field, it seems to indicate something went

[2020-08-18 08:17] Bobgy commented on #128
/assign @jlewi
Do you know the answer to above question?

[2020-08-18 08:19] Bobgy commented on #128
For quick workaround, I cleaned up all IAMPolicies to see if it fixes test failures.

[2020-08-18 08:21] Bobgy commented on #128
Then we'd probably need to upgrade the KCC install

[2020-08-18 08:28] Bobgy commented on #128
I found an internal issue tracking the KCC bug, asking if there are any updates.

[2020-08-18 08:36] Bobgy commented on #128
Despite above mentioned GC problem, it seems after I restart KCC controller, ContainerCluster is created successfully now, although reconcile cycle seems to be slower than usual. I'm suspecting the slowness is caused by above GC problem.

[2020-08-18 08:39] Bobgy commented on #118
Tagged https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.1.0

[2020-08-18 08:58] Bobgy commented on #128
Hmmm, restarting the controller doesn't solve it forever. It only reconciles for a while, it still fails to reconcile a containercluster to ready: true.

[code]

Although, I can see on cloud console, the cluster is already ready.

[2020-08-18 14:25] jlewi commented on #128
@Bobgy Thanks for digging into this. I think I hit similar issues to this in the past. Is their resource contention going on?

i.e all of the IAMPolicyMembers are trying to update the IAMPolicy and this leads to contention because IAMPOlicy can only be updated atomically?

Is the GC problem in our logic or in KCC? It looks like we have very old IAMPolicyMembers e.g.

[code]

These look like past t

[2020-08-19 06:07] Bobgy commented on #128
@jlewi I got a reply from the internal bug mentioning it might be a KCC scaling problem, we can upgrade once they get their latest release out.

Strangely, did you do anything or what happened that the stuck iam policies are cleaned up today. I'm rerunning tests to see if they work now.

[2020-08-19 06:39] Bobgy commented on #128
Something strange in test failure today is that, tekton seems to get problems: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_gcp-blueprints/127/kubeflow-gcp-blueprints-presubmit/1295965123369766912/.

The tekton task loads forever: https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/tekton/#/namespaces/auto-deploy/pipelineruns/deploy-kf-master-hjm74

and fails with cannot fin

[2020-08-19 08:29] Bobgy commented on #118
@jlewi I just realized management cluster in gcp-blueprints is pointing to manifests master. When do you think we can pin a release tag on manifest repo for v1.1.1 or v1.1.1-rc.1? How do we usually coordinate work across kubeflow?

I'll pin management cluster to v1.1-branch in manifest first.

[2020-08-20 03:07] jlewi commented on #128
What is the output of `kubectl describe` for the pipelineruns and taskruns?

[2020-08-20 09:10] dippynark opened #130 "Circular webhook dependency"
I am following this blueprint as described [here](https://github.com/kubeflow/gcp-blueprints#getting-started) using Kubeflow version 1.1. There appears to be a circular dependency on the Istio and Kubeflow webhooks being available. If you are able to wipe out the Pods for both webhooks at the same time you see something like the following:

[code]

But the kfserving-controller-manager StatefulSet,

[2020-08-20 14:35] jlewi commented on #118
@Bobgy SGTM thanks

[2020-08-23 19:43] jlewi commented on #4
Here's a couple issues I ran into trying to follow the latest instructions

* ACM_MGMT_REPO isn't defined in the Makefile

There is a bug in the acm-gcp ule

[code]

The first command `acm-gcp:hydrate-gcp` is a bug. Looks like a bad merge conflict.

[2020-08-24 01:35] jlewi opened #131 "ClusterCreation Failed; Cluster and IAMServiceAccount Missing project annotation"
I tried creating a fresh deployment. CNRM failed to create my container cluster. The error was

[code]

Similarly the IAMService accounts weren't being created and gave the following

[code]

I was able to fix this by just defining patches to add the annotation

[code]

I'm not sure why this error started happening suddenly.

The only difference in my deployment from previous deployments is that m

[2020-08-24 01:55] jlewi commented on #131
My ComputeDisks were likewise stuck in the same state; i.e. with errors

[code]

I deleted them and then recreated them (via ACM). This time the resources were created successfully.

So it looks like the way to fix it was

1. Properly configure the GSA and workload identity for the CNRM controller
1. Delete the CNRM resources with this error and recreate them.

[2020-08-24 01:55] #131 closed

[2020-08-24 10:49] Bobgy commented on #123
Hi all! I've updated with quick answers I drafted in the first comment: https://github.com/kubeflow/gcp-blueprints/issues/123#issue-678249292.

Feel free to let me know if there are further questions.

[2020-08-24 13:59] nuel-d1 commented on #125
How do i install version 3.2.1? I can't seem to find my way around it

[2020-08-24 14:24] jlewi commented on #130
It looks like the namespace resource for ISTIO is generated by the istio operator.

If we follow the ACM directions which use https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/hack/to_acm_structure.py to rearrange the files then we can easily use yq
to add the label to the namespace using yq.

[2020-08-24 14:33] jlewi commented on #131
FWIW the `service.serviceusage.cnrm.cloud.google.com ` were also in an error state

[code]

Deleting and recreating the services appeared to fix it.

[2020-08-25 09:36] Bobgy commented on #128
I didn't have time clean up the resources, but looks like presubmit tests have been back to normal.

Though, it's still a valid problem how we can GC tekton resources.
Tekton community has an issue https://github.com/tektoncd/experimental/issues/479 tracking this.

[2020-08-25 09:39] Bobgy commented on #128
I think we need at least a bash script to clean up old tekton resources on demand.

[2020-08-25 09:44] Bobgy commented on #128
We can track the GC problem in https://github.com/kubeflow/testing/issues/750.

Just double check @jlewi, did you do anything to fix the presubmit tests? or it just recovered by itself?

[2020-08-25 09:44] #128 closed

[2020-08-25 15:32] jlewi commented on #116
https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#disabling_http

[2020-08-25 15:56] jlewi commented on #116
I checked it and it worked.

[2020-08-25 17:43] jlewi commented on #53
Here's my current thinking on a comprehensive approach to supporting existing infrastructure

1. Users should hydrate all the manifests
1. Users customize the manifests to remove any resources or applications they don't want to install
1. Users customize the manifests to point at existing infrastructure.

A good place to start would be our [GitOps Recipe](https://github.com/kubeflow/gcp-blueprints

[2020-08-25 17:46] jlewi commented on #123
I would put OSS ISTIO into the bring your own infrastructure bucket.
#53 is tracking installing on existing clusters. I think in this case users would be responsible for setting up a cluster with ISTIO and then continuing to install KF ontop of it.

[2020-08-25 23:47] Bobgy commented on #53
+1 for following the same folder structure for got ops. Also, it shouldn't be in .build -- a hidden folder. We should recommend people taking a look and checking it into git repo.

[2020-08-27 14:03] #116 closed

[2020-08-29 01:10] jlewi commented on #125
Duplicate of kubeflow/manifests#538

[2020-08-30 00:07] Bobgy commented on #126
By the way, confirmed you just need to retry

[2020-09-02 08:07] Bobgy commented on #118
Pinned 1.1.0 and updated documentation

[2020-09-02 08:07] #118 closed

[2020-09-04 01:09] Bobgy opened #132 "unable to recognize "./.build/istio/Base/Base.yaml": Get https://x.x.x.x/api?timeout=32s"
get the following error message when `apply-asm` step in kubeflow/Makefile
[code]

reported in https://kubeflow.slack.com/archives/C7REE0EHK/p1599122036065700

The error message just means kubectl failed to reach the kubernete api server, but the most common way for getting this problem is that:
1. deploy a kubeflow instance
2. sth fails, so delete the kubeflow instance
3. fix some issues and rede

[2020-09-04 01:13] Bobgy commented on #132
the workaround is `kubectl config delete-context $KF_NAME`, so that when you run `make apply` again, it will create the new context for you.

[2020-09-04 01:13] Bobgy commented on #132
/cc @jlewi
I'm thinking maybe we can just always refetch the kubectl context, it doesn't hurt in other ways, but it solves this purpose.

[2020-09-08 17:17] jtfogarty commented on #71
/priority p2

[2020-09-08 17:51] jtfogarty commented on #22
/priority p2

[2020-09-08 17:53] jtfogarty commented on #43
/priority p2

[2020-09-08 17:53] jtfogarty commented on #69
/priority p2

[2020-09-08 17:54] jtfogarty commented on #91
/priority p2

[2020-09-08 17:55] jtfogarty commented on #15
/priority p2

[2020-09-08 18:00] jtfogarty commented on #52
/priority p2

[2020-09-08 18:06] jtfogarty commented on #106
/priority p2

[2020-09-11 18:24] jtfogarty commented on #78
/priority p1

[2020-09-14 13:54] jlewi commented on #132
The error looks like the IP address is wrong. I'm guessing the recreated the cluster and the IP address changed?
Does it really make sense to recreate the context on every call? That seems like an unnecessary call to gcloud container clusters get-credentials which adds a bit of latency.

Maybe we could just document the error in the troubleshooting guide and tell people to recreate the context?

[2020-09-15 05:02] thesuperzapper commented on #53
Here is my new proposal for Kubeflow's deployment model:
https://github.com/kubeflow/manifests/issues/1554#issuecomment-692459952

[2020-09-16 18:50] jlewi commented on #32
I'm hoping by now this is resolved in newer versions of CNRM but need to double check and then should update the documentation (kubeflow/website#2190) appropriately.

[2020-09-17 00:00] jlewi opened #138 "Recipe for Deploying Kubeflow on Anthos (GKE On Prem)"
We need a recipe for deploying Kubeflow on Anthos (GKE On Prem).

Here are some pointers

1. Start with our [GitOps instructions](https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/README.md#gitopswork-in-progress-using-anthos-config-managment-to-install-and-manage-kubeflow) as a way of generating YAML manifests for the K8s and GCP resources you need on a GCP deployment
2. Add/Remove/

[2020-09-17 13:44] jlewi commented on #90
I like @Bobgy 's suggestion to use recursive make. This would allow us to follow a similar pattern to what we are doing with kustomize in that we would have an overlay (the Make in the blueprint) where users could add custom commands   and delegate to Make rules in the upstream branch. On upgrades this would preserve user customizations while pulling in any updates to the recipe.

e.g. `${MYKUBEFL

[2020-09-17 13:52] jlewi commented on #90
FYI @subodh101 since they have been cleaning up our Makefiles

[2020-09-17 15:05] jlewi commented on #117
I also needed to register my cluster with Anthos.

[2020-09-17 15:42] jlewi commented on #70
The link to the docs is broken; here's an updated link.
https://cloud.google.com/service-mesh/docs/gke-install-asm

I think the init command is creating the appropriate GCP service account that the side car will use to send metrics/logs to stackdriver. Without this we won't be able to see metrics in the dashboard.

[2020-09-18 12:56] subodh101 commented on #90
I also feel @Bobgy 's suggestion is the right thing to do.

Few thoughts:
- The new makefile would have the make recursive command step but what about the users who are using old makefile. They will have to add the make command in Makefile to update kubeflow?
- Adding one Makefile in upstream is sufficient to achieve the goal here. We might not need more otherwise it will automatically remove purp

[2020-09-18 13:28] jlewi commented on #90
Users would have to manually update the ${KUBEFLOW}/Makefile. This is true today. With ever release of KF if make changes to the sequence of kubectl/kpt/yq commands to deploy Kubeflow they will have to update their Makefiles manually. This is what we are trying to address with this issue.

[2020-09-21 22:50] #117 closed

[2020-09-22 09:42] Bobgy commented on #132
Fixed by https://github.com/kubeflow/gcp-blueprints/pull/134.

[2020-09-22 09:42] #132 closed

[2020-09-23 12:46] Bobgy opened #139 "Kubeflow on GCP - 1.2.0 release tracker"
Creating an issue to track efforts required before 1.2.0 release.

EDIT: upstream Kubeflow 1.2 release issue: https://github.com/kubeflow/kubeflow/issues/5371

TODOs:
* [x] P0 https://github.com/kubeflow/gcp-blueprints/issues/143
* [x] P0 Update KFP to 1.0.4
* [x] P0 https://github.com/kubeflow/gcp-blueprints/pull/169
* [x] Upgrade config connector to latest https://github.com/kubeflow/manifests/p

[2020-09-23 14:40] subodh101 commented on #139
[Website doc updates] Update setting the values step: https://github.com/kubeflow/website/pull/2126

[2020-10-07 01:37] jtfogarty commented on #33
/priority p1

[2020-10-07 01:38] jtfogarty commented on #53
/priority p1

[2020-10-07 01:39] jtfogarty commented on #90
/priority p1

[2020-10-07 01:40] jtfogarty commented on #123
/priority p1

[2020-10-07 01:47] jtfogarty commented on #32
/priority p1

[2020-10-07 01:49] jtfogarty commented on #121
/priority p1

[2020-10-07 01:55] jtfogarty commented on #139
/priority p1

[2020-10-09 14:48] jlewi commented on #103
The [GitOps recipe](https://github.com/kubeflow/gcp-blueprints/tree/master/kubeflow#gitopswork-in-progress-using-anthos-config-managment-to-install-and-manage-kubeflow) is a good place to start for hydrating all the manifests.

[2020-10-09 14:52] jlewi commented on #103
kubeflow/gcp-blueprints#90 is also relevant to improving the upgrades.

[2020-10-09 15:01] jlewi opened #140 "kpt/kustomize function to remove/select all resources with a specific label"
It might be valuable to have a kpt/kustomize function that would remove alternatively only keep resources matching some label selector.

This might be useful for example to select which applications to install or not to install.
ref: https://github.com/kubeflow/gcp-blueprints/issues/53#issuecomment-680174025

[2020-10-12 08:37] jal06 commented on #108
I have same error as @melihsqsp

I followed instructions from the [documentation](https://www.kubeflow.org/docs/gke/deploy/management-setup/)  and have same problem using manifest v1.1.0
`kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management@v1.1.0 ./`

When running `make apply` , I see a warning about the flag --project which has been deprecated
But more important, I also see the

[2020-10-12 08:45] Bobgy commented on #108
/assign @jlewi @Bobgy
Looks like an urgent issue, I'll try to reproduce

[2020-10-13 07:06] Bobgy commented on #121
@jal06 it's not required, you can follow guide for private cluster in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/deploy_private.md.

[2020-10-26 06:56] jal06 commented on #121
@Bobgy thanks for your help. My admin team helped me to solve that issue.
So I tried to install again 1.1 and it works perfectly

About the warning mentionned above `W0812 17:31:17.516825   11429 nodepool.go:441] unsupported change: {Path:Config.WorkloadMetadataConfig.Mode Actual:GKE_METADATA Expected:}` , I think the root cause is that I didn't set the right values for the variable NAME.
My conce

[2020-10-26 08:57] Bobgy commented on #121
Thanks for the suggestion!
Do you want to create a new issue focus on the usability improvement, we welcome contribution on it

[2020-10-26 09:26] jal06 opened #142 "Usability improvement : better naming of variable"
When instaling Kubeflow in GCP, we must now create 2 K8S clusters
- 1 management cluster
- 1 Kubeflow cluster

During the installation, we use the same variable NAME for those 2 clusters. IMHO, it's a little bit confusing and it could help to name those clusters with different names in the documentation and in Makefile

See documentation and Makefile
- for management cluster : [documentation](http

[2020-10-26 09:27] jal06 commented on #121
I created the [issue 142](https://github.com/kubeflow/gcp-blueprints/issues/142)
I think I can close thi issue now.

Thanks !!!

[2020-10-26 09:27] jal06 commented on #121
/close

[2020-10-26 09:27] #121 closed

[2020-10-27 02:36] Bobgy commented on #108
@jal06 sorry for the late reply, your issue seems to be different.
Your management cluster name is `kfmgmnt`, right?
but when running `make create-ctxt`, it is looking for

So it seems your configuration for the management cluster's name somehow went wrong, can you double check?

[2020-10-27 05:44] jal06 commented on #108
@Bobgy, you are right.
The documentation was a little bit confusing for me, and I did some mistakes when setting the configuration.

I created a new issue [142](https://github.com/kubeflow/gcp-blueprints/issues/142) for suggesting some clarification in the documentation. I hope it makes sense and will help others

[2020-10-28 12:23] subodh101 commented on #39
This issue is resolved and can be closed
- https://github.com/kubeflow/gcp-blueprints/pull/135
- https://github.com/kubeflow/gcp-blueprints/pull/120

cc: @jlewi

[2020-10-29 08:41] Bobgy opened #143 "presubmit test broken - 10.29"
See https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubeflow_gcp-blueprints/137/kubeflow-gcp-blueprints-presubmit/1321719992365879296/

[2020-10-29 08:42] Bobgy commented on #139
Renamed to 1.2.0 release tracker, because we are close to Kubeflow 1.2 release.

[2020-10-29 13:58] jlewi opened #144 "Upgrade ASM from 1.4 to 1.6+"
We are currently using ASM 1.4. Docs currently recommend 1.6.
https://cloud.google.com/service-mesh/docs/gke-install-asm

I don't think 1.4 is still supported.

kubeflow/kubeflow#5313 is tracking ISTIO 1.6 in Kubeflow

[2020-10-29 14:00] jlewi commented on #143
Here's the error

[code]

[2020-10-29 14:35] jlewi commented on #143
Based on test logs the management cluster is
gke_kubeflow-ci_us-central1_kf-ci-management

cnrm-webhook-manager

Is reported as unhealthy

[2020-10-29 14:37] jlewi commented on #143
[code]

[2020-10-29 14:39] jlewi commented on #143
I deleted the pod and a new one restarted.

[code]

[2020-10-29 14:50] jlewi commented on #143
The latest run of the pipelinerun now appears to be stuck getting started; there doesn't appear to be any taskruns

[code]

[2020-10-29 14:52] subodh101 commented on #143
I think we also need to upgrade our current version of config connector(1.9.1) to the latest one as mentioned https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/252#issuecomment-696133051

[2020-10-29 15:04] jlewi commented on #143
It looks like there are a huge number of TektonPipelineRuns accumulating in the kf-ci-v1 namespace

Looks like we have 49749 pipelineruns. I'm wondering if that is affecting the Tekton pipelineruns controller and explain why the latest runs aren't starting.

[pipelineruns.txt](https://github.com/kubeflow/gcp-blueprints/files/5459313/pipelineruns.txt)

Lets try deleting all the pipelineruns

[code]

[2020-10-29 17:05] jlewi commented on #143
I'm running the program in kubeflow/testing#767 to try to GC all the finished taskruns and see if that fixes things.

[2020-10-29 23:24] jlewi commented on #143
Tekton pipelines appear to be running again.

/test all

[2020-10-30 01:39] jlewi commented on #143
The auto deployments are unhealthy. It looks to me like  we are running short on quota for

* service accounts
* PD
* static ip addresses

in project kubeflow-ci-deployment

[code]

I'm not sure where all of the kfctl clusters are coming from.

[2020-10-30 01:46] jlewi commented on #143
My conjecture is these are coming from the kfctl repo.
https://github.com/kubeflow/kfctl/blob/v1.0-branch/prow_config.yaml

In particular I think they are coming from the previous release branches which are still running tests.

[2020-10-30 02:53] jlewi commented on #143
I selected all of the clusters except the "kf-v1" cluster for deletion.
I'm not sure what all the apps clusters are for; I suspect at least some of them were for click to deploy which we are no longer using.

I also deleted a bunch of service accounts and IP addresses. This should hopefully free up some quota.

Judging by the cluster timestamps it looks like resources are still being GC'd as we do

[2020-10-30 03:01] Bobgy commented on #144
Agree, added to https://github.com/kubeflow/gcp-blueprints/issues/139.
We need to confirm the CRDs we are relying on, like Istio RBAC are still supported on 1.6.

[2020-10-30 13:26] jlewi commented on #143
So it looks like the blueprint clusters were able to get created. The endpoints aren't accessible though.
[code]

[2020-10-30 13:32] jlewi commented on #143
Looking at the logs it looks like there was a timeout waiting

[code]

It looks like the last blueprint cluster might have been deployed around the same time as I was cleaning up kubeflow-ci-deployment was getting deployed.

[2020-10-30 13:34] jlewi commented on #143
Another auto-deployment just started and it looks like the cluster was correctly created and it progressed to deploying the applications.

[2020-10-30 14:15] jlewi commented on #143
The latest autodeployment is up and healthy.
https://kf-vbp-1030-3b5.endpoints.kubeflow-ci-deployment.cloud.goog/

[2020-10-30 15:19] jlewi commented on #39
Woo Hoo; Thanks @subodh101

[2020-10-30 15:21] jlewi commented on #39
Sorry; Just realized we will need to update the docs.

kubeflow/website#2126

[2020-11-02 05:26] Bobgy commented on #143
Thank you @jlewi!

[2020-11-02 05:26] #143 closed

[2020-11-02 05:28] Bobgy opened #145 "auto deployment's endpoint "this site cannot be reached""
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/auto_deploy/

[2020-11-02 05:54] Bobgy commented on #142
Thank you @jal06, I think these are great suggestions!

[2020-11-02 05:56] #126 closed

[2020-11-03 10:30] jal06 opened #146 "Seldon not available in KF 1.1"
I deployed Kubeflow 1.1 on GCP following the [documentation](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/)

Then I wanted to run the simple example from this [documentation](https://www.kubeflow.org/docs/components/serving/seldon/)

When creating the SeldonDeployment, I get the error below :
`error: unable to recognize "seldon-test.yaml": no matches for kind "SeldonDeployment" in version "

[2020-11-03 12:38] Bobgy commented on #146
Is there a way to install Seldom in this existing cluster?

[2020-11-03 14:54] jal06 commented on #146
I was expecting that Seldon should be installed in Kubeflow 1.1 because

- In this [documentation](https://www.kubeflow.org/docs/components/serving/seldon/), it is written that Seldon Core Serving has stable status in Kubeflow 1.1.

- Seldon was already deployed by kfctl in version 1.0.0. (but I didn't try it)

Maybe I could try to install Seldon as explained [here](https://github.com/SeldonIO/sel

[2020-11-04 09:35] vineetbadola opened #181 "Kubeflow issue on GKE"
Team

I am trying to setup Kubeflow on GKE
I am able to setup the management cluster but facing issue while configuring the kubeflow cluster

Everytime getting below error
service/application-controller-service created
serviceaccount/application-controller-service-account created
error: unable to recognize ".build/application/app.k8s.io_v1beta1_application_application-controller-kubeflow.yaml": no

[2020-11-05 05:09] Bobgy commented on #145
/assign

[2020-11-05 05:14] Bobgy commented on #145
Compute Engine API | Persistent Disk Standard (GB)

These quotas are reaching limit for `kubeflow-ci-deployment` project.

[2020-11-05 05:37] Bobgy commented on #145
I cleaned up disks via https://github.com/kubeflow/pipelines/issues/2523#issuecomment-548673926

[2020-11-05 05:43] Bobgy commented on #145
There are also 40 cloud endpoints, it's also at quota limit I think.

[2020-11-05 06:09] Bobgy commented on #145
Looks like we can use https://github.com/kubeflow/testing/blob/master/py/kubeflow/testing/cleanup_ci.py to clean up endpoints, but I have no idea how to run that script right now.

Directly doing `python cleanup_ci.py` fails with

  File "./py/kubeflow/testing/cleanup_ci.py", line 16, in <module>
    from kubeflow.testing import argo_client
ModuleNotFoundError: No module named 'kubeflow'

[2020-11-05 06:18] Bobgy commented on #145
Figured out it can be called with
[code]

[2020-11-05 06:59] Bobgy commented on #145
Cleaning up endpoints wasn't enough.
I found a further problem, when KCC binds iam policy member to kf-admin, it fails with

      for \"project \\\"projects/kubeflow-ci-deployment\\\"\"" returned error: Batch
      request and retried single request "Create IAM Members roles/servicemanagement.admin
      serviceAccount:kf-vbp-1105-b82-admin@kubeflow-ci-deployment.iam.gserviceaccount.com
      for

[2020-11-05 07:20] Bobgy commented on #145
It's strange that there are many IAM bindings that refer to service account starting with `deleted:`
e.g.
[code]

The cleanup_ci.py script does not delete these bindings, considering the service account as still existing today.

[2020-11-05 07:26] Bobgy commented on #145
OK, found the problem, cleanup_ci.py didn't understand the suffix `?uid=118042414155577216737`, so it thought these are not service accounts. We might want to fix that.

[2020-11-05 07:54] Bobgy commented on #145
Endpoint deployed from master branch is back normal!!
https://kf-ci-v1.endpoints.kubeflow-ci.cloud.goog/auto_deploy/

[2020-11-05 08:49] Bobgy opened #148 "Adopt config connector GKE addon or operator?"
Part of https://github.com/kubeflow/gcp-blueprints/issues/139

https://cloud.google.com/config-connector/docs/concepts/installation-types
Config connector is only documenting GKE addon or operator solutions now, so I think we should switch to one of them

It says the GKE addon has a relatively old version, but I just checked an installation. It's not that old, right now it's config connector `1.23

[2020-11-05 08:51] Bobgy commented on #148
FWIW, the GKE addon installed version has this config
[code]

[2020-11-05 09:17] Bobgy commented on #148
Reading the entire documentation, it seems GKE addon has the best support.
Installing it is just enabling an addon, upgrade will happen automatically with GKE upgrade.

[2020-11-05 11:38] Bobgy commented on #148
The remaining question is how can we upgrade users from config connector 1.9.0 to GKE addon.

[2020-11-05 11:58] Bobgy commented on #148
I just tried enabling the GKE addon on an existing cluster:
[code]

It correctly take control of `cnrm-system` namespace, we'll need to edit the conofigconnector resource as usual like
[code]

[2020-11-05 12:01] Bobgy commented on #148
Also verified the config connector is working correctly orchestrating GCP resources.

So it seems the upgrade path is very smooth, if we can make it more declarative through anthoscli apply, that will be even better.

[2020-11-05 12:29] Bobgy commented on #148
Unfortunately, I upgraded to latest gcloud and tried
[code]

Although I added the addonsConfig.configConnectorConfig.enabled=true, anthoscli does not apply the change on my cluster. I'm not sure whether it's because of the few unsupported change warnings though.

[2020-11-05 12:30] Bobgy commented on #148
We can choose to provide manual instructions for upgrading from configconnector in KF 1.1 to GKE addon. This will be one time effort and we can rely on the GKE addon for future upgrades. Sounds like a good deal.

[2020-11-06 09:30] Bobgy commented on #146
/cc @jlewi
Can you share some context about this change?

[2020-11-06 13:49] jlewi commented on #146
Does it make sense to install both KFServing and Seldon by default?

In general, I think we need to move in the direction of making it more composable and letting people select the applications they want.

[2020-11-06 14:09] jlewi commented on #148
I think in general AddOns aren't recommended because they tie the lifecycle of the software to the master. You can't upgrade the software without upgrading the master which could become problematic.

[2020-11-09 00:56] Bobgy opened #149 "[Documentation] cluster name length limit"
Originally posted in https://github.com/kubeflow/kubeflow/issues/5223

[2020-11-09 02:22] Bobgy commented on #148
Convinced, let's go with the operator

[2020-11-09 03:58] Bobgy opened #150 "test: deploy 1.1-branch failure"
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-1-1&group-by-hierarchy-pattern=%5B%5Cw-%5D%2B&show-stale-tests=&width=5

[2020-11-09 03:59] Bobgy commented on #150
Looks like it's caused by https://github.com/kubeflow/testing/pull/759, so I'm trying to pin kubeflow/testing to v1.1-branch.
https://github.com/kubeflow/gcp-blueprints/commit/4757010926ab94eba91027b47bddf03f9d2e07f5

[2020-11-09 20:37] melihsqsp commented on #108
@Bobgy I still see this error.  Output to `make apply` gives me this
[code]
The outcome is that I see the nodepool `kubeflow-management-pool` being created but no nodes and the subsequent steps can't be completed. What is causing this and is there a workaround?

[2020-11-09 20:59] melihsqsp commented on #108
@jal06 I see a similar issue where the output to `make create-ctxt` says `No cluster named 'kubeflow-instance' in kubeflow-corp-001.` with the kubeflow instance name and not the management cluster name. In the Makefile there are 2 sets of variables to set one for management, one for instance. I assigned different names to each. Where is the problem?

[2020-11-09 21:24] jal06 commented on #108
@melihsqsp  if you want to install Kubeflow using gcp-blueprint, there are 2 steps.

The 1rst step is described in this page  [https://www.kubeflow.org/docs/gke/deploy/management-setup/](https://www.kubeflow.org/docs/gke/deploy/management-setup/)  and is for deploying the management cluster. In this 1rst step, you must set the name of the management cluster in those 2 variables (`./instance name N

[2020-11-09 21:57] melihsqsp commented on #108
@jal06 I am on the first step. I modified the Makefile so it has this:
[code]
followed by `make set-values` , `make apply` which outputs:
[code]
make create-ctxt
[code]
make apply-kcc
[code]

[2020-11-09 21:58] jal06 commented on #108
@melihsqsp it looks that the Makefiles were updated a few days ago.
My answer above is related to the old version of the Makefile
I didn't try the new version

[2020-11-10 06:25] jal06 commented on #108
@melihsqsp , please could you show all the values you set in your Makefile (instance and upstream name, location, ...)?

[2020-11-10 06:34] melihsqsp commented on #108
Section of the Makefile
[code]

[2020-11-10 07:08] jal06 commented on #108
I see no problem in your Makefile. It sounds good to me.
It's a timeout, so maybe it's a network issue ?

Just for information, here is the content of .build/cnrm-install-system/~g_v1_namespace_cnrm-system.yaml
[code]

Do you have the same content in this file ?

It looks strange to me that you still get this warning  about GKE_METADATA
W1109 16:52:40.823523   90112 nodepool.go:441] unsupported ch

[2020-11-10 18:36] melihsqsp commented on #108
yes the content of the crnm file is identical to what I have. I am also thinking the warning might be the reason
[code]
When I look under the cluster kubeflow-manage in the console I see a red exclamation mark next to it. There is a nodepool, but under the nodepool/nodes there is nothing listed. I am thinking no nodes were created during the `make apply` and when something is trying to access it l

[2020-11-10 19:08] jal06 commented on #108
@melihsqsp  Yes, there is 1 node pool with only 1 node (n1-standard-4) and the status is green.

I remember that the nodepool was red when I got the warning about GKE-METADATA.
Then, I deleted the management cluster, and I created it again from scratch changing the name of the management cluster, and setting correctly the variables in the Makefile ...  and the management cluster was  created succe

[2020-11-11 09:45] jal06 commented on #146
@jlewi, I don't know yet which serving tool I could use.
I tried to use the serving tools  which are proposed in the documentation .

I tried TFServing and I had some problems (error 404 when sending a prediction request : [issue 5396](https://github.com/kubeflow/kubeflow/issues/5396)  )
I tried KFServing and I had also a problem (error 404 when sending a prediction request : [issue 1199](https://

[2020-11-11 12:25] jal06 commented on #108
@melihsqsp  I forgot 1 point

The 1rst time I got the error about GKE_METADATA, my $PATH was pointing to an old version of istioctl.

The 2nd time I tried (successfully) to install the management cluster, I followed the instructions in the chapter 'Prepare the installation of Anthos Service Mesh' in this documentation before : `https://cloud.google.com/service-mesh/docs/archive/1.4/docs/gke-instal

[2020-11-11 21:25] nico-kuzak commented on #108
Did you figure out the error stemming from make apply-kcc?

[code]

For me, it just says that the file does not exist.

[2020-11-11 23:24] Bobgy commented on #108
@melihsqsp I'd suggest deleting this cluster via gcloud or cloud console and try again.

For comparison, you can also create the cluster via gcloud and comment out related steps in the makefile. The only requirement for this cluster is to enable workload identity

[2020-11-12 21:50] melihsqsp commented on #108
I found that under IAM `Compute Engine default service account` was set to disabled. After enabling it deleting the cluster and rerunning installation I can see the management cluster. This was a new project so it might be a default setting. It might make sense to make a note of this issue in case other people also run into it.

[2020-11-12 21:59] melihsqsp commented on #108
Now, after I run `make apply` as here https://www.kubeflow.org/docs/gke/deploy/deploy-cli/#deploy-kubeflow  I see message
[code]
It is failing on something with containercluster

[2020-11-13 01:21] Bobgy commented on #149
Update, got

Here's the length limit, so NAME should be <=18 characters.
We might be able to add an early error message on https://github.com/kubeflow/gcp-blueprints/blob/2f1dbc26847ec4c80a1d2339060fe7cdf75c702b/management/Makefile#L23

[2020-11-13 10:18] chensun opened #154 "Kubeflow Makefile should validate the value of `$(NAME)`"
I set [`$(NAME)`](https://github.com/kubeflow/gcp-blueprints/blob/36e6d0ad28bb85f83fdbee4c18229b18e56e98c2/kubeflow/Makefile#L37) with value `kf1.1`, which turned out to be an invalid name, but there was no complaint from `make set-values`.

Later running `make apply` failed with error:
[code]

Trouble shooting with `kubectl describe containercluster --context $MANAGEMENT -n $PROJECT kf1.1` reveal

[2020-11-13 22:52] Bobgy commented on #108
@melihsqsp you can find out why in https://github.com/kubeflow/gcp-blueprints/issues/154

[2020-11-14 16:22] jlewi commented on #146
@jal06 I think not including Seldon by default is working as intended. If you want to use Seldon with KF 1.1 then I think you can follow Seldon's instructions to install Seldon in your cluster.

If you point us at the docs we can try to get them updated.

[2020-11-15 07:15] Bobgy commented on #148
Fixed by https://github.com/kubeflow/gcp-blueprints/pull/152

[2020-11-15 07:15] #148 closed

[2020-11-15 07:21] Bobgy opened #157 "chore: use separate node pool instead of nodeConfig"
As commented in https://github.com/GoogleCloudPlatform/k8s-config-connector/issues/259#issuecomment-681145805.

[2020-11-15 07:35] Bobgy commented on #150
Verified, this was fixed

[2020-11-15 07:35] #150 closed

[2020-11-15 07:40] Bobgy commented on #145
this is happening again

[2020-11-15 08:43] #145 closed

[2020-11-15 08:55] Bobgy commented on #142
Taking upgrade experience into consideration, I don't want to change the variable name.
But I think we can add documentation to further clarify at least.

[2020-11-15 08:57] Bobgy commented on #149
Fixed by https://github.com/kubeflow/gcp-blueprints/pull/153

[2020-11-15 08:57] #149 closed

[2020-11-15 10:00] jal06 commented on #142
OK, that makes sense.

[2020-11-15 12:24] Bobgy opened #158 "[Discussion] UX for kpt cfg set both instance and upstream folders"
Discussion thread: https://github.com/kubeflow/gcp-blueprints/pull/155/files#r523194024

Options:
1. Ask users call `kpt cfg set` for both `instance` and `upstream` folder for each variable
2. `instance/settings.yaml` stores dictionary of settings, and set upstream folder using it
3. `instance/Kptfile` stores kpt setters and set upstream folder using it

In Kubeflow 1.1, we used option 1.
Right no

[2020-11-15 12:25] Bobgy commented on #158
/cc @jlewi @chensun @subodh101
Let's use this issue for further discussion, because this change is not included in scope of https://github.com/kubeflow/gcp-blueprints/pull/155

[2020-11-15 12:28] Bobgy opened #159 "How do we wait for config connector pods created by operator?"
https://github.com/kubeflow/gcp-blueprints/pull/155/files#r523402256

/assign @subodh101

[2020-11-15 12:28] Bobgy commented on #159
After applying the operator, we need to wait some time, so that the operator creates the config connector pods.
Only after they are created, we can start to wait for status of those pods.

[2020-11-15 15:29] Bobgy commented on #158
For goals of the UX, I agree with the following:
1. We do not want to hide `kpt` semantics or build an abstraction on top
2. We want to avoid asking users setting the same values twice

When we evaluate the goals, I feel like option 3 isn't fully achieving that either, because
reading our instructions, users would think they use `kpt cfg set` on instance folder to set something
and then something

[2020-11-15 15:57] jlewi commented on #158
Is the long term solution here kpt support for subpackages?

I think this is still being designed see:
https://github.com/GoogleContainerTools/kpt/issues/1093

The blueprint basically consists of two sub-packages
* $(BLUEPRINT)/instance
* $(BLUEPRINT)/upstream

(Arguably these could/should be further subdivided).

I believe with sub packages you should be able to set values at the root level e.g.

[2020-11-15 23:55] Bobgy commented on #158
@jlewi sounds reasonable to me.

So, for a stop gap solution.
I'd propose the following:
Separate out a set-values.sh, it contains a loop over the two packages and let the user edit values.
The script will be called by Makefile before hydration.

This exposes kpt semantic, because users need to edit the script.
Also, this moves common user editions out of the Makefile, so it's easier to swap out t

[2020-11-16 01:00] Bobgy opened #160 "`envoy-ingress` backend services unhealthy when installing Kubeflow on GKE version `1.17.9-gke.1504`"
`envoy-ingress` backend services unhealthy when installing Kubeflow on GKE version `1.17.9-gke.1504`

originally reported in https://github.com/kubeflow/gcp-blueprints/pull/141

[2020-11-16 01:00] Bobgy commented on #160
The PR proposed to

However, we were not sure why we needed this.

[2020-11-16 01:01] Bobgy commented on #160
I just verified the problem exists when I remove the `cloud.google.com/neg: '{"ingress": false}'` annotation. Therefore, we should figure out why and push the patch fix upstream to manifests repo.

[2020-11-16 01:16] Bobgy commented on #160
I added the annotation back, but it doesn't immediately recover. I noticed `backend-updater-0` reconciles every hour...
So I deleted the pod to force a reconciliation, after that the backend service came back healthy.

[2020-11-16 01:41] Bobgy commented on #90
Several ways to reuse & override a makefile:
* make include clause: https://www.gnu.org/software/make/manual/html_node/Include.html
* recursive make + rule forwarding https://www.gnu.org/software/make/manual/html_node/Overriding-Makefiles.html

Include clause seems more lightweight, all makefile context can be shared, but there's less encapsulation either.
For recursive make, I'll need to verify w

[2020-11-16 01:51] Bobgy commented on #160
In fact, I never reproduced the problem because of the annotation `cloud.google.com/neg: '{"ingress": false}'`, but rather that each time after I delete `istio-ingressgateway`, the backend services unhealthy error message shows up.

And after force rerunning `backend-updater-0` pod, the error goes away.

[2020-11-16 03:07] Bobgy commented on #90
A few types of customizations people may want to do:
1. add extra commands for a target
2. replace all commands for a target

For recursive make, if you want to change any target that's depended on by more targets, it'll be very troublesome because you'll need to replace every target that depends on the target you changed.

For make include clause, adding extra dependencies/commands for a target c

[2020-11-16 03:23] Bobgy commented on #154
We added this in documentation, but it'll be ideal if we can add the regex check in the Makefile

[2020-11-16 05:02] subodh101 commented on #158
I think the process of setting `kpt cfg set` by commands and adding the `kpt cfg list-setters ./instance/` in the troubleshoot sounds good to me(Or even with a note in the docs itself).
It may be a little new at the start getting comfortable with `kpt cfg set`. However it is pretty straight forward from the docs. If a user wants to copy all commands somewhere, edit and then fire. That's his/her ch

[2020-11-16 15:38] Bobgy commented on #158
@subodh101 can you describe what the instructions would look like that seems ideal to you?

Does asking users to copy paste the following sound good?
[code]

Also, when they update upstream package, we won't automatically set values for the upstream package. If they run any command, they should find out an error message saying the upstream package has all values same as default, so they will know

[2020-11-17 10:10] #160 closed

[2020-11-17 13:16] jlewi commented on #158
Why do we need a stop gap beyond what exists today? Why not figure out what it should look like using sub-packages and then figure out how to migrate to that?

If we're going to invest in improving things should we think a bit longer term and revisit some other core design e.g

* Should we divide Kubeflow into multiple kpt packages; one per application?

   * Would this make Kubeflow more modular

[2020-11-17 13:32] Bobgy commented on #158
GoogleContainerTools/kpt#1093

The issue is still open. Has kpt supported that? I'll ask on the email thread about it. If kpt already supports that, then it totally makes sense to me.

[2020-11-17 13:38] Bobgy commented on #158
Completely agree with this! I have been holding the exact opinion. If we can separate each application, ingress, istio ... while describing dependency of each, it will be much easier to use part of kubeflow on an existing cluster or swap out a core infra with user's preferred version.

For Kubeflow 1.2, I don't think I have time to tackle this though. I think it will be good trying to drive manife

[2020-11-17 14:43] nico-kuzak opened #164 "Setting up management cluster fails at make apply-kcc"
Hi - I am setting up the management cluster as shown [here](https://www.kubeflow.org/docs/gke/deploy/management-setup/), and when I get to step 7

`make apply-kcc`

I get the following error:

[code]

Everything else worked well.

[2020-11-17 14:58] Bobgy commented on #164
Thanks for the report
What's inside .build/cnrm-install-system/?

A early guess is that did you confirm you are using exactly the same repo tag for each kpt pkg get command

[2020-11-17 16:05] nico-kuzak commented on #164
I am following the instructions step-by-step from the [kubeflow website](https://www.kubeflow.org/docs/gke/deploy/management-setup/) so I am using v1.1.0.

Here is an ls on .build/cnrm-install-system/:
[code]

[2020-11-17 16:17] nico-kuzak commented on #164
I updated line 82 of the Makefile (within apply-kcc) from:

kubectl --context=$(MGMTCTXT) apply -f .build/cnrm-install-system/~g_v1_namespace_cnrm-system.yaml

to:

`kubectl --context=$(MGMTCTXT) apply -f .build/cnrm-install-system/v1_namespace_cnrm-system.yaml`

and it fixed it. Might want to update the v1.1.0 on your end as well if this is a bug more people face.

[2020-11-17 17:53] subodh101 commented on #158
The thought process behind removing `settings.yaml` was  https://en.wikipedia.org/wiki/Don%27t_repeat_yourself even if it is twice and keeping one source of truth.

Once they have set the variables and it is available in their version control.
Those values are not going away neither users are doing updates every day that this step needs special focus.
But now they will also have to copy a new file

[2020-11-17 19:13] edusporto opened #165 "Syntax error in management/set-values.sh"
[code]

The line that causes this is

[code]

Changing it to:
[code]
fixes it.

[2020-11-17 22:56] Bobgy commented on #165
Thanks for the catch!

[2020-11-17 22:58] #165 closed

[2020-11-17 23:01] Bobgy commented on #164
@nico-kuzak thanks for reporting this!
Can you confirm your kustomize version?

This works for me with kustomize 3.2.1

Although, in master branch, we are no longer depending on the exact path, so kubeflow 1.2 should be good with this

[2020-11-18 07:10] Bobgy commented on #158
@subodh101
after user upgrades upstream package, we will `rm -rf upstream/management` and `kpt pkg get` again.
In this process, Kptfile values in the upstream package will be lost, so we need a mechanism to set it again either from `set-values.sh` or `instance/Kptfile`.

If we choose `set-values.sh`, user need to get the script as abstraction.
If we choose `instance/Kptfile`, we need to add some r

[2020-11-18 07:33] Bobgy commented on #158
Nevermind, I've found that `kpt cfg set . name NAME -R` is doing the trick.
`-R` stands for
[code]

[2020-11-18 07:33] Bobgy commented on #158
Even if the parent folder doesn't have a `Kptfile`, the recursive set still works.

[2020-11-18 07:37] Bobgy commented on #158
OK, I think we can go with telling users to
[code]
and
[code]

[2020-11-18 10:12] Bobgy opened #167 "[Discussion] Breaking up Kubeflow installation into sub packages"
A quick write up of my vision for this topic. I don't think I have time to work on this for Kubeflow 1.2,
but we can work on this later.

This idea was mentioned in https://github.com/kubeflow/gcp-blueprints/issues/158#issuecomment-728919656.

I think a recurring topic for Kubeflow gcp blueprints is that how do users select a subset of components to deploy and swap an infrastructure (like istio) t

[2020-11-19 06:17] jlewi commented on #158
@Bobgy this is a nice find; I think what you are proposing is a nice improvement.

[2020-11-20 08:32] Bobgy commented on #158
I was trying to also refactor kubeflow package, however I'm blocked by a kpt bug: https://github.com/GoogleContainerTools/kpt/issues/1230.

Somehow, I didn't successfully get the recurse subpackages feature working with kubeflow package

[2020-11-20 08:41] Bobgy commented on #158
Before the upstream issue is resolved, I'd like to revert https://github.com/kubeflow/gcp-blueprints/pull/137 and https://github.com/kubeflow/gcp-blueprints/pull/135, so that users upgrading to Kubeflow 1.2 do not need to learn an unnecessary pattern change and get to learn again the `-R` flag once again in Kubeflow 1.3.

/cc @subodh101
what do you think?

[2020-11-20 09:41] Bobgy commented on #139
https://github.com/kubeflow/gcp-blueprints/pull/169 is the last PR we need to get in. After that, I believe we can cut v1.2.0 release once the manifest repo pins a version.

[2020-11-20 10:34] Bobgy commented on #139
Logging some errors when trying to upgrade from Kubeflow v1.1:
1.

Name: "kfserving-controller-manager", Namespace: "kubeflow"
for: ".build/kubeflow-apps/apps_v1_statefulset_kfserving-controller-manager.yaml": StatefulSet.apps "kfserving-controller-manager" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden

wor

[2020-11-20 10:36] Bobgy commented on #139
2.

to:
Resource: "apiextensions.k8s.io/v1beta1, Resource=customresourcedefinitions", GroupVersionKind: "apiextensions.k8s.io/v1beta1, Kind=CustomResourceDefinition"
Name: "experiments.kubeflow.org", Namespace: ""
for: ".build/kubeflow-apps/apiextensions.k8s.io_v1beta1_customresourcedefinition_experiments.kubeflow.org.yaml": CustomResourceDefinition.apiextensions.k8s.io "experiments.kubeflow.org"

[2020-11-20 10:46] Bobgy commented on #139
OK, apply all succeeded.
I also saw katib controller was in crashloopbackoff, because of the CRD version problem.
But after a restart, it run successfully now.

[2020-11-20 10:53] subodh101 commented on #139
Can we add the following with `kubectl delete` for `statefulset/kfserving-controller-manager crds/experiments.kubeflow.org ...`

[code]

with kubeflow cluster context before applying those specific resources?

[2020-11-20 13:47] jlewi commented on #158
@Bobgy do you hit GoogleContainerTools/kpt#1230 even if you don't pull the entire kubeflow/manifests repo?  I wonder if there are specific subdirs in kubeflow/manifests that are breaking things and which we don't need so if we just removed them we could work around the bug.
https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/Makefile#L86

[2020-11-20 13:57] Bobgy commented on #158
@jlewi You are right, management package works fine, so there should be sth in manifests that break it.

I don't think I will have time to break up the kubeflow package for 1.2 release, thus the current decision.

[2020-11-20 13:58] Bobgy commented on #158
But what's strange is that, this issue doesn't happen immediately after I pull the whole package, it shows up after I remove a few problematic folders.

[2020-11-20 14:01] Bobgy commented on #139
Because deleting CRDs delete all user custom resources, I think it's best to document that and ask users to do that.

Also, this will be one off upgrade requirement

[2020-11-20 14:51] jlewi commented on #158
Long term this problem might go away if we start having N `kpt pkg get` statements one fetching each application. This would make it easy to fetch packages regardless of where they are hosted.

[2020-11-20 23:40] Bobgy commented on #158
Agree, I was hoping kpt could fix this issue before we reach that long term, it will take a while.

[2020-11-23 04:12] Bobgy commented on #108
the problem has been solved and we will make this documentation and validation better in #154

[2020-11-23 04:12] #108 closed

[2020-11-23 05:29] #154 closed

[2020-11-23 07:07] #164 closed

[2020-11-24 08:46] Bobgy commented on #82
fixed

[2020-11-24 08:46] #82 closed

[2020-11-24 08:46] Bobgy commented on #46
1.1 already released

[2020-11-24 08:46] #46 closed

[2020-11-24 08:54] Bobgy opened #174 "[KF 1.2] get mnist example test to pass"
Part of https://github.com/kubeflow/gcp-blueprints/issues/139

https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-gcp-blueprints-periodic-master
even though the periodic test is passing, when I looked into the details:
the mnist example is failing: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-periodic-master/1331158089730101248#1:build-log.txt%3A727

So we need

[2020-11-24 09:50] Bobgy commented on #174
There's something wrong building the notebook test image:
[code]

[2020-11-24 09:55] Bobgy commented on #174
Error message is exactly like https://stackoverflow.com/a/45716067/8745218

[2020-11-24 10:33] Bobgy commented on #174
got error message:
[code]

[2020-11-24 11:22] Bobgy commented on #174
Both xgboost and mnist notebooks passed successfully
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-gcp-blueprints-periodic-master/1331189798924193792

[2020-11-24 11:22] #174 closed

[2020-11-24 11:23] Bobgy commented on #139
OK, everything's ready. I'll update documentation and pin a release

[2020-11-25 05:42] Bobgy commented on #144
I think I didn't realize how important this is, the fact that ASM 1.4 is no longer supported make this a high priority for us to migrate.

[2020-11-25 09:03] Bobgy commented on #139
Pinned v1.2.0: https://github.com/kubeflow/gcp-blueprints/commit/db08b1682c8758cfb35e6d7faee9e7d87ae6fe26
working on documentation updates:
- [ ] https://github.com/kubeflow/website/pull/2370

I also need to write upgrade instructions for kubeflow cluster.

[2020-11-26 08:40] Bobgy commented on #142
I took a stab at https://github.com/kubeflow/website/pull/2372.
the `kpt setter` names need to be reserved, but we can change env var names in the documentation.
I've updated to use `${KF_NAME}` and `${MGMT_NAME}` consistently for the two different purposes. I believe this should make it a lot clearer.

[2020-11-26 08:41] #142 closed

[2020-11-27 04:06] Bobgy commented on #32
After upgrading CNRM to 0.29.0 in KF 1.2 management cluster. I believe the issue has been fixed.
https://github.com/kubeflow/gcp-blueprints/pull/152

Search for "ipAllocationPolicy" in https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containercluster#spec

[2020-11-30 07:32] Bobgy opened #175 "docs: unify terminology around cnrm"
Right now, we have many different terms, cnrm, CNRM, Cloud Native Resource Management, Config Connector Resources, ...

We should figure out the right one to use and stick with it.

Reference: https://github.com/kubeflow/website/pull/2372/files#r531632700

[2020-11-30 16:42] jal06 opened #176 "KFServing fail with "Bad response from application: 503" when sending a prediction request through ingress and IAP"
When trying KFServing [GCP/IAP example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap) , I receive an error `Bad response from application: 503`

After some investigations (more details in issue [1199](https://github.com/kubeflow/kfserving/issues/1199) ), we discovered that the prediction request cannot reach the KFServing endpoint because the Istio local gateway is missin

[2020-12-01 07:45] Bobgy commented on #175
I don't think cnrm is an official term, in https://cloud.google.com/config-connector/docs/reference/overview
They are mentioned as `Config Connector resources` in `cnrm.cloud.google.com` api group without explaining what `cnrm` is.

I think we should do the same, only include `cnrm` when it's part of name for sth, like `cnrm-install-system` folder, `${MGMT_NAME}-cnrm-system` service account.
But w

[2020-12-01 07:46] Bobgy commented on #175
/cc @joeliedtke @8bitmp3

[2020-12-01 14:58] mnmami commented on #125
For Kubeflow v1.2 I read:

Using that command I got Kustomize version 3.8.7 with which I got no issue creating the management cluster. However, I did get the error reported in this issue using that kustomize version while creating the managed cluster. So I had to roll back to Kustomize v3.2.1 to solve that issue.

[2020-12-01 17:25] jal06 opened #178 "Service account does not have permission to access the IAP-protected application"
This issue is a following of issue #https://github.com/kubeflow/kfserving/issues/1199 from KFServing
I deployed Kubeflow 1.1 on GCP, and also installed the istio local gateway as described in #https://github.com/kubeflow/gcp-blueprints/pull/177

I would like to use KFServing and followed the instructions from the sample gcp_iap described [here](https://github.com/kubeflow/kfserving/tree/master/doc

[2020-12-02 07:57] Bobgy commented on #125
@mnmami Can you confirm your upstream manifests folder's version? I suspect some outdated instruction led you to still deploy KF v1.1, because GCP deploy instructions haven't been fully updated.

[2020-12-02 08:18] mnmami commented on #125
Ooh :( I got v1.1.0 `kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/kubeflow@v1.1.0 ./${KFDIR}`, indeed.

Will I be able to upgrade after you push the new upstream or I need to redo the deployment from scratch?

[2020-12-02 09:38] Bobgy commented on #125
@mnmami upgrade instructions are in above PR, you can refer to them or wait until the PR is merged.

Manifests for 1.2.0 is already ready

[2020-12-02 10:13] mnmami commented on #125
@Bobgy ok thanks for letting me know they are ready to be used already. Since I created the management cluster with v1.2 manifests, no upgrade is required there, right?

[2020-12-02 10:16] Bobgy commented on #125
@mnmami Yes, that's correct

[2020-12-02 15:21] mnmami commented on #125
Ok, great. I didb't upgrade. I actually deleted the cluster and recreated it again. The steps just worked. Just one remark. Here:

`KF_DIR=<path to your management cluster configuration directory>`

I think  "management" there is a typing mistake? It should be as you described just above:

`${KF_DIR} environment variable contains the path where you want to put your Kubeflow application directory`.

[2020-12-03 03:55] Bobgy commented on #178
Thanks for the detailed instructions @jal06!

I'm not 100% sure, but I guess the problem is after step 4.
1. When you use service account for authentication, you should follow https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account
2.

This is incorrect. You should create another OAuth client of desktop application type. The client you set up for Cloud IAP duri

[2020-12-03 03:56] Bobgy commented on #178
I think you can refer to documentation for connecting to Kubeflow Pipelines protected by IAP: https://www.kubeflow.org/docs/gke/pipelines/authentication-sdk/#connecting-to-kubeflow-pipelines-in-a-full-kubeflow-deployment.

It should be similar.

[2020-12-08 10:18] Bobgy commented on #157
Another problem is that, although we put a `nodepool.yaml` in https://github.com/kubeflow/manifests/blob/master/gcp/v2/cnrm/cluster,

but the `nodepool.yaml` was not actually used in the kustomize package: https://github.com/kubeflow/manifests/blob/master/gcp/v2/cnrm/cluster/kustomization.yaml

[2020-12-10 05:41] TrsNium commented on #32
@Bodgy
Hello. The above problem is not yet solved.
I installed cnrm based on the changes that have been incorporated into the master branch, but the same error as above occurred.
[code]

[2020-12-10 06:23] Bobgy commented on #32
@TrsNium you are right. I didn't realize `createSubnetwork` field is not in the spec.

It doesn't seem like adding those fields will help.
I think this problem needs to be solved in the upstream repo. Has anyone created an issue there?

[2020-12-10 06:24] Bobgy commented on #32
https://github.com/GoogleCloudPlatform/k8s-config-connector

[2020-12-10 14:45] muthurajr opened #182 "Metadata Service: Incomplete removal of deployment "deployment""
In the apps file https://github.com/kubeflow/manifests/blob/v1.2.0/metadata/base/metadata-deployment.yaml, deployment "deployment" is removed as part of 1.2.0 release but not removed in the patch https://github.com/kubeflow/manifests/blob/v1.2.0/metadata/overlays/google-cloudsql/metadata-deployment.yaml

This is causing metadata installation to fail when using google-cloudsql.

[2020-12-15 05:04] Bobgy commented on #181
Transferred the issue to kubeflow/gcp-blueprints, because this is GCP specific.

[2020-12-15 14:01] nico-kuzak commented on #181
Woke up today and it was working. Maybe it takes a while to create the secret?

[2020-12-16 05:02] vineetbadola commented on #181
Same here

It was working after some time.Looks like it take some time for authentication

regards
vineet

[2020-12-16 08:36] Bobgy commented on #181
Great, let's close for now. Feel free to reopen or create new issues if this shows up again

[2020-12-16 08:36] #181 closed

[2020-12-16 14:28] nicokuzak opened #184 "Stackdriver Logs are very expensive for kubeflow"
/kind bug

I upgraded to KF 1.2 on GCP and overnight had 116 GB of logging.

**What did you expect to happen:**
Not having 116 GB. Seems to be some sort of cloud audit?

**Environment:**

- Kubeflow version: v1beta1 (1.2.0)
- kfctl version: (use `kfctl version`): None
- Kubernetes platform: GCP
- Kubernetes version: (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"17+", GitV

[2020-12-16 21:00] #175 closed

[2020-12-24 06:19] Bobgy commented on #182
Thanks for the report! I'll fix this

[2021-01-04 16:13] damitkwr commented on #6
Is there an update on work for this as this is a highly desirable feature for enterprise installations

[2021-01-06 23:15] sidpalas opened #183 "kpt v0.36.x preventing gcloud.core.project auto setter from working"
When following this guide: https://www.kubeflow.org/docs/gke/deploy/management-setup/

At the step to fetch the management blueprint with:
[code]

I was receiving the following error (using kpt `v0.37.1`):
[code]

reverting to kpt version `v.0.35.0` fixes this issue and the changelog for kpt (https://github.com/GoogleContainerTools/kpt/releases) shows some updates to how setter inheritance is hand

[2021-01-06 23:20] sidpalas commented on #183
Added an issue to the docs page as well: https://github.com/kubeflow/website/issues/2437

[2021-01-07 04:18] Bobgy commented on #183
Hi @sidpalas! This is a behavior change on kpt side, can you report an issue to kpt if it doesn't exist right now.

For Kubeflow deployment purpose, I think you can ignore the error,
because `kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management@v1.2.0 "${MGMT_DIR}"` would still succeed in fetching the package to local dir, we will set values by ourselves after that.

[2021-01-07 04:43] Bobgy commented on #6
Hi @damitkwr, thanks for your interest. Thumbs up on the issue give us more metrics to prioritize them.

[2021-01-08 05:48] Bobgy commented on #184
moving this, because it's gcp specific.
If I figured out it happens for everyone, I'll report another issue

[2021-01-11 18:33] parthmishra commented on #184
@Bobgy  I ran into this issue as well for 1.2 and checked the logging volume by pod and a significant amount was coming from `application-statefulset-0` in the container `management`. The log volume rate was a very hefty at around ~200 KiB/s so I immediately excluded the logs to avoid incurring a huge charge.

Not sure what the error exactly was, I'll see if I can find some sample logs and if not,

[2021-01-12 11:38] sunilfernandes opened #185 "Higher timeout value needed for apply-mirror function GCP cloud build job"
The "apply-mirror: hydrate-mirror" function in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/Makefile#L244 creates a GCP Cloud Build job to pull images for KF1.2. But this build job has a timeout of 10 minutes. I have ran this job multiple times and it always times out and fails.

I added a higher timeout value of 30 minutes (1800 seconds) and this works now.

https://github.com/

[2021-01-13 06:22] Bobgy commented on #139
Done

[2021-01-13 06:22] #139 closed

[2021-01-13 06:27] Bobgy commented on #176
Quoted from #177

[2021-01-13 06:28] Bobgy commented on #176
I think next steps would be
1. upgrade ASM to 1.6+ as per https://github.com/kubeflow/gcp-blueprints/issues/144
2. add the cluster-local-gateway definition during installation
3. verify whether kfserving works e2e

[2021-01-13 06:30] Bobgy commented on #178
This can likely be caused by https://github.com/kubeflow/gcp-blueprints/pull/177#issuecomment-756124781.
I should try to figure out a solution to https://github.com/kubeflow/gcp-blueprints/issues/176 first, then come to this one

[2021-01-14 11:02] Bobgy commented on #185
Thanks for figuring out the problem, do you want to submit a PR?

[2021-01-14 11:57] sunilfernandes commented on #185
Thanks @Bobgy Created https://github.com/kubeflow/gcp-blueprints/pull/187

[2021-01-14 12:03] Bobgy commented on #184
I took a look at my instance, stackdriver cost is almost half of compute resources. That's indeed a big problem.

The application controller we deploy is: https://github.com/kubeflow/manifests/blob/master/application/application/base/stateful-set.yaml.
It seems upstream repo is https://github.com/kubernetes-sigs/application (there isn't much activity, the last commit on master was on Oct 17, 2020)

[2021-01-14 20:50] parthmishra commented on #184
Checked the controller logs and I was getting similar output to you. What do you think of an interim fix since it seems like changing the requirements for CR pattern is going to be a longer term discussion? The costs incurred by this sneakily flies underneath the radar. I'll keep excluding the logs via Logs Router since it doesn't seem like there's much useful diagnostic info coming from it.

[2021-01-15 01:00] Bobgy commented on #184
@parthmishra I think a quick workaround can be:
[code]
The functionality has nothing wrong, we just do not need the logs

[2021-01-15 15:54] sunilfernandes commented on #185
Fixed #187

[2021-01-15 15:54] #185 closed

[2021-01-15 16:39] sunilfernandes commented on #125
@Bobgy This is still throwing an error with latest kustomize versions. I tried with 3.9.1 and as suggested by you above version  3.8.7 too but was getting the same issues.

`kustomize build --load_restrictor none -o .build/kubeflow-apps ./instance/kustomize/kubeflow-apps
Error: accumulating resources: 2 errors occurred:
        * accumulateFile error: "accumulating resources from '../../../upstrea

[2021-01-15 17:24] gregbarkerdcsg opened #188 "Error creating kubeflow-oauth secret for kubeflow"
I believe that this Kubeflow MakeFile line for iap-secret, https://github.com/kubeflow/gcp-blueprints/blob/d6d423e79014a703976ad9627657416a6705abe0/kubeflow/Makefile#L330, should use the kubeflow context for the kubectl apply. Otherwise, it's still on the management-cluster context and fails with this error: `Error from server (NotFound): error when creating "STDIN": namespaces "istio-system" not

[2021-01-15 18:47] #182 closed

[2021-01-17 01:14] Bobgy opened #189 "Project setup error -- anthos service mesh"
Will this be solved at some point? Having errors basically in the first setup step should be avoided.

_Originally posted by @SaschaHeyer in https://github.com/kubeflow/website/issues/2121#issuecomment-761116195_

[2021-01-17 01:21] Bobgy commented on #125
@sunilfernandes which platform did you deploy to? Is it GCP and 1.2.0?

[2021-01-18 09:43] sunilfernandes commented on #125
Yes to both questions @Bobgy

[2021-01-20 09:14] knave07 opened #190 "Enable TPUs with Kubeflow v1.2"
/kind bug

**What steps did you take and what happened:**
I wanted to use TPU's with Kubeflow, but to enable TPUs the **Cluster Should be VPC-native**.
With the [current flow](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) of installing Kubeflow v1.2 on GCP, I didn't find any documentation or any support for this. I found an [old page to enable-tpu](https://www.kubeflow.org/docs/gke/customi

[2021-01-20 09:27] Bobgy commented on #125
Thanks for the report!
Let me try to reproduce.

[2021-01-20 11:42] gregbarkerdcsg opened #191 "private GKE cluster errors"
See GCP GKE [cluster-private-patch.yaml](https://github.com/kubeflow/manifests/blob/e1441603ab359b1a816f91882742fc041a5e12f8/gcp/v2/privateGKE/cluster-private-patch.yaml#L22).

useIpAliases and createSubnetwork are not in the [ContainerCluster spec](https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containercluster). There is a comment a few lines lower mentioning th

[2021-01-20 11:43] Bobgy commented on #191
Yes, unfortunately these problems still exist. We are not supporting private clusters very well out of box.
Did you succeed in deploying a private cluster? Interested in fixing some of those?

[2021-01-22 04:00] Bobgy commented on #184
We can wait for manifest WG discussion, maybe we can drop kubernetes application altogether in the future.

[2021-01-23 06:59] Bobgy commented on #125
@sunilfernandes I tried again and verified everything still works with Kustomize v3.8.7.
Your error message looks weird because `kubeflow/upstream/manifests/pipeline/installs/multi-user/api-service/kustomization.yaml` should only contain `envs` field, but not `env` field.
You can check the source code: https://github.com/kubeflow/manifests/blob/da561762dde5ef8e70ed27aa028b61711c1c4231/pipeline/ins

[2021-01-26 15:55] donnyv12 commented on #8
bumping this issue up, as of now it appears `yq` has removed the `r` argument, which has broken https://github.com/kubeflow/gcp-blueprints/blob/master/management/README.md

Since `yq` 3 is deprecated, this would definitely help.

[2021-02-01 17:57] parthmishra commented on #160
I'm wondering if I'm running into a similar issue as this. I tried deploying full KF 1.2 regional cluster (K8s version
1.17.14-gke.1600) to a VPC and `envoy-ingress` created NEG as the backend service. Then, the JWT audience isn't patched correctly because the names of NEG backend services isn't grepped as the `backend-updater` is expecting an instance-group backend.

Here are logs showing this be

[2021-02-02 15:16] Jboulery commented on #139
Had the same problem with EKS and this workaround worked for me.

[2021-02-07 23:31] Bobgy commented on #190
Sorry to hear about your experience. There is no guided documentation right now. Because this falls into the bring your own customizations section. The old TPU guide might contain some clues of what other customizations you need.

[2021-02-16 22:16] maorzalt commented on #184
I have the same issue with kubeflow 1.0

Here's the YAML:
apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"StatefulSet","metadata":{"annotations":{},"labels":{"app.kubernetes.io/component":"kubeflow","app.kubernetes.io/instance":"kubeflow-v1.0.0","app.kubernetes.io/managed-by":"kfctl","app.k

[2021-02-17 00:07] jcastagneri opened #194 "[KF1.2] GCP ComputeDisks missing required spec fields"
# Version Information
KF1.2; installation following the [canonical instructions](https://www.kubeflow.org/docs/gke/deploy/deploy-cli/) from a clean GCP project.

# Summary
Below, I debug an issue with the cnrm compute disk manifests. During application of these resources, I received 4xx errors saying that my resource spec was missing needed fields. I was able to fix it by adding more configuration

[2021-02-20 06:34] Bobgy opened #195 "Update auto-deploy config"
Changes needed for KF 1.3 release:
1. stop auto deploying KF 1.1
2. configure auto deploying of KF 1.2

https://github.com/kubeflow/testing/tree/master/test-infra/auto-deploy

[2021-02-21 15:44] crmne commented on #184
@maorzalt this should help you:

[code]

[2021-02-22 03:15] Bobgy commented on #194
@jcastagneri thank you for the report! I'm glad you found a workaround for yourself.

I suspect this is a subset of https://github.com/kubeflow/gcp-blueprints/issues/6.
The setup wasn't made work well out-of-box for regional clusters. Your issues seem to be one of that.

[2021-02-22 03:16] Bobgy commented on #194
I think https://github.com/kubeflow/pipelines/issues/4356 might be a better long term solution, use GCS & Cloud SQL as the backing stores instead of persistence disk. This makes operational costs lower.

[2021-02-22 03:39] Bobgy opened #196 "Kubeflow on GCP - 1.3 release tracker"
Created release project in https://github.com/kubeflow/gcp-blueprints/projects/2.

Use this as a root tracker for logs and discussions.

[2021-02-22 03:42] Bobgy commented on #196
I think a major question to discuss: do we support in-place upgrade for this release?

A few changes I think we must do are really hard to support in-place upgrade:
* https://github.com/kubeflow/gcp-blueprints/issues/144 ASM (managed Istio) upgrade only support in-place upgrade per minor version, but this time, we will go from 1.4 to 1.8.
* https://github.com/kubeflow/pipelines/issues/4356 means w

[2021-02-24 04:28] jcastagneri commented on #194
Thanks @Bobgy. I read through your linked issues; for my vote, managed storage makes pragmatic sense. It would be easier for migration, a bit less frightening for data loss, and more economical. I wish PDs were easier to manage in GKE, or that there were better tools to work with them, but managed storage seems to be winning right now. I think you're making the right call here if you're changing t

[2021-02-24 17:09] Shaked opened #197 "kustomize: Error: unknown flag: --load_restrictor"
While I am trying to install a fresh kubeflow version 1.2, I stumbled at this error:

[code]

It seems like this has been changed:

[code]

[code]

[code]
I am using `kustomize`'s latest version as the documentation says:

So I guess either I am doing something wrong or `--load_restrictor none` should be replaced with `--load-restrictor LoadRestrictionsNone`?

Thanks
Shaked

[2021-02-25 21:23] Shaked opened #198 "Kubeflow 1.2 installation doesn't seem to work, failing on 'secret "dns.istio-sidecar-injector-service-account" not found'"
Hey,

I have originally replied to https://github.com/kubeflow/kubeflow/issues/5048#issuecomment-785456950 with the following details. However, I believe that my issue is not directly related to https://github.com/kubeflow/kubeflow/issues/5048 so I decided to put everything in here.

I am currently trying to install kubeflow 1.2 on GCP following https://www.kubeflow.org/docs/gke/deploy/ and I stum

[2021-02-26 06:14] Bobgy commented on #144
Documentation to refer:
https://cloud.google.com/service-mesh/docs/scripted-install/asm-onboarding
https://cloud.google.com/service-mesh/docs/enable-optional-features

[2021-02-26 06:17] Bobgy commented on #144
Official doc to refer: https://istio.io/latest/docs/concepts/what-is-istio/

[2021-02-26 06:17] Bobgy commented on #144
/assign @zijianjoy

[2021-02-26 06:30] Bobgy commented on #125
Not getting further response, I assume the problem is solved.
Feel free to comment more if you still have any questions.

[2021-02-26 06:30] #125 closed

[2021-02-26 16:18] Bobgy commented on #197
The instructions only works with kustomize v3. We need an update

[2021-02-26 17:28] Shaked commented on #197
I can confirm.

[2021-02-27 02:01] zijianjoy commented on #144
Latest istioctl-asm download page: http://cloud/service-mesh/docs/downloading-istioctl#mac-os

[2021-03-01 08:30] krish0005 opened #199 "Cannot deploy Kubefow 1.2.0 in CLI mode: it is impossible to deploy in a custom VPC"
See comments already posted here: https://github.com/kubeflow/manifests/issues/1577#issuecomment-777587661

My cluster.yaml as follows:

[code]

What i get when i build:

[code]

[2021-03-01 08:38] Bobgy commented on #199
Hey @krish0005, sorry for the delayed reply. You might want to raise an issue in https://github.com/GoogleCloudPlatform/k8s-config-connector, which is open source repo for https://cloud.google.com/config-connector/docs/overview

[2021-03-01 18:05] zijianjoy commented on #144
Attempted to run `make apply` directly after upgrading istioctl-asm. See the following error for command:

command:
`istioctl manifest generate -f $(MANIFESTS_DIR)/gcp/v2/asm/istio-operator.yaml -o $(BUILD_DIR)/istio`

error:

[code]

[2021-03-01 23:05] zijianjoy commented on #144
Exploring applying https://github.com/GoogleCloudPlatform/anthos-service-mesh-packages/blob/master/asm/istio/istio-operator.yaml

[2021-03-02 07:36] zijianjoy commented on #144
Making changes in `Makefile` to simulate manual steps in https://cloud.google.com/service-mesh/docs/scripted-install/gke-install.

Currently facing issues:

*  `sni_hosts` are not recognized because validation has been enforced on this field. Changing them to `sniHosts` in `kf-istio-resources.html` fixes the issue.

*  There is no match for `ClusterRbacConfig` in "rbac.istio.io/v1alpha1", because

[2021-03-02 08:53] Bobgy commented on #199
Hi @krish0005, this has to do with gcloud beta anthos apply.

and in this case, you can simply modify `Makefile` to replace the apply management cluster step using a gcloud command to create the cluster, just make sure it will create the same spec as your cluster.yaml.

and then you can continue the rest of installation as usual

[2021-03-05 10:48] ihorby commented on #198
I have the same problem. Deploy kubeflow@v1.2.0  on GCP following https://www.kubeflow.org/docs/gke/deploy/deploy-cli/
And I get the same error.

`k get pods -n istio-system`
[code]
`k -n istio-system describe pod istio-galley-86bd96cbf4-6hlr`
[code]

`k -n istio-system describe pod istio-sidecar-injector-f475c7995-js275`
[code]

[2021-03-05 15:50] susan-shu-c commented on #6
Interested in regional as well!

[2021-03-07 17:36] jcastagneri commented on #198
I have also seen exactly the same problem, and have similarly traced the issue to `secret "dns.istio-sidecar-injector-service-account" not found` in the Istio sidecar injector.

I also replicate that the cloudendpoint resource seems to exist for me on my management cluster, but when listing with gcloud, I don't see anything.

[2021-03-07 19:08] jcastagneri commented on #198
## Update: I think I have a fix

### Summary
The secrets that are missing in the sidecar injector are not being created by istio because a cluster role lacks a legacy permission. Maybe an API changed underneath istio?

### Diagnosis

Diving a bit deeper into this, I found that the secrets that aren't being generated are certificates managed by istio. Istio uses [Chiron](https://istio.io/latest/doc

[2021-03-10 09:10] ihorby commented on #198
@jcastagneri

Thank you, with your fix I successfully deployed the project.
I really hope that this will be fixed in the next version of Kubeflow.

[2021-03-11 04:27] Bobgy commented on #198
Thank you @jcastagneri!
Can you report your kubernetes cluster version? That seems the most likely change.
When Kubeflow 1.2 was developed, it was against kubernetes 1.16, I believe it also works with some more, but I'm not sure the upper limit right now.

Regarding this issue, I think the root cause is still that Kubeflow 1.2 was using Anthos Service Mesh 1.4 (deprecated). @zijianjoy and I are wo

[2021-03-11 17:07] Shaked commented on #198
This seems to work - thank you @jcastagneri .

@Bobgy - I have tried it on `v1.18.12-gke.1210`

I have added the following in order to automate the process, although I'm definitely not sure if this is the right way to do that:

I am not sure if there's a way to access istio's files i.e the source of `istio/Base/Pilot/Pilot.yaml so instead, I used a different approach.

First
[code]

Then generate

[2021-03-15 09:53] PatrickGhosn commented on #198
Are you using a public or a private cluster? If it's a private cluster there needs to be some firewall rules added between the main and the worker nodes. We had similar issues with kfserving on a private cluster.

[2021-03-15 21:29] jcastagneri commented on #198
@Bobgy sorry for the late reply, I am using  1.18.12-gke.1210
@Shaked thanks for the kustomize! I had similar problems finding what the true upstream file was, so I will incorporate your patch to my configuration

@PatrickGhosn  I am using a GKE cluster, but I think I'm misinterpreting what you mean by public vs private; could you help me understand?

[2021-03-16 09:06] PatrickGhosn commented on #198
![image](https://user-images.githubusercontent.com/33845447/111283304-44302680-863f-11eb-887b-8a81189361c3.png)

@jcastagneri
Check in the cluster details. It should tell you if it's private or public like in the image above. A private cluster has extra security installed, so you will need to configure it to support KFServing. Open the right ports, configure KNative to run on the local cluster, et

[2021-03-16 21:30] ulrikpl opened #201 "Little error in guide"
"Setting up a management cluster" step kubeflow/website#2

`cd "${MGMT_DIR}"`

In order to work it has to be:

`cd "${MGMT_DIR}"/management`

Since the previous step downloads ${MGMT_DIR}"/management:
`kpt pkg get https://github.com/kubeflow/gcp-blueprints.git/management@v1.2.0 "${MGMT_DIR}"`

[2021-03-17 07:04] Bobgy commented on #201
/cc @zijianjoy

[2021-03-18 10:45] crmne commented on #198
@Shaked thank you for the tutorial! I tried it but didn't fix the problem unfortunately.

I also tried applying this:

[code]

and then deleting the `istio-pilot`, `istio-galley`, and `istio-sidecar-injector` pods without any luck. galley and sidecar-injector are still ContainerCreating.

[code]

[2021-03-18 13:25] Shaked commented on #198
@crmne Can you verify that the endpoint has been created? You can see how I did it in the original issue at the top.

[2021-03-19 07:21] Bobgy commented on #184
I am sending https://github.com/kubeflow/pipelines/pull/5336 to make K8s application optional for Kubeflow Pipelines. In upcoming releases, we should consider not include application by default.

[2021-03-19 08:01] #184 closed

[2021-03-22 12:24] crmne commented on #198
@Shaked is this what you mean?
[code]

[2021-03-23 06:32] Bobgy commented on #198
Note, we are actively working on upgrading Anthos Service Mesh in https://github.com/kubeflow/gcp-blueprints/issues/144 preparing for Kubeflow 1.3 release (happening soon, rough ETA is probably a month).

Probably another good workaround can be downgrading your kubernetes cluster from regular channel to stable channel. ASM 1.4 should still work with Kubernetes 1.16. Can someone who wants to deploy

[2021-03-23 15:54] SaschaHeyer opened #203 "Kubeflow on GCP - deployment error I"
/kind bug

**What steps did you take and what happened:**
GCP / Deploy using kubectl and kpt / make apply / error

1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step `make apply` fails with the following error message

[code]

**What did you expect to happen:**
no error during make

**Anything else you would like to add:**
/

[2021-03-23 19:57] SaschaHeyer opened #204 "Kubeflow on GCP - deployment error II - istioctl missing in documentation"
/kind bug

**What steps did you take and what happened:**
istioctl requirement but not mentioned in documentation / fails with error

1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step make apply fails with the following error message

[code]

The documentation does not mention that `istioctl` is required for the setup

**Wha

[2021-03-23 20:08] SaschaHeyer opened #205 "Kubeflow on GCP - deployment error III - unknown field "env""
/kind bug

**What steps did you take and what happened:**

1. Followed the guidelines https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow
2. Step make apply fails with the following error message

[code]

istio-operator.yaml

[code]
**What did you expect to happen:**
no error

**Anything else you would like to add:**
/

**Environment:**
- Kustomize version:
[co

[2021-03-24 05:58] Bobgy opened #202 "[usability] services should not be managed by config connector"
## Background
For convenience, we defined required services for each package as config connector resources.
Also, we deploy them using config connector or `gcloud beta anthos apply`.

## Problem
In https://www.kubeflow.org/docs/gke/deploy/delete-cli/#deleting-your-kubeflow-cluster,

`make delete-gcp` will also delete all the service entries.
However, services typically should have a different life

[2021-03-24 06:03] Bobgy commented on #202
/cc @zijianjoy

[2021-03-24 06:03] Bobgy commented on #196
TODOs:
* [ ] Upgrade Config Connector in https://github.com/kubeflow/gcp-blueprints/tree/master/packages/management

[2021-03-24 13:37] ulrikpl opened #206 "GCP kubeflow 1.2 install: Kpt not setting values for upstream/manifests/gcp/v2/management/"
/kind question

Before installing kubeflow we 'make set-values' which invokes kpt setting. However no attempt is being made to set values in upstream/manifests/gcp/v2/management but it is clear that default values are being set in multiple places. Does anybody know if this is a bug and how it affects my install?

[code]

[2021-03-26 06:18] zijianjoy commented on #198
I have validated that Kubernetes 1.16 deployment works fine by applying the following changes: https://github.com/kubeflow/manifests/pull/1782. We can cherrypick this for Kubeflow 1.2.1 patch.

[2021-04-01 01:02] Bobgy opened #208 "Kubeflow on GCP v1.2.1 release"
We've done the release to resolve https://github.com/kubeflow/gcp-blueprints/issues/198

[2021-04-01 01:02] Bobgy commented on #208
Releases already made, pending doc update in https://github.com/kubeflow/website/pull/2582

[2021-04-01 17:31] zijianjoy commented on #208
Validated that kubeflow 1.2.1 deployment is successful. Approving above PR.

[2021-04-01 17:32] zijianjoy commented on #198
I have validated that GCP v1.2.1 release has been successful with https://github.com/kubeflow/gcp-blueprints/issues/208. Approving the PR and wait for website update for new deployment guide. Thank you Yuan!

[2021-04-01 18:40] JohanWork commented on #198
@zijianjoy copied your pr into my deployment and it solved it all.

[2021-04-01 23:34] Bobgy commented on #198
Thank you so much @zijianjoy!

[2021-04-01 23:34] #198 closed

[2021-04-01 23:34] Bobgy commented on #208
Release done

[2021-04-01 23:34] #208 closed

[2021-04-07 07:55] JulesBelveze commented on #181
Just ran into the same problem and after some time it finally worked 🤔

[2021-04-09 11:12] Bobgy commented on #206
/assign

[2021-04-09 11:21] Bobgy commented on #203
Fixed by https://github.com/kubeflow/website/pull/2572

Thank you for the report!

[2021-04-09 11:21] #203 closed

[2021-04-09 11:23] Bobgy commented on #204
It's mentioned in the install required tools section though

Note, the istioctl downloaded from above instructions is specific to Anthos Service Mesh. It is different from the istioctl you can download on https://istio.io/.

[2021-04-09 11:24] #204 closed

[2021-04-09 11:26] Bobgy commented on #205
Hi @SaschaHeyer,
Sorry for late reply, note the documentation asks you to download istioctl from a specific link from Google. It's not the same as the open source version.

[2021-04-09 11:26] Bobgy commented on #205
Read https://master.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#install-the-required-tools

[2021-04-09 11:27] #205 closed

[2021-04-10 16:14] zijianjoy opened #209 "[KF 1.3] Integrate Knative and KFServing"
Highlevel tracking: https://github.com/kubeflow/manifests/issues/1798

In order to prepare for GCP distribution of Kubeflow 1.3, we need to make sure kfserving installation is working. Currently we haven't installed cluster-local-gateway in our deployment step, but it is needed based on documentation in [KFServing GCP/IAP Example](https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-

[2021-04-11 02:58] Bobgy commented on #209
I think best references for KFServing and Knative installation are their official docs, instead of manifests README.

https://github.com/kubeflow/kfserving
https://knative.dev/docs/install/

From kfserving doc, it seems that it only supports usage with Istio, so we can ignore Knative installation methods not depending on istio.

For Knative, I found https://knative.dev/docs/install/knative-with-op

[2021-04-11 03:06] Bobgy commented on #209
Renamed title to make this central tracker for kfserving

[2021-04-12 17:13] zijianjoy commented on #209
Thank you so much Yuan for all the helpful information!

TL;DR:
I am able to install Knative serving v0.22.0 from official doc, cluster-local-cluster within ASM, and KFserving using `kubeflow/manifests`. Then I am able to call `predict` endpoint of sklearn iris inferenceService without sidecar injection. The current blocker is to call predict endpoint with sidecar injection (which means IAP enable

[2021-04-12 18:00] zijianjoy commented on #209
## Detailed integration steps

### 1. Cleanup existing deployments

If we have the existing deployment of knative and cluster-local-gateway, we need to clean them up first. Namely the following targets in `kubeflow/manifests` repo:
[code]

**Reason**: KFserving requires knative v0.17.4+, but `kubeflow/manifests` contain v0.14.3. And we need to use the ASM approach for cluster-local-gateway: https:

[2021-04-12 18:22] zijianjoy commented on #209
## Follow ASM + IAP example

I ran the example based on https://github.com/kubeflow/kfserving/tree/master/docs/samples/gcp-iap. GCP IAP is already set up.

### Create inference service

`kubectl apply -f sklearn-iap-no-authz.yaml`

Note that I added `namespace: ${PROFILE_NAME_CREATED_BY_USER}` in the sklearn-iap-no-authz.yaml. Because we shouldn't deploy inferenceService on kubeflow namespace: htt

[2021-04-13 02:47] Bobgy commented on #209
FYI, here's KFP SDK code to authenticate for IAP: https://github.com/kubeflow/pipelines/blob/85cb99173dead8bd2ca09c8e040b137f59d00ad7/sdk/python/kfp/_auth.py#L61-L84

[2021-04-14 16:31] zijianjoy commented on #209
Thank you Yuan for the reference!

I have validated that the KFServing is working properly with the correct curl request and authorizationPolicy. Further more, we can simplify the installation step from https://github.com/kubeflow/gcp-blueprints/issues/209#issuecomment-818012309:

## Detailed integration steps

### Istio Customization

No need for steps 2, 3, 4

### Official installation of Knativ

[2021-04-16 04:39] zijianjoy commented on #144
Need to follow up with csm lifecycle team about how to maintain `ASM revision` namespace label because its version can get deprecated easily.

[2021-04-16 04:45] zijianjoy commented on #158
We will start using `kpt cfg set -R` in Kubeflow 1.3 onward

[2021-04-16 04:45] #158 closed

[2021-04-17 00:16] RoyerRamirez commented on #32
Hi has this issue been resolved? If not, we might be able to assists if we get more context into what's needed to get this up and running? All the GKE clusters we run are private cluster.

Best,

Royer R Ruiz

[2021-04-18 01:42] zijianjoy commented on #209
KFserving WG recommends KFserving 0.5.1, KNative 0.17.4 because they have using this configuration in production. However, the upstream `kubeflow/manifests` has an out-of-date KNative version 0.14, and we are very close to the release date for Kubeflow 1.3.

It has been very challenging to adopt the recommended KNative version v0.17.4, because this version has been very old and hard to install it

[2021-04-18 03:12] zijianjoy opened #213 "Pin cluster version to 1.18"

[2021-04-18 03:25] zijianjoy opened #214 "default to e2 machine type, instead of n1"

[2021-04-18 04:30] zijianjoy opened #216 "Patch istio-ingressgateway annotations"
kubectl edit service istio-ingressgateway -n istio-system

Add annotation:
annotations:
   cloud.google.com/backend-config: '{"ports": {"http2":"iap-backendconfig"}}'
    cloud.google.com/neg: '{"ingress":false}'

[2021-04-18 14:07] Bobgy commented on #209
Makes sense to me, thank you for the efforts!

[2021-04-19 15:33] zijianjoy opened #217 "[knative] Issue when building knative 0.22.0 and kustomize namespace patch"
During KFServing installation, I am trying to upgrade KNative by following https://knative.dev/docs/install/install-serving-with-yaml/#install-the-serving-component.

Since we want to patch knative-serving namespace with ASM label, I use kustomize to patch the knative resource.

After the comment from Yuan and David: https://github.com/kubeflow/gcp-blueprints/pull/212#discussion_r615369195. I real

[2021-04-19 15:41] zijianjoy commented on #209
Thank you Yuan for confirming!

[2021-04-19 15:43] DavidSpek commented on #217
This is caused by a bug in kyaml as described in [this comment](https://github.com/kubernetes-sigs/kustomize/issues/3446#issuecomment-762122084) in the following issue: https://github.com/kubernetes-sigs/kustomize/issues/3446. For now I think the easiest way forward is to simply expand the manifest.

[2021-04-19 16:22] zijianjoy commented on #217
Thank you David for the reference! It makes sense and I expanded net-istio.yaml and serving-core.yaml. The kustomize build works now!

[2021-04-19 16:57] zijianjoy commented on #217
One caveat is that I need to run multiple times of same command, because the namespace was not ready at the first run. I will do some customization to apply namespace resource first...

[2021-04-19 17:00] DavidSpek commented on #217
You might also want to consider adding eventing but commented out as it is optional, so users can easily enable it if they want to. https://github.com/argoflow/argoflow/tree/master/knative might be handy as a reference (also for the image digests).

[2021-04-20 16:54] zijianjoy opened #219 "Update config connector"

[2021-04-20 17:38] zijianjoy opened #221 "If all application overlays are removed, we can get rid of application controller. We do not want it either"

[2021-04-20 17:39] zijianjoy opened #222 "Cert manager needs to be 0.12.0+"

[2021-04-20 23:48] #221 closed

[2021-04-20 23:49] #219 closed

[2021-04-21 02:55] #213 closed

[2021-04-21 02:55] #214 closed

[2021-04-21 07:00] zijianjoy opened #224 "Need to use kpt to update all namespace labels for specific ASM version."

[2021-04-21 07:41] zijianjoy commented on #216
It might be related to the firewall rule https://cloud.google.com/service-mesh/docs/iap-integration#external_requests

[2021-04-21 07:42] zijianjoy commented on #216
Exposing NodePort instruction: https://cloud.google.com/kubernetes-engine/docs/how-to/exposing-apps#creating_a_service_of_type_nodeport

[2021-04-21 16:43] zijianjoy commented on #144
We also need to document the steps to upgrade ASM if user wants to.

[2021-04-21 23:25] #176 closed

[2021-04-21 23:25] #209 closed

[2021-04-21 23:25] #222 closed

[2021-04-22 02:06] #224 closed

[2021-04-22 06:22] zijianjoy opened #227 "Add workload-identity-bindings-patch.yaml"
Use KFP built-in TFX sample to verify permissions, it should be able to write to GCS

We need this for all apps, otherwise it might not work: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#authenticating_to. profile controller not workiing

[2021-04-22 08:17] hanan9m opened #228 "Kubeflow on private GKE cannot create pods"
we deployed Kubeflow on private GKE in 2 ways:

1. https://www.kubeflow.org/docs/distributions/gke/private-clusters/
2. https://v1-1-branch.kubeflow.org/docs/started/k8s/kfctl-istio-dex/

after we deployed the cluster and enter the dashboard, we try to create a new experiment. but, the experiment is failing to Timeout.

Logs:

Pods:

and when i press "details":

[2021-04-22 08:41] Bobgy commented on #228
/cc @zijianjoy

Hi @hanan9m, unfortunately Google Cloud enforce kubernetes version upgrades stably, so the old releases depended on old Kubernetes versions and probably wouldn't work now for private clusters.

I'd suggest waiting for Kubeflow 1.3 GCP distribution to come out and try to customize it to make it work on a private cluster.

I'm curious which Kubeflow components do you use and which in

[2021-04-22 08:54] hanan9m commented on #228
according to this: https://github.com/kubeflow/manifests/pull/1782 i fixed the k8s version to 1.16 (when we install by private-clusters guide), so I don't think the k8s version is the problem.

about the ingress:
when we use  https://www.kubeflow.org/docs/distributions/gke/private-clusters/: the ingress they mention on the guide
when we use  https://v1-1-branch.kubeflow.org/docs/started/k8s/kfctl-

[2021-04-22 17:01] rky0930 commented on #144
@zijianjoy If Kubeflow 1.3 uses ASM1.9, it would be better if 1.9.3-asm.2 or higher is used by default. This is because a security issue, [ISTIO-SECURITY-2021-003](https://istio.io/latest/news/security/istio-security-2021-003/), was recently resolved in version 1.9.3-asm.2. Please refer to the [Release Note](https://cloud.google.com/service-mesh/docs/release-notes) here.

[2021-04-22 18:03] zijianjoy commented on #144
Thank you @rky0930 ! I am also working on the documentation to allow users to upgrade ASM to any version by themselves. Once I send out the PR for documentation, would you like to give it a try to see if your upgrade works? Because I expect there will be future ASM/istio releases, so I think it will benefit in a long term if the cluster maintainer knows how to upgrade ASM, instead of relying on Ku

[2021-04-22 18:09] zijianjoy opened #230 "Simplify Makefile"
### Motivation

We want to answer the following questions for users:

* How does user set kpt values?
* How do we define root Makefile for simplest logic.
* How does subfolder Makefile get common env variables from root Makefile?
* How does user pull from upstream while not interfering user kustomized items?
* How does user maintain the build folders?
* How does user upgrade the whole gcp-blueprin

[2021-04-22 22:10] zijianjoy opened #231 "refactor packages -> management."
Try out the management cluster deployment.

Polish the deployment steps.

[2021-04-23 01:18] #217 closed

[2021-04-23 01:19] zijianjoy commented on #197
Related work to upgrade to kustomize 4+: https://github.com/kubeflow/manifests/issues/1797

[2021-04-23 02:39] rky0930 commented on #144
@zijianjoy Okay, when the document PR is created, I'll try it. Thanks !

[2021-04-23 08:41] zijianjoy commented on #230
Structure description:

### List of components:

common/cnrm  [special-handling]
common/asm  [special-handling]
iap-secret (Command only)
common/kubeflow-namespace
common/istio
contrib/application
common/cert-manager [special-handling]
contrib/metacontroller
common/cloud-endpoints
common/iap-ingress
common/config-kubeflow
apps/admission-webhook
apps/centraldashboard
common/kubeflow-roles
apps/jupy

[2021-04-23 16:03] zijianjoy commented on #144
Thank you so much @rky0930!

[2021-04-24 06:03] #216 closed

[2021-04-24 06:07] #231 closed

[2021-04-24 06:29] Bobgy commented on #230
How to upgrade Makefile, pull-upstream.sh, patches/ folder, etc. for users?

One way to do it is passing by environment variable, let individual components assume some env vars exists.

[2021-04-25 03:22] zijianjoy commented on #227
Validated that KFP and profiler are working correctly with workload identity

[2021-04-25 03:22] #227 closed

[2021-04-25 03:24] zijianjoy opened #233 "Use kubeflow/manifests tag https://github.com/kubeflow/manifests/releases/tag/v1.3.0"
Notebook AGPL issue

https://github.com/kubeflow/manifests/issues/1798#issuecomment-814748504

Another issue:

Change katib target: https://github.com/kubeflow/manifests/tree/v1.3.0/apps/katib/upstream/installs/katib-with-kubeflow

[2021-04-26 03:35] zijianjoy commented on #230
Thank you Yuan for the suggestion! For the first attempt, I am going to pass environment variable. I tried to use kpt setter but at some cases it cannot read kpt value correctly. (Maybe it requires Kptfile to contain those values)

[2021-04-26 03:35] zijianjoy commented on #230
Realized that Knative serving requires Kubernetes 1.18+ https://knative.dev/docs/install/prerequisites/#prerequisites

[2021-04-26 12:13] Bobgy commented on #230
thanks, I wasn't aware of the knative serving constraint.
we might need to go back to UNSPECIFIED channel with 1.18 as min version

[2021-04-27 05:53] zijianjoy commented on #230
Thank you for confirming! May I ask why we cannot use STABLE channel if we use 1.18 k8s version?

[2021-04-27 05:54] zijianjoy commented on #230
https://github.com/kubeflow/gcp-blueprints/pull/235
https://github.com/kubeflow/gcp-blueprints/pull/238

[2021-04-27 08:18] Bobgy commented on #230
When you pin a channel, the channel decides your version, you cannot change at all.

[2021-04-27 10:18] #233 closed

[2021-04-27 12:34] Bobgy opened #239 "pull-upstream.sh problems"
1. istio package not pulled to an upstream folder

https://github.com/kubeflow/gcp-blueprints/blob/52f67910a7b6a1dc7f81b7e4b3bcdb2599e67518/kubeflow/pull-upstream.sh#L101-L104

this isn't consistent with other packages

2. failed to fetch argo package
https://github.com/kubeflow/gcp-blueprints/blob/52f67910a7b6a1dc7f81b7e4b3bcdb2599e67518/kubeflow/pull-upstream.sh#L149-L153

because argo package h

[2021-04-27 12:34] Bobgy commented on #239
/assign @zijianjoy

[2021-04-27 21:44] #239 closed

[2021-04-28 03:26] zijianjoy commented on #230
I tried GCP console to select STABLE release channel, we still have a few options of k8s versions to select from. Is this the limitation you are mentioning?
![stablechanneloption](https://user-images.githubusercontent.com/37026441/116341961-acbe0780-a796-11eb-9840-6a4242350f09.png)

[2021-04-28 04:52] Bobgy commented on #230
Interesting, then I am wrong. If that's possible, we can do this

[2021-04-28 14:33] Bobgy commented on #94
Latest decision is to remove instance folder and move everything to upstream. When users need an instance folder they can set up the structure by themselves.

[2021-04-28 14:33] #94 closed

[2021-04-28 18:30] zijianjoy opened #243 "STABLE channel for 1.18 k8s version"

[2021-04-29 02:50] #243 closed

[2021-04-30 00:39] Bobgy commented on #230
component apply failure should exit right away

[2021-04-30 03:02] #230 closed

[2021-04-30 05:21] Bobgy opened #249 "Logout is not working properly"
It will keep refreshing centraldashboard web page if I click logout on centraldashboard.
Reopening another web page will keep me login using the same account.

[2021-04-30 05:24] Bobgy commented on #194
Let's mark this as closed, will be resolved in kubeflow/pipelines#4356.

[2021-04-30 05:24] #194 closed

[2021-04-30 22:38] zijianjoy opened #251 "Make sure users are using the latest patch version of kubectl"
When applying, I'm stuck at

[code]
this step is stuck for ever

[2021-05-03 17:18] zijianjoy opened #252 "Needs another GCP project to validate managed project permission grant"
`gcloud beta anthos apply ./managed-project/iam.yaml`

[2021-05-03 18:06] zijianjoy opened #254 "set-values.sh should include an env var for ADMIN_EMAIL"
Also, shall we keep kpt cfg set commands in documentation? If we prepare a script of set-values, users will think it's an abstraction, but if we let them use commands directly, that lets them learn kpt quicker.

example:
https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/

[2021-05-04 17:37] #254 closed

[2021-05-04 18:14] zijianjoy opened #256 "Document usage of `make delete` if user wants to alter immutable resources. They need to destroy existing ones and create new ones."
A better way to update immutable resource is add a version kpt setter, after each spec update, users should bump the version setter and therefore the resource's name, so we will be applying new resources and deleting the old one

[2021-05-04 18:14] zijianjoy opened #257 "Do we need following command in deployment steps?"
kubectl config set-context --current --namespace ${KF_PROJECT}

[2021-05-04 18:15] zijianjoy opened #258 "Remove/Update all `out-of-date` banner from kubeflow.org GCP section"

[2021-05-05 15:42] edi-bice-by commented on #257
I'm trying to deploy kubeflow 1.3 via gcp-blueprints and ran into the following which puzzled me as I wasn't expecting to see my GCP project as a namespace - maybe it is due to missing the step you listed above

edibice@MD1-1029014MBP kubeflow % make apply
cluster_name_regex=^[a-z][-a-z0-9]{0,22}[a-z0-9]$
The kubeflow cluster name "kubeflow13" is valid.
PROJECT=blah-blah-blah NAME=kubeflow13 ./hac

[2021-05-05 16:34] zijianjoy commented on #257
Thanks @edi-bice-by! Would you like to check whether you have such namespace in management cluster context?

[code]

I didn't suggest to remove the command: `kubectl create namespace "${KF_PROJECT}"`, but i am wondering if setting the current namespace is necessary.

[2021-05-05 16:43] edi-bice-by commented on #257
I did run that command just prior to your reply.

Actually grepped the whole repo and did not find it so I assumed it had not ran.

edibice@MD1-1029014MBP gcp-blueprints % grep 'set-context' -r *
kubeflow/hack/create_context.sh:kubectl config set-context --current --namespace=${NAMESPACE}
management/hack/create_context.sh:kubectl config set-context --current --namespace=cnrm-system
packages/manage

[2021-05-05 17:57] zijianjoy commented on #258
Uber issue:
 https://github.com/kubeflow/website/issues/2177
https://github.com/kubeflow/website/issues/2668

[2021-05-06 17:15] edi-bice-by opened #260 "Bad path spec in asm package while applying kubeflow blueprint"
Went through after applying this change manually (since asm Makefile apply downloads fresh undoing change)
`diff --git a/kubeflow/common/asm/Makefile b/kubeflow/common/asm/Makefile
index 07a7dbf..de56987 100644
--- a/kubeflow/common/asm/Makefile
+++ b/kubeflow/common/asm/Makefile
@@ -39,8 +39,7 @@ install-asm: downalod-install-asm-script download-asm-package
        --mode install \
        --enab

[2021-05-06 17:42] edi-bice-by commented on #260
Actually, install_asm via above failed at a later stage

install_asm: Configuring kpt package...
asm/
set 22 field(s) of setter "gcloud.container.cluster" to value "kf13"
asm/
set 40 field(s) of setter "gcloud.core.project" to value "saas-ml-dev"
asm/
set 2 field(s) of setter "gcloud.project.projectNumber" to value "285202620403"
asm/
set 6 field(s) of setter "gcloud.project.environProjectNumber"

[2021-05-06 18:17] Bobgy opened #261 "tensorboard visualization fails with no user id header"
![image](https://user-images.githubusercontent.com/4957653/117346506-6a08d780-aeda-11eb-9058-18409966d3c1.png)

[2021-05-06 20:28] zijianjoy commented on #257
What you have explained confirms that you should run the following two commands from https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#configure-kubeflow:

[code]

As long as you have done that, `kubectl get namespace --context=kubeflow13-mgmt` should show the namespace with "${KF_PROJECT}" name.

[2021-05-06 20:29] zijianjoy commented on #257
After this, `make apply` should be successful for you.

[2021-05-09 08:25] Bobgy commented on #260
/assign @zijianjoy

[2021-05-10 08:04] Bobgy commented on #258
I went through these docs quickly.

Running Kubeflow across on-premises and cloud environments with Anthos

Suggest move to bottom

Instructions for customizing and using Kubeflow Pipelines on Google Cloud Platform (GCP)

How to connect to different Kubeflow Pipelines installations on Google Cloud using the Kubeflow Pipelines SDK

Up-to-date

Authentication and authorization to Google Cloud Platfo

[2021-05-11 08:31] #252 closed

[2021-05-11 13:40] #167 closed

[2021-05-11 15:25] zijianjoy opened #266 "deployment failed without sql instance setter"
paste/6310309808570368

[2021-05-11 16:57] zijianjoy opened #267 "[Feature] Support private GKE cluster on Google Cloud"
This is a survey form for collecting interest on the feature: Private Kubeflow Cluster

## Description

GKE allows you to create private GKE cluster http://cloud/kubernetes-engine/docs/how-to/private-clusters which doesn't expose external IP address to the public. It requires customization and deployment steps change in `kubeflow/gcp-blueprints`.

## Action

If this feature fits in to your use cas

[2021-05-11 17:04] zijianjoy commented on #258
Thank you Yuan for going through the GKE docs!

I have updated https://github.com/kubeflow/website/pull/2696 to include those changes.

The remaining items need validation, I will update them later on:

1.  Enabling GPU and TPU
2. Using Preemptible VMs and GPUs on GCP
3. Using Your Own Domain

[2021-05-11 20:50] zijianjoy opened #268 "Rename pipeline folder to pipelines"

[2021-05-11 20:51] zijianjoy opened #270 "Create profile controller image with patch to gcr.io/kubeflow-public-images."
Use patched resource for profile controller.

We also need to update gcp-blueprint to use new manifests (locally instead of upstream), and point our gcr for this patch version image

PR: https://github.com/kubeflow/kubeflow/pull/5761

[2021-05-11 20:53] zijianjoy commented on #270
Done, kustomization is in:

https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/apps/profiles/kustomization.yaml#L45-L47

[2021-05-11 20:53] #270 closed

[2021-05-11 21:43] zijianjoy opened #271 "Validate Kubeflow GCP deployment using E2E example in https://github.com/kubeflow/pipelines/pull/5433"

[2021-05-11 21:57] zijianjoy commented on #271
Message:

  Warning  InternalError  22m   v1beta1Controllers  fails to reconcile predictor: fails to update knative service: Operation cannot be fulfilled on services.serving.knative.dev "mnist-e2e-predictor-default": the object has been modified; please apply your changes to the latest version and try again

[2021-05-11 23:40] #268 closed

[2021-05-12 03:36] zijianjoy commented on #266
REGION kpt cfg set mechanism

[2021-05-12 10:52] fabito commented on #184
This is what I used:

[code]

[2021-05-13 10:54] Bobgy opened #275 "Separate cloud-sql, bucket from KFP, document its behavior, update Makefile."

[2021-05-13 10:56] Bobgy commented on #266
Fixed in https://github.com/kubeflow/gcp-blueprints/pull/272

[2021-05-13 10:56] #266 closed

[2021-05-13 12:46] #261 closed

[2021-05-13 15:13] andreyvelich commented on #271
Thank you for validating this example @zijianjoy!
Couple of questions:
1. Do you see any other messages from `InferenceService` or only this warning ?
2. Can you check the logs from the KFServing controller ?
3. Does the `InferenceService` create pod with the deployed model ? If yes, can you check the logs please.

cc @yuzisun @pvaneck Do you have any ideas for this error ?

[2021-05-13 16:13] #275 closed

[2021-05-13 22:31] zijianjoy commented on #271
Thank you @andreyvelich !

1. I didn't see other error than that message: I ran `kubectl describe inferenceservice mnist-e2e-2 -n profile` and get the following:

[code]

2. I ran `kubectl logs kfserving-controller-manager-0  --container=manager` and get message:
[code]

3. I ran for failed predictor (revision 02)` kubectl logs mnist-e2e-2-predictor-default-00002-deployment-784bc4d56d-zznkn  --con

[2021-05-14 00:01] zijianjoy commented on #260
Thank you @edi-bice-by , unfortunately ASM doesn't work well with macOS, because it comes with old version of bash. See https://cloud.google.com/service-mesh/docs/scripted-install/asm-onboarding#installing_required_tools.

This issue is one of many which will cause trouble when installing on MacOS. We recommend using Linux (local VM or on GCE instance) or Cloud Shell.

[2021-05-14 06:24] zijianjoy commented on #202
Thank you for flagging this issue! May I ask what will be broken if user removes `gcpservice` https://cloud.google.com/config-connector/docs/reference/resource-docs/serviceusage/service?

My guess is that management cluster cannot create/delete certain GCP resources of the kubeflow project. But existing Kubeflow cluster's GCP resources are still running.

We might need to move the `gcpservice` to

[2021-05-14 23:11] andreyvelich commented on #271
Thank you for providing this information @zijianjoy.
What version are you using for KFServing manager? Is it v0.5.1 ?

It seems that `storage-initializer` container can't be executed and in the `PodInitializing` state.
In addition, can you provide output of this commands:
1. `kubectl get revision mnist-e2e-2-predictor-default-00002 -n profile`
2. `kubectl describe revision mnist-e2e-2-predictor-de