[2021-05-14 23:15] andreyvelich commented on #271
Also cc @theofpa for the KFServing question.

[2021-05-17 18:47] zijianjoy commented on #144
@rky0930 Hello Gyoung-yoon, we have released Kubeflow 1.3 on Google Cloud and you can refer to https://www.kubeflow.org/docs/distributions/gke/deploy/overview/ for the installation.

As part of this release, I have upgraded ASM to the latest available version v1.9.3-2. So the security issue mentioned by you should be covered. For future ASM release, you can refer to https://www.kubeflow.org/docs/d

[2021-05-17 18:47] #144 closed

[2021-05-18 03:06] zijianjoy commented on #271
Thank you @andreyvelich for helping to debug.

I confirm that KFServing manager version is v0.5.1.

Providing following logs:

1. `kubectl get revision mnist-e2e-predictor-default-00002 -n profile-ref10`

[code]

2. `kubectl describe revision mnist-e2e-predictor-default-00002 -n profile-ref10`
[code]

3. `kubectl describe pod mnist-e2e-predictor-default-00002-deployment-86b54db9f9-2qdq5 -n profile

[2021-05-18 03:20] zijianjoy commented on #271
Additional information:

1. Get persistent volume of the cluster: `kubectl get pv -A`
[code]
2. Get Persistent Volume Claim of the cluster: `kubectl get pvc -A`
[code]

[2021-05-18 12:41] andreyvelich commented on #271
@zijianjoy Sounds like model volume can't be attached to the KFServing container.
Maybe TFJob blocks it ? From my side on GCP the volume was bounded properly.

Try to remove `delete_finished_tfjob=False` parameter in the TFJob op:
[code]

[2021-05-18 12:43] andreyvelich commented on #271
In the meantime, please try to describe PVC to check which resources are using this PVC:
`kubectl describe pvc end-to-end-pipeline-6v2q4-model-volume -n profile-ref10`

[2021-05-19 18:03] zijianjoy commented on #271
If I remove the `delete_finished_tfjob` parameter, it will fail at `Kubeflow - Launch TFJob` step because it is `Exception: Timeout waiting for kubeflow.org/tfjobs mnist-e2e-2 in namespace profile-ref10 to enter one of the conditions ['Succeeded', 'Failed'].`

Logs are
[code]

[2021-05-19 18:10] zijianjoy commented on #271
Sharing the compiled pipeline definition of this sample:

https://gist.github.com/zijianjoy/e96c8cc6533e21e48cf193746831b089

[2021-05-19 20:35] zijianjoy commented on #271
List of pods in `kubeflow` and `user profile` namespaces:

[code]

Describe TFJob pod: `kubectl describe  pod  end-to-end-pipeline-lk2q6-362872075 -n profile-ref10`

[code]

pod logs:

`wait` container: `kubectl logs   end-to-end-pipeline-lk2q6-362872075 -n profile-ref10 --container=wait`

[code]

`main` container:
Same as `Exception: Timeout waiting for kubeflow.org/tfjobs mnist-e2e-2 in namespac

[2021-05-19 20:39] andreyvelich commented on #271
Please can you also describe the TFJob pods, not a Kubeflow Pipeline task?
`kubectl describe pod -n profile-ref10   mnist-e2e-ui-chief-0 `
And TFJob:
`kubectl describe tfjob mnist-e2e -n profile-ref10`

[2021-05-19 21:06] zijianjoy commented on #271
I see, thanks for clarification!

Sharing the TFJob pod: `kubectl describe pod -n profile-ref10 mnist-e2e-ui-chief-0`

[code]

And TFJob: `kubectl describe tfjob mnist-e2e-ui -n profile-ref10`

[code]

[2021-05-19 21:40] andreyvelich commented on #271
It seems that the problem with attaching volume to your pods. It takes long time.
Do you have any specific setup or constraint for your GCP cluster ?

Also, check this: https://github.com/kubernetes/kubernetes/issues/67014#issuecomment-827629299.
Which version of GKE are you using ? Can you try to upgrade to `1.19` ?

[2021-05-19 21:52] zijianjoy commented on #271
I am not aware of any specific constraint on my GCP cluster. I am using https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/ to deploy Kubeflow cluster.

I am not sure if upgrading Kubernetes version can help with this issue. Would you like to help me understand? My current Kubernetes version is 1.18.17-gke.100.

What is the Kubernetes version you are using which can finish volume mo

[2021-05-19 22:08] andreyvelich commented on #271
I am using GKE cluster with 4 Nodes. Version is: `1.19.9-gke.1900`.
FYI, to clean-up all resources from this example, run this:
[code]

[2021-05-20 23:20] dennisTGC commented on #34
i had the same problem, it went away after i added cdn01.quay.io and cdn02.quay.io. I have seen people add *.quay.io too if your proxy/fw supports it.

[2021-05-21 18:00] zijianjoy commented on #271
Thank you @andreyvelich , it is useful command to clean up past resources, maybe we can add them to the E2E example documentation.

I would like to share update from my side:

### Environment

I had Kubernetes cluster with version`1.18.17-gke.100`, and machine type is `e2-standard-8`, and 2 nodes in default node pool. I have disabled autoscaling. And the image type `Container-Optimized OS with Doc

[2021-05-21 22:53] andreyvelich commented on #271
Thank you for providing this information @zijianjoy.

Yes, for my GCP cluster I am also using `Container-Optimized OS with Docker (cos)` image type, since I upgraded GKE from older version.

I believe, if you want to call KFServing inference outside of K8s cluster (not from Kubeflow Notebooks) you should use another URL. @yuzisun Do we have an example how to call KFServing inference which is deplo

[2021-05-22 00:05] Bobgy commented on #206
Suggest using Kubeflow 1.3 now

[2021-05-22 00:05] #206 closed

[2021-05-24 21:07] zijianjoy commented on #257
Feel free to reopen if you still face this issue.

[2021-05-24 21:07] #257 closed

[2021-05-25 19:41] edi-bice-by opened #282 "managed project namespace not found"
edi_bice@general-instance-2:~/gcp-blueprints/kubeflow$ make apply
cluster_name_regex=^[a-z][-a-z0-9]{0,22}[a-z0-9]$
The kubeflow cluster name "kubeflow" is valid.
PROJECT=saas-ml-dev NAME=kubeflow ./hack/check_domain_length.sh
Build directory: ./build
Component path: common/managed-storage
Apply component resources: common/managed-storage
Found Makefile, call 'make apply' of this component Makefil

[2021-05-25 19:48] edi-bice-by commented on #282
Steps described here fix the issue but I think it's best to keep this issue open until the steps are incorporated into the Makefile

https://github.com/kubeflow/gcp-blueprints/issues/257#issuecomment-833838222

[2021-05-26 16:19] edi-bice-by opened #283 "kubeflow blueprint apply stuck due to improper iam configuration of cnrm"
edi_bice@general-instance-2:~/gcp-blueprints/kubeflow$ make apply
cluster_name_regex=^[a-z][-a-z0-9]{0,22}[a-z0-9]$
The kubeflow cluster name "kubeflow" is valid.
PROJECT=saas-ml-dev NAME=kubeflow ./hack/check_domain_length.sh
Build directory: ./build
Component path: common/managed-storage
Apply component resources: common/managed-storage
Found Makefile, call 'make apply' of this component Makefil

[2021-05-26 16:27] Bobgy commented on #283
/assign @zijianjoy

[2021-05-26 17:10] edi-bice-by commented on #283
Was able to get things going after manually applying

gcloud projects add-iam-policy-binding saas-ml-dev  --member="serviceAccount:kfdev-mgmt-cnrm-system@saas-ml-dev.iam.gserviceaccount.com" --role="roles/owner"

[2021-05-28 08:00] jiasenwu commented on #190
I met the same problem. Finally I get VPC-native routing + TPU enabled after some modification to kubeflow/common/cnrm/cluster-patch.yaml. c.f. https://github.com/jiasenwu/gcp-blueprints/commit/8fae4ff88de5b5036c6cdf11f2f11795c940fd66

I need to delete the old cluster in order to redeploy.

[2021-06-02 04:29] Bobgy opened #287 "break up pull-upstream.sh script to each component"
This makes each component standalone by itself.

Past discussion: https://github.com/kubeflow/gcp-blueprints/pull/284#discussion_r643635730

Potential directions:
* option 1: build a pull-upstream.sh script in each component
* option 2: wait for kpt v1 and see if it supports auto fetching subpackages

[2021-06-03 00:29] #283 closed

[2021-06-03 00:31] Bobgy commented on #282
Hi @edi-bice-by , we have the steps documented in https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#management-cluster-config.
Did I miss anything?

[2021-06-09 15:10] Shaked opened #288 "GKE node auto-provisioning not scaling down"
While using kubeflow 1.0, 1.2, 1.3 I have noticed that sometimes nodes do not scale down.

AFAIU this happens because of [node auto-provisioning](https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-provisioning). Nodes are scaled up and in some cases kube-system pods might start running on them, preventing them from scaling down.

Alternatively you can create PDBs for all non-daemonse

[2021-06-11 19:31] #260 closed

[2021-06-18 10:36] andrea-cola opened #291 "Cannot deploy Management Cluster - Error 400: Private cluster config can only be set on private clusters."
I'm trying to install the management cluster but I receive the following error when I use the command: `make apply`.

[code]

I already updated all my libraries, and followed step by step the guide on Kubeflow website.

Envinroment: GCP

[2021-06-18 18:00] rajsrujan77 opened #289 "Management cluster on GCP issue - googleapi: Error 400: Private cluster config can only be set on private clusters."
Hi,

I was trying to deploy Kubeflow on GCP using the [official Documentation](https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/). I was facing the below issue in the initial management cluster creation step. Was stuck here and couldn't find a resolution to it.

[code]

Thanks. :)

[2021-06-21 06:09] dotnetpiper opened #290 "GKE Ingress Bad Gateway or Backend not found"
Hi Team,

I've been using GKE and setup GKE Ingress mere to manage the path for all images which we have kept in GCR.
I've created a .Net core based API which is has various path , if I expose the deployment with service as type Loadbalancer it works perfectly. Though when I utilize GKE Ingress and setup service and its backend it throws an error like Bad Gateway or sometime backend not found.

.N

[2021-06-21 22:58] Bobgy commented on #290
Hi @dotnetpiper the question does not seem to be related to Kubeflow.
Can you ask Cloud Support for help?

[2021-06-21 23:26] Bobgy commented on #291
/assign @zijianjoy

[2021-06-22 03:52] susan-shu-c commented on #291
Hi, have encountered this issue as well. GCP user. Same error while trying to deploy management cluster, was working fine last Friday.

[2021-06-22 10:58] susan-shu-c commented on #289
Seems related to #291

[2021-06-23 06:03] zijianjoy commented on #291
@andrea-cola @susan-shu-c

Thank you for reporting this issue! I am able to reproduce the error and you need to upgrade anthoscli to resolve this issue:

Run following command:
`gcloud components update`

Then check your anthoscli version:
`anthoscli version`

The working version is:
`Version: version.Version{AnthosCLIVersion:"beta", GitCommit:"564e63c8e3df42c8b3105cad334eb198996a18a8", GitTag:"0.

[2021-06-23 06:04] zijianjoy commented on #289
I am able to reproduce the error and you need to upgrade anthoscli to resolve this issue:

Run following command:
`gcloud components update`

Then check your anthoscli version:
`anthoscli version`

The working version is:
`Version: version.Version{AnthosCLIVersion:"beta", GitCommit:"564e63c8e3df42c8b3105cad334eb198996a18a8", GitTag:"0.2.17", BuildDate:"2021-06-17T13:21:04Z", GoOs:"linux", GoArch:"

[2021-06-23 13:17] PatrickGhosn commented on #291
Thank you @zijianjoy ! This fixed it. :D

[2021-06-23 13:36] andrea-cola commented on #291
Thank you @zijianjoy ! Also in my case this fix it. :)

[2021-06-23 13:36] #291 closed

[2021-06-25 01:13] #290 closed

[2021-06-25 01:14] #289 closed

[2021-06-25 01:17] Bobgy commented on #288
A known problem is Istio Sidecars
https://istio.io/latest/docs/ops/common-problems/injection/#cluster-is-not-scaled-down-automatically

We need to add `cluster-autoscaler.kubernetes.io/safe-to-evict": "true"` for all the pods with istio sidecar and are safe to evict.

[2021-06-25 01:19] Bobgy commented on #288
We could add this to known services for users, welcome contributions!

[2021-06-27 14:05] Shaked commented on #260
@edi-bice-by @zijianjoy this issue can be fixed by replacing line 1304 in `install_asm`:

Replace
[code]

With
[code]

Following https://stackoverflow.com/questions/4323703/looking-for-correct-regular-expression-for-csplit, one of the comments state that the problem is not only the version number of bash, but rather the engine it is based on:

This fixes the errors:

csplit: ./options/ingressgatew

[2021-06-29 13:34] susan-shu-c commented on #184
I'm on Kubeflow v1.3 now and that doesn't work, after subbing in the correct context, of course - getting this`Error from server (NotFound): statefulsets.apps "application-controller-stateful-set" not found`

[2021-06-29 13:52] susan-shu-c commented on #184
Doing some more investigation, it seems that with v1.3, now it's

[code]

(Unchanged version)
[code]

[2021-07-06 19:53] daikeshi opened #292 "Where can I find the latest image for centraldashboard on gcr?"
We are using centraldashboard image published to `gcr.io/kubeflow-images-public/centraldashboard`, but it seems the images there haven't been updated since Aug, 2020.

In `kubeflow/manifest` repo, the centraldashboard image is fetched from AWS at `public.ecr.aws/j1r0q0g6/notebooks/central-dashboard` but it seems I don't have the access.

Can we still expect future centraldashboard images will be a

[2021-07-07 04:10] Bobgy commented on #292
@daikeshi I am not sure why you don't have access, you may ask notebooks maintainers, because they own central dashboard now.

Also, going forward each working group will be responsible for hosting their images. They won't be on gcr in the futures

[2021-07-07 20:21] daikeshi commented on #292
@Bobgy gotcha! I'll check with notebook maintainers. Thank you!

When I tried to directly visit the image from a browser, I got the following error 🤔
[code]

[2021-07-07 22:05] edi-bice-by commented on #260
@Shaked tried that and got the same results as you. Will try upgrading bash next, thanks.

[2021-07-07 22:31] edi-bice-by commented on #260
Upgraded bash using the instructions in the link @Shaked provided and still getting the error

install_asm: Configuring kpt package...
asm/
set 22 field(s) of setter "gcloud.container.cluster" to value "kubeflow"
asm/
set 40 field(s) of setter "gcloud.core.project" to value "saas-ml-dev"
asm/
set 2 field(s) of setter "gcloud.project.projectNumber" to value "285202620403"
asm/
set 6 field(s) of set

[2021-07-07 22:35] edi-bice-by commented on #260
Installed asm manually as I described a few comments back but again despite the new bash it runs in csplit errors elsewhere - not sure what the effect will be but I guess I'll move on for now

asm/
set 4 field(s) of setter "anthos.servicemesh.tag" to value "1.9.3-asm.2"
csplit: *}: bad repetition count
csplit: *}: bad repetition count
install_asm: Installing ASM control plane...

[2021-07-12 22:48] edi-bice-by commented on #287
Wanted to pull kfserving and had to pull all just so

[2021-07-16 01:16] #292 closed

[2021-07-19 12:06] Corea opened #293 "lit"

[2021-07-27 18:14] ilkelma opened #294 "Latest gcloud sdk 349.0.0 breaks kpt installed manifests"
While running through the installation guide I encountered a blocker that required me to specifically downgrade the Google Cloud SDK installed version of `kpt` because the current manifests do not have the correct API version (`v1alpha1` instead of `v1`) for the latest version of `kpt` - `1.0.0-beta1`.

Specifically I was running through the guide in cloud shell as I have a Mac as my dev machine a

[2021-07-29 19:44] kungfuchicken commented on #267
tracking.

[2021-07-30 01:17] Bobgy commented on #294
Thanks for reporting the issue @ilkelma!

/cc @zijianjoy
we will be supporting kpt v1 starting from Kubeflow 1.4.

Downgrading gcloud or installing a separate kpt binary https://github.com/GoogleContainerTools/kpt/releases/tag/v0.39.2 is current workaround.

Welcome contributions on doc updates or integrating kpt v1 with Kubeflow 1.3 if you are interested

[2021-07-30 01:18] #293 closed

[2021-07-30 01:19] Bobgy commented on #6
We've supported regional clusters in Kubeflow 1.3 on Google Cloud by switching to use CloudSQL + GCS by default.

[2021-07-30 01:19] #6 closed

[2021-08-04 02:45] markcberman commented on #267
Are there any instructions for deploying latest stable KF version to a private GKE cluster.   My company's firewall rules block access to the public internet.

[2021-08-04 20:03] pablofiumara opened #295 "How can I request memory on GCP?"
I configured GPU but when trying to run a pipeline, the following error appears:

_This step is in Failed state with this message: The node was low on resource: memory. Container wait was using 23608Ki, which exceeds its request of 0. Container main was using 2581084Ki, which exceeds its request of 0._

Should I execute the following command, add a minimum memory there and apply that new yaml file

[2021-08-04 21:13] #295 closed

[2021-08-05 15:13] edi-bice-by commented on #282
@Bobgy okay I'll close the issue then

[2021-08-05 15:13] #282 closed

[2021-08-06 19:26] edi-bice-by opened #297 "Failure to hydrate cert-manager"
MacOs Big Sur
bash 5.1

# Hydrate Common cert-manager
rm -rf ./build && mkdir -p ./build
mkdir -p ./build/cert-manager
mkdir -p ./build/kubeflow-issuer
kustomize build -o ./build/cert-manager ./
2021/08/06 15:05:59 evalsymlink failure on '/private/var/folders/wd/4pvnwrj93hd0bq4s3p6p3z_r0000gq/T/kustomize-039192082/releases/download/v1.3.0/cert-manager.yaml' : lstat /private/var/folders/wd/4pvnwrj9

[2021-08-07 15:48] edi-bice-by commented on #297
Possibly related to this issue https://github.com/kubernetes-sigs/kustomize/issues/2068

I had downgraded kustomize to 3.2.1 trying to get around another issue which ultimately was due to latest kpt breaking changes

[2021-08-07 15:50] edi-bice-by commented on #297
Issue resolved after installing latest kustomize v4.2.0

[2021-08-07 15:50] #297 closed

[2021-08-11 17:07] zijianjoy opened #298 "Consider removing commonLabels kustomize setter for `common` components"
### Context
https://github.com/kubeflow/pipelines/issues/3755
https://github.com/kubeflow/gcp-blueprints/pull/212#issuecomment-823482800
https://github.com/kubeflow/kfserving/issues/1660#issuecomment-896390630

### Description

The `commonLabels` field in kustomization.yaml will apply labels to both the `labels` field and the `selectors` field of resource. The original description of this issue is

[2021-09-03 08:07] 4j4y commented on #267
Any update on this?

[2021-09-04 05:02] zijianjoy opened #301 "Kubeflow 1.4 Release Tracker"
Pending:

- ~~Wait for https://github.com/kubeflow/manifests/pull/2033 to be merged.~~
- ~~Use kubeflow/manifests final 1.4 tag after release.~~
- ~~Make release candidate and final release for Google Cloud, needs to update tag version in document.~~

### P0:

- [x] https://github.com/kubeflow/pipelines/issues/5680 (2d)
- [x] #302
- [x] #308
- [x] https://github.com/kubeflow/gcp-blueprints/issues/

[2021-09-09 16:06] zijianjoy opened #302 "Upgrade Kubeflow manifests to 1.4, KFP to 1.7.0. (0.5d)"

[2021-09-09 16:55] zijianjoy opened #304 "Upgrade ASM to use the latest version (optional: explore install_asm -> asmcli) (2d)"
Upgrade ASM from 1.9.3 to 1.10.4.

Optional: http://cloud/service-mesh/docs/unified-install/asmcli-overview
asmcli is the new tool that we plan to migrate over in the future, but there are many changes that are pending for graduating from asmcli Alpha. Keeping the note below so we can use as reference when asmcli is ready.

[2021-09-09 17:12] zijianjoy commented on #304
Note:

- Need to install ingress gateway separately: https://raw.githubusercontent.com/GoogleCloudPlatform/anthos-service-mesh-packages/release-1.10-asm/samples/gateways/istio-ingressgateway.yaml
- For Compute Engine VM, we need to add `--mode vm` during asmcli installation: https://cloud.google.com/service-mesh/docs/gke-install-vm
- Disable Anthos API if we want to use the ASM standalone: https:/

[2021-09-10 17:18] zijianjoy commented on #304
Note:

- Consider using `--option legacy-default-ingressgateway` using asmcli

[2021-09-12 05:18] zijianjoy opened #306 "KFServing Web App UI integration (1d)"

[2021-09-12 10:19] #306 closed

[2021-09-13 15:18] zijianjoy opened #308 "Upgrade kpt to 1.x.x (3d)"
- https://github.com/kubeflow/gcp-blueprints/issues/294

- https://github.com/kubeflow/pipelines/issues/6100#issuecomment-884156844

[2021-09-13 15:19] zijianjoy commented on #308
https://github.com/kubeflow/gcp-blueprints/issues/294, https://github.com/kubeflow/pipelines/issues/6100#issuecomment-884156844

[2021-09-13 15:30] zijianjoy commented on #308
Summary of work after reviewing https://kpt.dev/installation/migration:
It needs to be applied to `kubeflow` and `management` folders.

- Change Kptfile format from `v1alpha1` to `v1`.
- Change `# {"$kpt-set":"foo"}` comments to `# kpt-set: ${foo}` in yaml files.
- Add configmap for values in `env.sh` to `kpt-setter-config.yaml`.
- Uses `apply-setters` mutator for high level Kptfile
- Update `kpt-

[2021-09-14 13:50] #304 closed

[2021-09-14 16:10] zijianjoy opened #309 "training-operator service not finding pods."
Tracking issue: https://github.com/kubeflow/manifests/issues/2018

[2021-09-14 17:59] zijianjoy commented on #308
Note:

Download kpt:
[code]

[2021-09-14 18:41] zijianjoy commented on #308
Questions:

1. Do we need to set environment variables in `env.sh`?

[2021-09-14 19:52] zijianjoy commented on #298
Consider using https://catalog.kpt.dev/set-labels/v0.1/

[2021-09-14 22:48] zijianjoy commented on #308
Draft:

- krmignore
- apply-setters
- kptconfig/kpt-setter-config.yaml
- kpt pkg get
- remove Kptfile

[2021-09-15 16:23] zijianjoy commented on #308
Created https://github.com/GoogleContainerTools/kpt/issues/2506 for `kpt pkg get` error.

[2021-09-15 17:16] zijianjoy opened #310 "Update documentations for Kubeflow 1.4 versions and new upgrade guidance."

[2021-09-18 18:06] zijianjoy opened #313 "Upgrade to the latest of kustomize"

[2021-09-18 18:06] zijianjoy commented on #313
Upgraded to kustomize 4.3.0

[2021-09-18 18:06] #313 closed

[2021-09-19 00:48] zijianjoy opened #315 "Change profile controller to use the released image"

[2021-09-19 00:49] zijianjoy opened #317 "Validate the E2E workflow using https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-e2e-mnist/kubeflow-e2e-mnist.ipynb"

[2021-09-19 09:29] #315 closed

[2021-09-19 09:34] #298 closed

[2021-09-19 23:44] zijianjoy commented on #317
### Spec

Kubeflow 1.4-rc.0
Platform: GCP
K8s: GKE 1.19.12-gke.2101
Image type: Container-Optimized OS with Docker (cos)
Library versions:

- !pip install kfp==1.8.0
- !pip install kubeflow-katib==0.12.0-rc.1

### Status

Katib - Launch experiment step is hanging until time out:

![hangingkatib](https://user-images.githubusercontent.com/37026441/133946744-bf054773-3e0a-4f90-b369-5af1aa0528da.png)

[2021-09-20 12:34] andreyvelich commented on #317
@james-jwu Can you check the logs from the Trials' pods ?

[2021-09-20 16:15] zijianjoy commented on #317
Thank you @andreyvelich ,

The pods show running state with message `containers with unready status: [tensorflow]`.  Some logs are as followed:

[code]

[2021-09-20 16:25] andreyvelich commented on #317
Can you also `describe` this pod ?
`kubectl describe pod <pod-name> -n kubeflow-user-example-com`

[2021-09-20 16:42] zijianjoy commented on #317
Sure thing! getting the log for pod:

[code]

[2021-09-20 17:00] andreyvelich commented on #317
For some reason, Istio sidecar annotation has not been disabled on the TFJob training containers.
I think it is related to this issue: https://github.com/kubeflow/tf-operator/issues/1403
cc @kubeflow/wg-training-leads

[2021-09-20 18:10] Jeffwan commented on #317
em. Let me have a check and try to bump the version first.

[2021-09-21 21:44] andreyvelich commented on #317
@zijianjoy I guess https://github.com/kubeflow/manifests/pull/2032 should resolve this issue, please can you try to use the latest training operator controller image and run it again.

[2021-09-22 11:13] zijianjoy commented on #317
Thank you @Jeffwan and @andreyvelich ! I validated that the latest change to use training operator v1.3.0-rc.2 fixed the issue.

cc @kimwnasptd , can release team pick this up for new manifest release candidate? https://github.com/kubeflow/manifests/pull/2032 Thank you so much!

[2021-09-23 17:55] #309 closed

[2021-09-24 16:42] zijianjoy opened #319 "Upgrade yq from v3 to v4. (with docker)"

[2021-09-24 18:45] zijianjoy opened #320 "Remove kubernetes image type and version pin, and default the executor to emissary executor."

[2021-09-25 23:12] zijianjoy opened #324 "Validate and update GCP-IAP example for KFServing (2d)"

[2021-09-26 00:07] #320 closed

[2021-09-26 01:46] #324 closed

[2021-09-27 17:14] #319 closed

[2021-09-27 17:40] #317 closed

[2021-09-27 17:46] #302 closed

[2021-09-27 17:48] zijianjoy commented on #308
While waiting for TODO in https://github.com/kubeflow/gcp-blueprints/pull/311 which are outside of the gcp-blueprints scope. Closing this issue. And the tips here are very useful too.

[2021-09-27 17:48] #308 closed

[2021-10-07 21:10] bwassie opened #326 "KPT requires kustomization.yaml to have a metadata.name field"
I was updating my gcp-blueprints to the latest version of this repo and I'm running into an error when trying to run `bash kpt-set.sh` for the management cluster:

[code]

I had to modify all kustomization.yaml files with this:

[code]

to get it to work

[2021-10-07 23:59] bwassie opened #327 "Some Kubeflow cluster base files missing"
For example:
https://github.com/kubeflow/gcp-blueprints/blob/dbde75f8c627a3558d3b21216c5012e54a60635e/kubeflow/common/istio/kustomization.yaml#L4

When running `make hydrate`, it fails because it can't find the base files.

[2021-10-08 01:09] zijianjoy commented on #327
Have you run `bash pull-upstream.sh`?

[2021-10-08 07:14] #326 closed, assigned to nobody

[2021-10-10 22:05] zijianjoy opened #329 "Explore Anthos Bare Metal integration https://cloud.google.com/anthos/clusters/docs/bare-metal/1.8/try/gce-vms-tf"

[2021-10-11 04:28] zijianjoy commented on #329
Error:

[code]

[2021-10-17 10:21] akhilvinvent opened #330 "Issue with Deploy Kubeflow Cluster"
Hi,

I am facing issue with "Deploy Kubeflow Cluster" steps mentioned at below link.

Below upstream directory was not created after running "bash ./pull-upstream.sh" mentioned in document.

gcp-blueprints/kubeflow/apps/pipelines/upstream

https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/

Error: ./gcp-blueprints/kubeflow/apps/pipelines/upstream/third-party/argo/upstream/manifests

[2021-10-18 06:38] bwassie opened #331 "Kubeflow pods do not start due to serviceaccounts not being found"
Management and Kubeflow clusters running on GKE 1.21.3-gke.2001 on a private cluster in separate projects.
The deployment process completes successfully but checking the pods, I see that many deploments in the `kubeflow` namespaces have not started any pods due to the corresponding service accounts not being found.

E.g.:

[code]

Checking for the serviceaccounts, I see that they are created:
`> k

[2021-10-19 20:43] zijianjoy commented on #331
Currently private cluster deployment is not supported. See https://www.kubeflow.org/docs/distributions/gke/private-clusters/

[2021-10-20 16:44] zijianjoy commented on #301
Track remaining items individually.

[2021-10-20 16:44] #301 closed

[2021-10-31 18:48] zijianjoy opened #332 "Kubeflow on GCP - 1.5 release tracker"
TODO:

- [x] #346
- [x] Switch to use KFP manifest in kubeflow/pipelines repo, instead of personal repo
- [x] need to upgrade KFP due to https://github.com/kubeflow/pipelines/issues/7336
- [x] Install both KFserving and KServe, KServe 0.7 requires compatible istio and knative-serving versions: https://kserve.github.io/website/0.7/admin/serverless/
- [x] Use PACKAGE_DIR to find kptconfig folder whe

[2021-11-01 13:43] edi-bice-by commented on #330
kubeflow apply fails at the install_asm step for me

install_asm: Downloading kpt..
...
install_asm: Downloading ASM..
...
install_asm: Downloading ASM kpt package...
install_asm: [WARNING]: Failed, retrying...(1 of 3)
install_asm: [WARNING]: Failed, retrying...(2 of 3)
install_asm: [WARNING]: Failed, retrying...(3 of 3)
make: *** [install-asm] Error 1

Stepping through and trying to do manually u

[2021-11-01 14:06] edi-bice-by commented on #330
Not sure if it matters for kpt but Darwin was set to arm64 in the following code

`download_kpt() {
  local OS

  case "$(uname)" in
    Linux ) OS="linux_amd64";;
    Darwin) OS="darwin_amd64";;
    *     ) fatal "$(uname) is not a supported OS.";;
  esac

  local KPT_TGZ
  KPT_TGZ="https://github.com/GoogleContainerTools/kpt/releases/download/v0.39.3/kpt_${OS}-0.39.3.tar.gz"

  info "Downloading

[2021-11-01 14:09] edi-bice-by commented on #330
Going through manually it was picking up the 1.0.0 kpt I installed as described in the docs. Seems for this particular step the 0.39 is needed so I changed to find it via relative path and used install_asm manually which worked

retry 3 ./kpt pkg get --auto-set=false "${KPT_URL}" asm

[2021-11-02 13:06] BoHuang2018 commented on #189
I had the same problem on GKE. The workload_identity_role cannot be created directly. Solution is to create a temporary cluster with workload pool, then deleted the temporary cluster immediately.  After this, the GCP project's workload pool can be used by Terraform/gcloud ....    Please refer to https://github.com/kubeflow/website/issues/2121

[2021-11-03 17:03] bwassie commented on #330
Are you running this on MacOS by any chance? I had the same issue when using MacOS and I switched to linux and it worked fine.

[2021-11-03 18:43] edi-bice-by opened #333 "no matches for kind "Gateway" in version "networking.istio.io/v1alpha3""
pulled latest from master 88d5cdddf85c819c1129cf36e8d1560a1785885a

deploying fresh cluster (different name after failed upgrade of existing cluster, clean up etc)

make apply produces

error: unable to recognize "common/istio/build/networking.istio.io_v1alpha3_gateway_kubeflow-gateway.yaml": no matches for kind "Gateway" in version "networking.istio.io/v1alpha3"

[2021-11-03 19:06] edi-bice-by commented on #333
Okay, this was my making.

Working on MacOS, it seems asm/install_asm needs and downloads a specific older version of kpt which it then cannot find and uses global PATH one.

So I modified install_asm script to find what kpt it needs and ran it manually. Later commented out asm in config.yaml components list so make apply would skip it.

After many tries and retries I cleaned up cluster tried a fr

[2021-11-03 19:43] edi-bice-by commented on #330
Yes, I am though I upgraded to bash 5.1 and have been managing so far except for a few things here and there.

[2021-11-04 20:26] edi-bice-by opened #334 "unknown command "r" for "yq""
using 1.4 tag

make[1]: Entering directory '/home/ubuntu/gcp-blueprints/kubeflow/common/iap-ingress'
rm -rf ./build && mkdir -p ./build
Error: unknown command "r" for "yq"
Run 'yq --help' for usage.

ubuntu@primary:~/gcp-blueprints/kubeflow/common/iap-ingress$ grep yq *
Makefile:NAME=$(shell yq r ../../kptconfig/kpt-setter-config.yaml 'data.name')

[2021-11-04 20:36] edi-bice-by commented on #334
Fixed

`diff --git a/kubeflow/common/iap-ingress/Makefile b/kubeflow/common/iap-ingress/Makefile
index c7797eb..fbb9b48 100644
--- a/kubeflow/common/iap-ingress/Makefile
+++ b/kubeflow/common/iap-ingress/Makefile
@@ -1,5 +1,5 @@
 build_dir?=./build
-NAME=$(shell yq r ../../kptconfig/kpt-setter-config.yaml 'data.name')
+NAME=$(shell yq '.data.name' ../../kptconfig/kpt-setter-config.yaml)
 # The kub

[2021-11-05 01:15] zijianjoy commented on #333
What is the ASM version you used? Is it related to https://github.com/kubeflow/gcp-blueprints/issues/260?

[2021-11-05 01:16] zijianjoy commented on #334
Potential fix: https://github.com/kubeflow/gcp-blueprints/blob/18bf45ad832712bc64bfd9428718dddc0823f8e1/kubeflow/common/cnrm/Makefile#L4-L5

[2021-11-05 01:25] zijianjoy commented on #334
Hello @edi-bice-by , can you try replacing the following line in https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/common/iap-ingress/Makefile#L2 to:

[code]

If this works, would you like to create a pull request for the fix? Thank you!

[2021-11-05 12:52] edi-bice-by commented on #334
@zijianjoy the patch I posted earlier worked as I replicated with yq4 what yq3 was doing.

Was able to finally deploy 1.4 and don't want to mess with it.

I see your code does the same thing so it will work as well. Will try a pull request.

[2021-11-05 13:16] edi-bice-by commented on #333
@zijianjoy I suppose you can say it's related to #260 in that it all seems to be due to MacOs - bit the bullet and set up a Linux VM. Everything worked much, much better then. I thought I was doing manually all that needed to be done but maybe I missed some stuff.

[2021-11-05 13:16] #333 closed

[2021-11-05 13:37] #334 closed

[2021-11-09 01:11] bwassie commented on #331
@zijianjoy I was actually able to get this to work by changing my firewall rules to allow the ports used by various services. This medium [article](https://medium.com/@bentanweihao/installing-kubeflow-1-3-on-an-existing-and-private-gke-cluster-895283d49ed1) helped me a bit.

[2021-11-09 01:11] #331 closed

[2021-11-09 15:39] zijianjoy commented on #331
That is awesome! Thank you @bwassie for sharing!

[2021-11-24 23:29] bsikander commented on #267
I think we should clarify here and in the [documentation](https://www.kubeflow.org/docs/distributions/gke/private-clusters/) that the managed version of kubeflow pipelines (AI Platform Pipelines) on GCP, do work with private GKE cluster. Only custom deployment of kubeflow on private GKE requires manual steps. For new comers, this is totally not clear.

[2021-11-25 00:31] zijianjoy commented on #267
@bsikander That is a good point. However, AI Platform Pipelines is the managed version of `Kubeflow Pipelines standalone`, not `Full fledged Kubeflow`. Therefore AI Platform Pipelines guidance lives in https://www.kubeflow.org/docs/components/pipelines/installation/overview/#google-cloud-ai-platform-pipelines. Feel free to contribute documentation there to explain that AI Platform Pipelines works

[2021-12-03 16:01] jal06 opened #336 "Kubeflow 1.4 installation : error when creating cert-manager"
I try to install Kubeflow 1.4 in my GCP project according to [documentation](https://v1-4-branch.kubeflow.org/docs/distributions/gke/deploy/)

When executing "`make apply`" (step Deploy Kubeflow) , I get the below error :

[code]

Has anyone experienced similar kind of problem and what are the best ways to troubleshoot and solve the problem?

Some additional informations :

The version of the mana

[2021-12-07 21:34] zijianjoy commented on #336
Would you like to check if you have right configuration as in https://stackoverflow.com/questions/36375030/kubectl-error-from-server-no-ssh-tunnels-currently-open?

[2021-12-08 12:10] jal06 commented on #336
@zijianjoy thanks for your reply.

I had a look at the stackoverflow you mentioned, that's the same error, but :
1- 2 nodes are successfully deployed in my KF cluster
2- in my KF cluster, all the deployed pods are running (1 pod in namespace asm-system, 3 pods in namespace cert-manager, 4 pods in namespace istio-system, 23 pods in namespace kube-system, 0 pod in namespace kubeflow )
3- I didn't ch

[2021-12-08 17:21] zijianjoy commented on #336
Hello @jal06 , the SSH connection seems to be related to Compute Engine, rather than Kubeflow. I am suspecting the issue might be transient because there might be some upgrade/repair happening on your cluster. You might need to reconnect to your Kubernetes Cluster.

I think it is due to connectivity issue so you didn't have any resource in kubeflow namespace. You might need to rerun `make apply`.

[2021-12-10 11:27] jal06 commented on #336
Hello @zijianjoy,

A network admin told me that he applied some additional network rules a few days ago.
I am going to investigate in this direction

Thanks very much for your help.

[2021-12-10 13:44] sidiksoleman opened #337 "Failed creating kubeflow cluster because VPC is not identified"
We used VPC for our gcp project. Thus, we modified the cluster.yaml for both management cluster and kubeflow cluster.

In management cluster, we add two specification, i.e.
network: <name of vpc network>
subnetwork: <name of vpc subnetwork>

I tried to use the specification here: https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containercluster#vpc_native_container_

[2021-12-10 14:18] jackychow opened #338 "deploy management cluster without docker"
I'm following this kubeflow guide: https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/
trying to deploy a management cluster to GCP. It's stated that there's a dependency on docker and I also hit the error that docker is required while executing kpt-set.sh.

As docker has changed their terms and requires a paid subscription, I cannot use that for my company.
Is there a way to

[2021-12-10 17:35] zijianjoy commented on #336
Thanks for the update @jal06 . Once you find the solution, you can close this issue.

[2021-12-19 07:42] zijianjoy commented on #337
Hello @sidiksoleman , we currently do not support VPC with Kubeflow cluster. Welcome contribution if you find out the solution.

[2021-12-19 07:52] zijianjoy commented on #338
@jackychow If you are deploying Kubeflow using your own account, I think you will still be able to run docker CLI without payment. But if you want to call the Kubeflow deployment with paid subscription, then you can find out the docker dependency and replace them with local yq command `YQ=yq` in https://github.com/kubeflow/gcp-blueprints/search?q=docker. It is mainly because we have been using doc

[2022-01-03 10:52] piernikR opened #343 "cloud-endpoints-controller:0.2.1 does not exist"
When trying to deploy kubeflow 1.4 on GCP using the official guides https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/
the image "gcr.io/cloud-solutions-group/cloud-endpoints-controller:0.2.1" is not available. As a result, the endpoint controller pod does not start and the UI interface is not accessible.

[2022-01-13 22:03] #338 closed

[2022-01-28 18:17] zijianjoy opened #341 "Documentation update for Kubeflow 1.5 on Google Cloud"
- [x] 1. Needs to follow https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/#authorize-cloud-config-connector-for-each-kubeflow-project regardless of multi-project
- [x] 2. Use shortcode for Kubeflow version on GCP: https://github.com/kubeflow/website/blob/master/layouts/shortcodes/pipelines/latest-version.html
- [x] 3. Upgrade version to 1.5.
- [ ] 4. We might need to specify the r

[2022-02-01 13:48] jal06 commented on #336
My GCP project has been deleted.
Closing this issue now because I am unable to do more investigations. Thanks for your help.

[2022-02-01 13:48] #336 closed

[2022-02-02 22:05] zijianjoy opened #342 "Integration with Config Controller"

[2022-02-03 00:33] zijianjoy commented on #343
Thank you so much for the report!

I contacted the image owners and we have changed the image location to mitigate the issue. Please follow the steps below:

### Mitigation

For the lines in these locations: https://github.com/kubeflow/gcp-blueprints/search?q=cloud-solutions-group
1. Change `gcr.io/cloud-solutions-group/cloud-endpoints-controller` to `gcr.io/ml-pipeline/cloud-solutions-group/cloud

[2022-02-03 20:16] zijianjoy commented on #343
Urgent release is now made. You can start using v1.4.1 for Kubeflow deployment on Google Cloud: https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.4.1

[2022-02-03 20:28] zijianjoy commented on #343
Urgent release is made: https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.4.1, you can now use v1.4.1 tag for deployment.

[2022-02-03 20:28] #343 closed

[2022-02-08 23:22] zijianjoy opened #346 "Change from 1.4.0 to 1.5.0 upstream manifest version."

[2022-02-08 23:24] zijianjoy commented on #346
cc @fakeskimo

[2022-02-08 23:24] fakeskimo commented on #332
Hello, James! I am here.

[2022-02-09 15:46] zijianjoy commented on #294
This issue should have been resolved with the latest gcloud version and kpt version (kpt v1.0.0-beta.6 or above). Would you like to give it a try? Thank you!

[2022-02-17 23:30] zijianjoy commented on #342
Done with https://github.com/kubeflow/gcp-blueprints/pull/347
And doc https://github.com/kubeflow/website/pull/3156

[2022-02-18 17:06] #346 closed

[2022-02-18 19:01] zijianjoy opened #349 "Support Kubernetes 1.22"
We need to migrate API versions to `v1`:

[code]

[2022-02-23 04:02] martham93 opened #352 "install_asm fails while running `make apply`"
Hello!

I'm trying to setup kubeflow on GCP and am following the [instructions here](https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/)/ the instructions from this repo's`kubeflow` directory [readme](https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/README.md).

However the `make apply` step fails on the `install_asm ` step with the following error.  I'm running the

[2022-02-25 22:11] zijianjoy commented on #352
Hello @martham93 , currently we don't support running `install_asm` on MacOS. It is the limitation of ASM. What you can do is to create a VM which is Linux to continue the deployment process. Another way is to try upgrading your bash to 5.1 as suggested in https://github.com/kubeflow/gcp-blueprints/issues/330. But keep in mind that you might encounter some other issues after this one.

[2022-02-26 05:39] zijianjoy opened #353 "Migrate to KServe and deprecate KFServing"

[2022-02-26 06:03] #353 closed, assigned to nobody

[2022-02-28 05:18] zijianjoy commented on #294
Marking this issue as resolved as we have released Kubeflow v1.4 for a while now. Feel free to reopen this issue if problem still persists.

[2022-02-28 05:18] #294 closed

[2022-03-05 02:15] zijianjoy commented on #201
Tip is included in https://www.kubeflow.org/docs/distributions/gke/deploy/management-setup/#fetch-kubeflowgcp-blueprints-package

[2022-03-05 02:15] #201 closed

[2022-03-05 02:18] zijianjoy commented on #102
Issue is obsoleted.

[2022-03-05 02:18] #102 closed

[2022-03-05 02:19] zijianjoy commented on #197
Going forward, we recommend using kustomize 4 for gcp-blueprints.

[2022-03-05 02:19] #197 closed

[2022-03-10 15:38] shannonbradshaw commented on #341
@zijianjoy we are getting ready to cut the docs branch. Where are we on items 2, 4, and 6 above?

[2022-03-11 03:07] zijianjoy commented on #341
@shannonbradshaw PR is made for https://github.com/kubeflow/website/pull/3195

[2022-03-11 14:38] #341 closed

[2022-03-21 02:16] kindomLee opened #357 "Automatically add namespace labels when creating user profiles"
When using Katib, the user namespace label is checked.

`katib.kubeflow.org/metrics-collector-injection: enabled`

Is there an automated way to solve the process of manually adding labels by the cluster admin?

[code]

[2022-03-21 06:02] kindomLee commented on #357
I see that the namespace has a default value of `katib-metricscollector-injection=enabled`, but it looks like it needs to be set to `katib.kubeflow.org/metrics-collector-injection: enabled`

[code]

[2022-03-22 01:05] kindomLee commented on #357
I just saw #354 now, and it looks like the problem has been solved in the new version

[2022-03-22 01:05] #357 closed

[2022-03-23 16:50] zijianjoy opened #360 "Kubeflow post-v1.5 Work items"
- [ ] Update CHANGELOG for this service account name change: https://github.com/kubeflow/gcp-blueprints/pull/359

[2022-04-04 19:14] edi-bice-by opened #363 "Kubeflow 1.5 Models UI is blank"
Deployed Kubeflow 1.5 from respective branch.

Created an InferenceService, kubectl shows it's ready.

Nothing (not even the models header) in Kubeflow central dashboard Models UI.

`ubuntu@primary:~/gcp-blueprints_kubeflow-saas-ml/kubeflow/contrib/kserve$ kubectl logs kserve-models-web-app-5cf4f7bbbc-xrszp -n kubeflow
[2022-03-27 22:33:38 +0000] [1] [INFO] Starting gunicorn 20.1.0
[2022-03-27 22:

[2022-04-13 00:03] tomdurrant commented on #363
I am getting the same issue. Any ideas on this?

[2022-04-14 23:04] zijianjoy commented on #363
It should be fixed by https://github.com/kubeflow/gcp-blueprints/pull/362, can you apply it temporarily?

[2022-05-31 06:07] zijianjoy opened #365 "Kubeflow on GCP - 1.6 release tracker"
## TODO

### Kubeflow 1.5.1 patch release
- [x] https://github.com/kubeflow/gcp-blueprints/pull/364
- [x] #366
- [x] Upgrade to kubeflow upstream 1.5.1, and upgrade KFP upstream to 1.8.2.
- [x] Update documentation https://github.com/kubeflow/website/tree/master/content/en/docs/distributions/gke

### Kubeflow 1.6 release
- [x] Upgrade to kubeflow upstream 1.6, and upgrade KFP upstream to 2.0.0-alp

[2022-06-10 21:35] zijianjoy opened #366 "Upgrade ASM to 1.13"

[2022-06-14 08:10] kindomLee opened #367 "Upgrade ASM cause CVEs affected"
We are experiencing CVE issues with the ASM(1.10) version we are currently using(kubeflow 1.5), and are wondering if there is a plan to update the update file as the upgrade file is outdated.
[kubeflow/asm/README.md](https://github.com/kubeflow/gcp-blueprints/blob/bef1ac8ddc42e708e55ac61d357619756e3b24b3/kubeflow/asm/README.md)

We also want to know if there are any other issues to be aware of if

[2022-07-11 08:34] aychang95 opened #371 "502 error on loadbalancer due to incorrect path on backend health check"
I typically deployed kubeflow from manifests, but decided to try things out on GKE.

My deployment of a kubeflow cluster went smoothly until I tried to login via. IAP on the loadbalancer URL.
I kept getting a 502 error and realized the loadbalancer was failing health checks on the backend service.
I saw in GCP console for the backend service that the `Paths` field was set to `/` when it should hav

[2022-07-17 08:31] gkcalat commented on #367
We have upgraded ASM to v1.13 in [Kubeflow 1.5.1 release](https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.5.1). Please, see the [latest instructions in master branch](kubeflow/asm/README.md). If you wish to upgrade it yourself, please follow the [official instructions for ASM](https://cloud.google.com/service-mesh/v1.12/docs/upgrade-path-old-versions-gke).

[2022-07-17 11:57] gkcalat commented on #366
Closes #367

[2022-07-18 16:33] #371 closed

[2022-07-19 03:42] gkcalat opened #375 "Remove deprecated KFServing in v 1.6"
- Remove KFServing to be compatible with the [changes Manifests](https://github.com/kubeflow/manifests/pull/2239)

[2022-07-22 11:43] m1pl opened #376 "LB health checks failing on v1.5.1"
I deployed a kubeflow cluster following the docs with the v1.5.1 tag. Everything was successful, but instead of the dashboard I see
[code]
The LB in GCE shows this:
![Screenshot from 2022-07-22 13-41-38](https://user-images.githubusercontent.com/4653607/180432169-091b2c88-e445-4816-bcbc-2537506c440b.png)

The exact same deployment with tag v1.5.0 is working fine.

Any help would be appreciated.

[2022-07-23 15:03] skrawn commented on #376
I ran into the same issue, you need to patch two files to fix the health check for backend service: https://github.com/kubeflow/gcp-blueprints/issues/371

[2022-07-24 09:21] gkcalat commented on #376
This is the same as #371. It was fixed in #374.

You can pull the latest version from [master branch](https://github.com/kubeflow/gcp-blueprints/tree/master) and follow [the deployment instructions](https://www.kubeflow.org/docs/distributions/gke/deploy/) or wait for [Kubeflow v1.6 release](https://github.com/kubeflow/gcp-blueprints/issues/365), which is expected in August 2022.

[2022-07-24 09:21] #376 closed

[2022-08-04 17:35] gkcalat opened #377 "Remove deprecated cloud-endpoints-controller"

[2022-08-12 21:37] pablofiumara opened #379 "ASM upgrade fails"
Environment: GCP
Kubeflow version: 1.5.0

Starting from 1.5.0 files (https://github.com/kubeflow/gcp-blueprints/tree/v1.5.0), I updated them using the following two PRs:

https://github.com/kubeflow/gcp-blueprints/pull/369
https://github.com/kubeflow/gcp-blueprints/pull/374

The only change I did was to set desired ASM version to [1.11.8-asm.4+config1](https://github.com/GoogleCloudPlatform/anthos

[2022-08-16 19:17] gkcalat commented on #379
Hi @pablofiumara!

Thank you for reaching out. Could you please try deploying from master branch on a new GKE cluster? To do so, please follow [these instructions](https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/), but use master branch:

[code]

If the error persists, please check [the troubleshooting guide](https://www.kubeflow.org/docs/distributions/gke/troubleshooting-gke/#50

[2022-08-16 19:36] pablofiumara commented on #379
Hi @gkcalat !

Thanks for your answer.

Deploying from master branch on a new GKE cluster works. However, my main goal is to upgrade an existing Kubeflow v1.5 cluster.

If I clone master branch, fill in with the details of my existing cluster and execute make apply, I get the following error

_resource mapping not found for name: "myClusterName-kfp" namespace: "myProjectId" from "build/sql.cnrm.cl

[2022-08-16 21:09] #360 closed

[2022-08-16 21:09] #375 closed

[2022-08-16 21:09] #377 closed

[2022-08-16 23:54] pablofiumara commented on #379
More information

If I execute:

_kubectl --namespace=istio-system get ingress envoy-ingress -o 'jsonpath={.metadata.annotations.ingress\.kubernetes\.io/backends}'_

I get:

_{"k8s-be-31224--3b6f3f13cf074301":"UNHEALTHY"}_

[2022-08-17 00:05] pablofiumara commented on #379
More information

If I execute

_kubectl describe  service/istio-ingressgateway -n istio-system_

I get:

_Name:                     istio-ingressgateway
Namespace:                istio-system
Labels:                   app=istio-ingressgateway
                          install.operator.istio.io/owning-resource=unknown
                          install.operator.istio.io/owning-resource-namespace=is

[2022-08-17 00:17] pablofiumara commented on #379
Although I executed the following command the old asm version is there

_kubectl patch service -n istio-system istio-ingressgateway --type='json' -p='[{"op": "replace", "path": "/spec/selector/service.istio.io~1canonical-revision", "value": "REVISION"}]'_

[2022-08-17 01:11] pablofiumara commented on #379
I see a difference: canonical-revision vs ~1canonical-revision

[2022-08-17 10:40] gkcalat commented on #379
Thank you for the details. It seems that the Load Balancer's Health Check marks your backend as UNHEALTHY. You can try the following:

[code]

Regarding `ASM` upgrade - we have the guidelines [here](https://www.kubeflow.org/docs/distributions/gke/deploy/upgrade/#upgrade-asm-anthos-service-mesh).
1. First, you will need to change the upstream folder for the `istio` component in [pull-upstream.sh](h

[2022-08-17 10:49] gkcalat commented on #367
We are planning to upgrade ASM to 1.14 in KF 1.6.0. The master branch is now using ASM 1.13 and you can check it out. Given this, I am closing this issue. Let me know if the issue is still relevant.

[2022-08-17 10:49] #367 closed

[2022-08-17 18:58] gkcalat commented on #365
/reopen

[2022-08-17 21:17] pablofiumara commented on #379
@gkcalat Thank you for your answer. Executed those two commands and it helped. However, after I execute the following command I get a 502 error again

_kubectl label namespace myNamespaceName istio.io/rev=asm-1143-0 istio-injection- --overwrite && kubectl rollout restart deployment -n myNamespaceName_

If I execute

_kubectl describe pod ml-pipeline-ui-artifact-786b4cdfcf-mz9vm -n main_

I get thi

[2022-08-17 21:33] pablofiumara commented on #379
I had to execute the following command again

kubectl patch backendconfig iap-backendconfig -n istio-system --type json -p '[{"op": "replace", "path": "/spec/healthCheck/requestPath", "value": "/healthz/ready"}]'

Then I executed

 kubectl delete pods --all -n myNamespaceName

And that error went away.  However, still getting 502. If I execute:

kubectl --namespace=istio-system describe ingress en

[2022-08-17 22:00] pablofiumara commented on #379
I had to execute the following command again

`kubectl patch backendconfig iap-backendconfig -n istio-system --type json -p '[{"op": "replace", "path": "/spec/healthCheck/requestPath", "value": "/healthz/ready"}]'`

Then I executed

` kubectl delete pods --all -n myNamespaceName`

And that error went away.  However, still getting 502. If I execute:

`kubectl --namespace=istio-system describe ingre

[2022-08-17 22:21] pablofiumara commented on #379
Executed` kubectl rollout restart deployment -n kubeflow `but still it fails.
Made the following changes, executed `make apply` but still it fails https://github.com/kubeflow/gcp-blueprints/pull/374

[2022-08-17 22:27] pablofiumara commented on #379
I had to execute the following command again

`kubectl patch backendconfig iap-backendconfig -n istio-system --type json -p '[{"op": "replace", "path": "/spec/healthCheck/requestPath", "value": "/healthz/ready"}]'`

Then I executed

` kubectl delete pods --all -n myNamespaceName`

And that error went away.  However, still getting 502. If I execute:

`kubectl --namespace=istio-system describe ingre

[2022-08-17 22:28] pablofiumara commented on #379
Executed` kubectl rollout restart deployment -n kubeflow `but still it fails.
Made the following changes, executed `make apply` but still it fails https://github.com/kubeflow/gcp-blueprints/pull/374

[2022-08-18 08:43] gkcalat commented on #379
@pablofiumara

I propose you to test the following procedure on a new GKE cluster before running it on your production cluster.

1. Deploy Kubeflow v1.5.0 with an older ASM on a new cluster by following [these instructions](https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/). Set necessary environmental variables as shown in [kubeflow/env.sh](https://github.com/kubeflow/gcp-bluepri

[2022-08-18 18:10] pablofiumara commented on #379
@gkcalat Thank you very much for your answer. I am getting the same error. What else can we try? Every pod is running, health check path and port are correct but I am getting error 502. Thanks in advance

[2022-08-18 19:28] gkcalat commented on #379
@pablofiumara

As I mentioned earlier, you should check [these instructions](https://www.kubeflow.org/docs/distributions/gke/troubleshooting-gke/#502-server-error).

You can also try deleting `backend-updater` and `iap-enabler`. It might be easier at [GCP console](https://console.cloud.google.com/): chose **Kubernetes Engine** -> **Workloads**, filter the workloads by cluster name, choose `backend

[2022-08-18 23:01] pablofiumara commented on #379
@gkcalat Thanks again. There's something I don't understand about those instructions. It says:

`Check that the path is /healthz and corresponds to the path of the readiness probe on the envoy pods`

If I execute

`kubectl describe pod ml-pipeline-ui-artifact -n main`

I get

`  Warning  Unhealthy  35m (x2 over 35m)  kubelet            Readiness probe failed: Get "http://oneIp:15021/healthz/ready"

[2022-08-19 00:30] pablofiumara commented on #379
If I execute

`kubectl logs ml-pipeline-ui-artifact- -n main`

I get

[code]

I think this might be the cause of the 502 error. Why do you think this is happening?

[2022-08-19 15:19] pablofiumara commented on #379
If I execute

`kubectl describe service istio-ingressgateway -n istio-system`

I get

[code]

[2022-08-19 15:41] gkcalat commented on #379
Let's take a step back. You mentioned earlier that setting port and path for the Health Check helped to resolve the issue. That means that the problem was in the Health Check.

I see that you have ASM 1.14 running on the cluster. Have you removed the older ASM? If no, delete it with:
[code]

Then delete `backend-updater` and `iap-enabler` workloads in the GCP console. These two are supposed to be

[2022-08-19 15:58] pablofiumara commented on #379
@gkcalat Thank you very much for your new answer. I have just executed:

`kubectl delete Service,Deployment,HorizontalPodAutoscaler,PodDisruptionBudget istiod-asm-1104-6 -n istio-system --ignore-not-found=true`

Then I made sure backend-updater and iap-enabler are deleted.

Then updated the backend config executing again those two commands (I got the message _backendconfig.cloud.google.com/iap-bac

[2022-08-19 16:36] pablofiumara commented on #379
I have just executed

` kubectl patch service -n istio-system istio-ingressgateway --type='json' -p='[{"op": "remove", "path": "/spec/selector/service.istio.io~1canonical-revision", "value": "asm-1143-0"}]'`

and now I am able to access Kubeflow dashboard. It seems that command does not apply to Kubeflow clusters

@gkcalat Apart from a cluster with Kubeflow 1.5 installed, I need to upgrade ASM for

[2022-08-19 17:19] gkcalat commented on #379
I am glad we sorted out this issue. I am closing this for now.

As per KF 1.3 upgrade, you can read [this page](https://cloud.google.com/service-mesh/docs/upgrade-path-old-versions-gke) to get a better understanding of the ASM upgrade process and its limitations. Next, you can try deploying KF 1.5 on GKE 1.21, but with adjusted ASM version to match KF 1.3. We used ASM 1.9.3-asm.2+config2 in KF 1.3

[2022-08-19 17:19] #379 closed

[2022-08-23 23:58] pablofiumara-azumo opened #382 "Three issues when upgrading from Kubeflow 1.3 to 1.5: Training Operator, Katib and artifacts"
1) Training operator: When executing make apply, I get:

[code]
2) Katib

If I execute

`kubectl logs  katib-db-manager -n kubeflow
`
I get

[code]
If I execute

`kubectl describe pod katib-mysql -n kubeflow
`
I get

[code]
3) I get the following error

![image](https://user-images.githubusercontent.com/74205824/186285977-cba538c2-e496-416e-8f27-67fa4950b4cc.png)

[2022-08-23 23:59] pablofiumara-azumo commented on #379
@gkcalat Thank you very much. While upgrading from Kubeflow 1.3 to 1.5, I am getting the following errors https://github.com/kubeflow/gcp-blueprints/issues/382

[2022-08-24 00:01] pablofiumara-azumo commented on #379
@gkcalat Thank you very much. While upgrading from Kubeflow 1.3 to 1.5, I am getting the following errors https://github.com/kubeflow/gcp-blueprints/issues/382

[2022-08-24 00:02] pablofiumara commented on #379
@gkcalat Thank you very much. While upgrading from Kubeflow 1.3 to 1.5, I am getting the following errors https://github.com/kubeflow/gcp-blueprints/issues/382

[2022-08-25 16:41] TylerBrabham opened #383 "Applying config connector fails with gatekeeper webhook issue."
I'm trying to install kubeflow from master branch.

When I run the command `make apply-kcc`, I get the following error.

kubectl --context=kf-mgt apply -f manifests/build/cnrm-install-system
W0825 12:40:48.896003   38085 gcp.go:120] WARNING: the gcp auth plugin is deprecated in v1.22+, unavailable in v1.25+; use gcloud instead.
To learn more, consult https://cloud.google.com/blog/products/containe

[2022-08-25 17:29] pablofiumara commented on #382
@zijianjoy Can you share your technical opinion about this, please?

[2022-08-26 23:09] pablofiumara commented on #382
@fabito Can you share your technical opinion about this, please?

[2022-09-07 05:53] gkcalat opened #384 "Race condition in KServe CRD"
Deployment of Kubeflow fails after running `make apply` from kubeflow folder with the error message:

[code]
However, after rerunning `make apply` the problem resolves.

Should we consider moving KServe CRDs and applying them separately before deploying the runtime resources to have a gap in time between.

[2022-09-07 06:05] gkcalat opened #385 "Upgrade ASM to 1.14.1"
* [Platform-agnostic Kubeflow](/kubeflow/manifests) distribution has [migrated to Istio 1.14](https://github.com/kubeflow/manifests/pull/2233)
* ASM 1.14 became available

Should we migrate to ASM to 1.14?

[2022-09-08 04:04] gkcalat opened #386 "Endpoint is not available after deployment"
Behavior: endpoint is not available after deployment

Cause: for time to time `iap-enabler`,  `backend-updater`, and `cloud-endpoints-enabler` workloads fail to finish IAP setup due wrong timing.

[2022-09-08 18:21] #385 closed

[2022-09-08 18:43] gkcalat commented on #386
Fixed in [v1.6.0](https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.6.0)

[2022-09-08 18:43] #386 closed

[2022-09-08 18:44] gkcalat commented on #384
Fixed in [v1.6.0](https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.6.0)

[2022-09-08 18:44] #384 closed

[2022-09-08 18:46] gkcalat commented on #349
Fixed in [v1.6.0](https://github.com/kubeflow/gcp-blueprints/releases/tag/v1.6.0)

[2022-09-08 18:46] #349 closed

[2022-09-08 22:03] zijianjoy commented on #363
New release Kubeflow 1.6 should have fixed it.

[2022-09-08 22:03] #363 closed

[2022-09-14 09:53] kindomLee opened #389 "ASM make hydrate failed"
asm make file will use `asmcli-precheck` during the hydrate, where the `bash` built in commands `pushd`, `popd` are used.
This will make the runtime error because of the program  default`/bin/sh' is used as the shell.

[code]

[2022-09-15 00:21] pablofiumara opened #390 "[sdk] ssl.SSLError: [SSL: WRONG_VERSION_NUMBER] wrong version number"
### Environment

*  KFP version: 1.8.1
*  KFP SDK version: 1.6.2
*  All dependencies version:
kfp                          1.6.2
kfp-pipeline-spec            0.1.16
kfp-server-api               1.8.5

### Steps to reproduce
It happens on GCP, on a Kubeflow 1.5 cluster

To reproduce you should execute the following code:

[code]
### Expected result

I should get a pipeline id

Instead, I get

Trace

[2022-09-15 17:45] gkcalat commented on #390
Hi @pablofiumara!
where you able to create `kfp_client`? Can you share what you set as `host`?
Could you share what line results in the exception?
Do you have a pipeline with name `aPipelineName`?

[2022-09-15 20:43] pablofiumara commented on #390
Hi @gkcalat ! Thank you very much for your answer.

I was able to create a kfp_client. I set `https://cluster-name.endpoints.my-gcp-project.cloud.goog/pipeline` as host

The following line results in the exception

`pipeline_id = kfp_client.get_pipeline_id(name="aPipelineName")`

I have a pipeline with name `aPipelineName`

[2022-09-15 21:37] gkcalat commented on #390
@pablofiumara could you please repeat all steps share the full Traceback (all outputs)?

[2022-09-15 23:57] pablofiumara commented on #390
@gkcalat Thanks for your answer. Here's the full traceback

  File "/Users/user/.pyenv/versions/3.9.9/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Users/user/.pyenv/versions/3.9.9/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/Users/user/src/stovell/project/src/stovell/kubeflow/pipelines/my-pr

[2022-09-16 14:54] gkcalat commented on #390
Thank you, @pablofiumara. It seems that the issue is unrelated to GCP distribution of Kubeflow.
I am closing this as you have [another thread in pipelines repo](https://github.com/kubeflow/pipelines/issues/8267). Follow up over there.

[2022-09-16 14:54] #390 closed

[2022-09-22 23:02] chensun commented on #382
@pablofiumara do you use the Cloud SQL DB or in cluster DB?

[2022-09-22 23:08] pablofiumara commented on #382
@chensun Thank you very much for your answer. I use Cloud SQL DB

[2022-09-22 23:12] zijianjoy commented on #382
@pablofiumara One consideration is that we might want to upgrade mySQL version to `MYSQL_8_0`: https://github.com/kubeflow/gcp-blueprints/blob/master/kubeflow/common/managed-storage/cloudsql/sql-instance.yaml#L24. Can you try this and verify if the Katib can connect to new database?

[2022-09-22 23:13] zijianjoy commented on #382
cc @gkcalat for upgrading MySQL version in the future release.

[2022-09-22 23:27] pablofiumara commented on #382
@zijianjoy Thank you very much for your answer. I will try that

[2022-09-27 22:59] gkcalat opened #391 "Upgrade MySQL to 8.0"
As MySQL 8 is a default version in GCP and katib, it was proposed to upgrade MySQL version to 8.0.

        cc @gkcalat for upgrading MySQL version in the future release.

_Originally posted by @zijianjoy in https://github.com/kubeflow/gcp-blueprints/issues/382#issuecomment-1255648227_

Additional docs:
* [MySQL 8.0 release notes](https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-ser

[2022-09-27 23:00] gkcalat commented on #391
/cc @zijianjoy

[2022-09-28 17:37] zijianjoy commented on #391
FYI, MLMD and Argo have already migrated to MySQL 8. And KFP on AI Platform Pipelines also allows us to configure MySQL 8 connection too. That means that the usability on MySQL 8 should be verified already. However, we need to do the followings:

1. Upgrade KFP base mysql deployment to v8: https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/third-party/mysql/base/mysql-deployment

[2022-10-03 23:17] gkcalat commented on #382
@pablofiumara were you able to fix this issue?

[2022-10-03 23:17] pablofiumara commented on #382
@gkcalat I have not had time to work on that

[2022-10-14 06:46] chensun opened #392 "No metrics shown in the UI"
Get the following error from api-server
[code]

[2022-10-14 18:13] #392 closed

[2022-10-17 18:29] #389 closed

[2022-10-17 18:29] #391 closed

[2022-10-17 20:26] gkcalat commented on #389
Hi @kindomLee!
Thank you for reporting. This issue has been fixed in v1.6.1 release.

[2022-11-04 18:45] zijianjoy opened #395 "Kubeflow on GCP - 1.7 release tracker"
## TODO

- [x] #405
- [x] #404
- [x] #406
- [x] #412
- [x] #408
- [x] #407
- [x] Test dependencies with newer versions (Kuberentes, istio, etc.)
- [x] No need to enable ASM independently https://www.kubeflow.org/docs/distributions/gke/deploy/project-setup/#set-up-project-and-api-scopes. https://cloud.google.com/service-mesh/v1.9/docs/gke-project-setup.
- [x] Explore IAP using commandline: http://c

[2022-11-09 12:05] Lasica commented on #181
For me it was related to kubernetes version. The manifest here for version 1.6.1 is not compatible with 1.22 kubernetes api. Either downgrading or taking the newer version of Application CRD worked fine:
https://github.com/kubernetes-sigs/application
Api is no longer in beta.

[2022-11-12 18:19] JPBedran opened #396 "Endpoint not accessible after deployment 1.6.1"
/kind bug

Hi all,
Have been trying to deploy kubeflow but unfortunately after every deployment the endpoint to the UI remains unreachable.

I have had several attempts in fixing this but without any success at it.

Depl. Description:
 - Deployed both clusters in a new project in us-east1 as recommended in the docs.
 - Installation of everything runs smoothly.
 - Both management and KF cluster are

[2022-11-14 23:34] gkcalat commented on #396
Hi @JPBedran!

Could you Link you deployment logs (printouts in the terminal)?

1. What do you get after running:
[code]
    If you don't have `nslookup` installed, you can get it by:
[code]
    or
[code]

2. What do you have listed in endpoints?
[code]

[2022-11-14 23:47] JPBedran commented on #396
Hey @gkcalat, Thanks for the reply!

Sure, the nslookup returns an NXODMAIN error, I havea couple of other attempts and metrics in the descriptions above also.

 - Running gcloud endpoints services list, the endpoint is there.
[code]
 -Deployment print-out:
[code]
This is the final part I could recover, i can rerun it now to get it full, but itll take a few minutes.

 - Also, i ran a local dns ser

[2022-11-15 00:57] JPBedran commented on #396
Hey @gkcalat, the full deployment output:

[code]
The values are <NAME>, <PROJECT_NUMBER>, <CLIENT_ID> and <SECRET> are correct, just substituted them for public use.

[2022-11-15 06:35] gkcalat commented on #396
Thanks!
Can we try checking the log of `cloud-endpoints-enabler` pod?

It might be better to change <KF_NAME> variable, removing [this line](https://github.com/GoogleCloudPlatform/kubeflow-distribution/blob/v1.6.1/kubeflow/Makefile#L87), and running (**this will create a new kubeflow cluster**):
[code]

Once deployed you can get the logs:
[code]

[2022-11-15 09:26] JPBedran commented on #396
Hey @gkcalat,
Np, im doing all that now, just as a note, in my attempts, ive commented the delete cloud-endpoints-enabler, and running  kubectl -n istio-system logs deployment/cloud-endpoints-enable i get "GET /healthz HTTP/1.1" 200 -"

Ill redo it now, and let you know what I get from the new depl.

[2022-11-15 14:04] JPBedran commented on #396
Hey @gkcalat, done, and now I see the difference hahaha.

running kubectl logs cloud-endpoints-enabler-575954dd89-58x98 -n istio-system

[code]

running gcloud endpoints services list I get:
[code]

From all the errors there that I checked, the only one that prevailed post install was the cloud tracer permission, it wasnt on the IAM list.

[2022-11-15 16:09] gkcalat commented on #396
From deployment logs you have a service account `kubeflow-admin`:
[code]
but the `cloud-endpoints-enabler` uses kubeflow-**test**-admin@<PROJECT>-kf.iam.gserviceaccount.com

That could be the reason why you are getting this error:
[code]

I was not able to reproduce your error. Did you run all of [these steps](https://github.com/GoogleCloudPlatform/kubeflow-distribution/issues/396#issuecomment-131

[2022-11-15 19:00] gkcalat commented on #396
Synched with @JPBedran in Slack. It turned out to be the local DNS cache. Other users should not be affected. Closing this issue.

[2022-11-15 19:00] #396 closed